[2017-08-16 18:35] legierski opened #1 "Single-touch display in SP4"
Hi Jake,

First of all, love the kernel, it saved me from running the SP4 with cheapo 2.4ghz-only wifi card occupying the only USB port - I can now use the built-in wifi without any issues. Thanks!

That being said, the issue I'm experiencing now (compared to a kernel I used before) is that the touch behaves as if I was using the mouse to click around, so to speak. SIngle-touch instead of expected

[2017-08-16 20:03] jakeday commented on #1
I'm glad you're liking the kernel! I'm always working on getting better support for the Surface devices, so make sure you keep up to date!

As for your issue, it's actually not a problem with the driver in the kernel. Xorg gives you a few different options on how to treat the input device. You can take a look at my udev rule (99-ipts.rules) for how I'm using it. Just save it to /etc/udev/rules.d/

[2017-08-20 01:28] #1 closed

[2017-09-08 07:34] cydia2020 opened #4 "Sleep doesnt wake up"
G'day there

Sleep doesn't seems to work on a Surface Book with 16.04LTS

Others seems fantastic except the camera are not supported yet

Good job getting the kernel work for Surface devices, it's always been a pain to install Linux on surface until this point.

[2017-09-08 09:48] iddover opened #5 "Surface Laptop: Keyboard Doesn't Work"
I'm sorry to report this issue but I've tried the .deb kernel and touch start to work but no the keyboard, If I could het you in any way, pls tell me!

[2017-09-08 09:51] iddover opened #6 "Compilation fails :("
Also I've tried to compile the kernel in FC26 but I get this error

make[1]: *** No rule to make target 'firmware/intel/ipts/ipts_fw_config.bin', needed by '__fw_modbuild'.  Stop.
--

MAybe I'm doing somethig wrong because I've never compile kernel before

[2017-09-08 21:24] yodahuang opened #7 "Touchscreen not work after the 4.13 commit"
Hi there,

I was using 4.12.10 kernel and the touch functionality was fine. After I install the new kernel and `sudo cp -R root/* /`, I lost the touch support.

Thanks for your work!

[2017-09-08 22:49] jakeday commented on #4
Did you make sure to run the additional steps in the README?

[2017-09-08 22:49] #4 closed

[2017-09-08 22:50] jakeday commented on #6
You need to grab the file from the git repo and copy it to that location and try compiling again.

[2017-09-08 22:50] #6 closed

[2017-09-08 22:51] jakeday commented on #5
I'll look into this. The identifiers are there and correct now, so it should see it. Unfortunately I don't have a device to test on so I'm kinda guessing. :)

[2017-09-08 22:52] jakeday commented on #7
For 4.13, it works as long as it's docked and powered. I'm working on fixing the issue with the driver for 4.13 series at the moment. For now, you can stick with the 4.12 series (and I updated it to 4.12.11).

[2017-09-09 00:38] cydia2020 opened #8 "Multi-touch and Pen do not work on 4.14.x"
Hey mate

Pen does not seem to work on my Surface Book (not performance base)

Is there a fix to this?

Cheers

`sudo lsinput` result
/dev/input/event0
   bustype : BUS_HOST
   vendor  : 0x0
   product : 0x5
   version : 0
   name    : "Lid Switch"
   phys    : "PNP0C0D/button/input0"
   bits ev : EV_SYN EV_SW

/dev/input/event1
   bustype : BUS_HOST
   vendor  : 0x0
   product : 0x6
   version :

[2017-09-09 01:08] jakeday commented on #8
According to you lsinput, the pen is detected and setup just fine. Did you pair and enable the correct mode?

[2017-09-09 12:01] cydia2020 commented on #4
Yes, I did run them, but closing the lead and open it after a few minutes only opens a black screen

[2017-09-09 12:19] iddover commented on #5
I will send you one If I could!! But I'm sorry to tell you that I cannot affoard it :(

The laptop is my daugter's laptop (I have a old fashion Centrino 2 VAIO thath works very well) but I thing that is like putting hangcuts to her mind to teach how to handle this Windows S thing... FTSG.

Then you are my only option in the world to install linux in this laptop beauty, If you need I coud run some

[2017-09-10 02:27] xabotage commented on #8
Love the work you've done here, thank you for making this so simple.

Just installed 4.13, experiencing the same issue. From reddit (https://www.reddit.com/r/SurfaceLinux/comments/6tbnqx/jakedays_kernel_for_surface_bookpro_4/dmfd1p8/), it appears that this is because multitouch is not enabled. However, as the commenter notes, attempting to enable multitouch via `# echo 1 > /sys/kernel/debug/ipts/m

[2017-09-10 02:40] jakeday commented on #8
That's probably because that's not opened up in my kernels due to changes in 4.12+ of the mainline kernels. You'll have to change the default and the kernel and rebuild. Maybe I'll add it add in one of my next builds.

As for pairing the pen, yeah that's probably a good idea. However, I was just intending to build a kernel with full support more so than give a how to guide on using the Surface lol

[2017-09-11 23:33] Shadoukun commented on #8
Is changing the default in the kernel easy? Would it be a bother to write instructions on doing that until you have time to fix the debugfs?

And thanks again, your kernel is awesome.

[2017-09-12 06:03] XiWinnie opened #10 "SP4 Suspending doesn't work well"
Thanks for your works very much! Following your instructions, most of things work fine.However,once my SP4 is suspended,I have to wake up it by a USB keyboard,neither the type cover nor power button can resume it.In addition,Wi-fi doesn't work frequently  after suspending or hibernation.

[2017-09-12 08:26] auspex-nl commented on #8
I tried to set the default, but i'm unsure where to change this, I changed this line (144) in `kernel/drivers/misc/ipts/ipts-msg-handler.c`:

[code]
to:
[code]

Recompiled the kernel, but now the module crashes during boot with same error messages as before (null pointer dereference). Not sure if this is the right place to change the default or that it will still start in the default mode and then

[2017-09-20 15:26] yodahuang opened #11 "Wifi occasionally drop in WPA2 Enterprise network"
I have both 4.12 and 4.13 series of kernels installed on my Surface Book. Wifi is good in the normal home environment. But it's not so good in my university, where the following configuration is used:

- Wireless security: WPA2 Enterprise
- Authentication: Protected EAP (PEAP)
- CA certificate: AddTrust External CA Root
- PEAP Version: Automatic or Version 0
- Inner/Phase 2 authentication: MSCHAPv

[2017-09-21 13:47] ulf-nuernberger opened #12 "Kernel images starting with version 4.13 fail to load on Surface Book"
Hi,

while the 4.12 kernel images load correctly on my surface book, the images of the 4.13 series completely fail to load. After grub loads the kernel the display stays black and nothing else happens.
Did you encounter this in your environment too?

BTW: This happens only on the "surface book". The same kernel works like a charm on the Surface Pro 4  Platform.

Model: surface book
System UEFI 90.

[2017-09-26 16:33] bananflugan commented on #10
I have the same problem. After hibernation wifi has never worked for me, not with this kernel and not with any other kernel. Before, when i ran OpenSUSE i created this forum topic about it, https://forums.opensuse.org/showthread.php/525578-No-Wifi-networks-after-hibernation

[2017-10-02 05:08] xabotage commented on #8
I tried to adding:
 `ipts_switch_sensor_mode(ipts, TOUCH_SENSOR_MODE_RAW_DATA);`
to `ipts_start()` in `kernel/drivers/misc/ipts/ipts-msg-handler.c` after it already initializes the sensor mode (right after the line `ret = ipts_handle_cmd(ipts, TOUCH_SENSOR_NOTIFY_DEV_READY_CMD, NULL, 0);`, but that didn't work either (same null pointer error). But then, I don't really know what I'm doing.

Honestl

[2017-10-02 06:32] afzalarsalan commented on #11
Yeah I suffer from this issue and have resigned to the fact that the roaming function required for enterprise networks is too perplexing for this network driver. Have pretty much tried everything but the only solution seems to be to go back to linux 4.9 with the old wifi patch which ends up being shockingly stable

[2017-10-05 05:29] OpenIT4u commented on #5
I'm happy to help with any testing or providing any data.

[2017-10-05 13:37] rosingle commented on #11
same problem here.

[2017-10-05 13:38] rosingle commented on #10
same problem here, well I think this batch has still a long way to go ...

[2017-10-07 06:06] jeroen79 commented on #5
it doesn't seem to be a usb keyboard, windows give the following:

HID\VEN_MSHW&DEV_0096&Col01

parent: ACPI\MSHW0096\2&daba3ff&1

[2017-10-21 00:57] jakeday commented on #5
HID over ACPI should be working now in my 4.14.x series kernels.

[2017-10-21 00:58] jakeday commented on #7
This is fixed in my 4.14.x series kernel.

[2017-10-21 00:58] #7 closed

[2017-10-21 00:59] jakeday commented on #8
I'm rewriting this in my 4.14.x series kernel. I'm not finished, but it may work now!

[2017-10-21 00:59] jakeday commented on #10
Did you guys run the commands in my README.md file?

[2017-10-21 01:01] jakeday commented on #11
I fixed as many of the WiFi issues as I could in my 4.14.x series kernel, and this is one of them. Should be working now and I have verified it does.

[2017-10-21 01:01] #11 closed

[2017-10-21 01:02] jakeday commented on #12
I never actually finished the 4.13.x series kernels lol! I moved on to 4.14.x series kernel, which I just pushed out now and this is resolved. Enjoy!

[2017-10-21 01:02] #12 closed

[2017-10-21 05:09] OpenIT4u commented on #5
Excellent news, I'll test on Monday (my external keyboard is in the office!)

[2017-10-21 10:56] jeroen79 commented on #5
Great, il give it a test, does it need to be turned on in the kernel config?

[2017-10-22 06:36] PrinceRAndrew opened #13 "Two finger touchpad regression"
Hi, i just installed your kernel and it works way better than I ever thought it could! Nice work :) Only problem is that I can't use two finger scrolling on the touchpad anymore or two finger right click. Is there any way to regain this by somehow installing the touchpad driver again? Also, does this have multitouch functionaltiy because i'm only getting one touch right now - not that big of a dea

[2017-10-22 07:13] #13 closed

[2017-10-22 07:15] PrinceRAndrew commented on #13
I apologize. I was the age old case of... "Have you tried turning your system on and off again." Anyways this is great so thank you!

[2017-10-23 00:46] PrinceRAndrew opened #14 "WPA2 still unstable"
Hi i installed your kernel and it's wonderful, only problem is that the wifi is still unstable in my schools enterprise network. I lose connection anywhere from 2 min to 20 min after boot. I haven't found any kernel past 4.9 that is stable in this wifi environment, is there any way to magically port all your edits to a 4.9 kernel?
Here's my dmesg report. Lotta red :(((
[    6.676868] audit: type=1

[2017-10-23 01:09] jakeday commented on #14
This doesn't look like the latest 4.14 version of my kernel. Can you please give that one a try?

[2017-10-23 01:30] jakeday commented on #10
Assuming you run the commands in my README, you should be good on waking up. As for WiFi after that, it should be good with my 4.14 kernel.

[2017-10-23 01:30] #10 closed

[2017-10-23 08:12] jrevillard opened #15 "Proper patch files for other distributions"
Dear @jakeday,

Thank you very much for your hard work. I was wondering if it could be possible for you to generate/maintain proper patch files ? It would then be much easier for me to apply them on the official Gentoo kernel images ?

Best,
Jérôme

[2017-10-23 16:26] yodahuang commented on #11
I tried your 4.14.RC5 in Ubuntu, however, the normal Wifi or LAN connection does not work now.

[2017-10-23 16:39] jakeday commented on #11
Did you remember to apply the apparmor patch file mentioned in the instructions?

[2017-10-23 20:28] OpenIT4u opened #17 "apparmor-fix-4.14.patch does not cleanly apply on Ubuntu 17.10"
My WiFi was not connecting so I applied the apparmor-fix-4.14 patch.  It did not apply cleanly, but WiFi is now working.  Please see attached files.

[apparmor.zip](https://github.com/jakeday/linux-surface/files/1408698/apparmor.zip)

[2017-10-23 20:37] OpenIT4u commented on #5
Just tested.  I upgraded to Ubuntu 17.10 (from UbuntuGnome 17.04) first, then installed 4.14.  Unfortunately the built in keyboard still does not work (this issue needs to be re-opened).  I have attached a dump of the boot messages if that's any help.
[boot.log](https://github.com/jakeday/linux-surface/files/1408711/boot.log)

[2017-10-23 21:16] yodahuang commented on #11
Oh sorry, After applying that works.
BTW, in the `README` there's a typo `chmow` which should be `chmod`, and when do dpkg install, header should be in the front of image.
Thanks for your work!

[2017-10-23 22:26] jakeday commented on #15
I would much prefer to maintain the mainline kernel with my changes rather than patch files. Most distros have directions on how to compile their kernel from mainline, though.

[2017-10-23 22:26] #15 closed

[2017-10-23 22:28] jakeday commented on #17
The patch includes the change needed for dhclient and for cupsd. Your cleanly applied the change for dhclient, which fixed your WiFi. However, the cupsd patch failed as your distro has that one configure differently. I'm not going to support patches for every distro, but you can look in the patch and apply it manually if you like.

[2017-10-23 22:28] #17 closed

[2017-10-24 06:50] PrinceRAndrew commented on #14
Im sorry. Sometimes I do really stupid stuff and need someone to point it out to me. I installed the old kernel. I've been running the new one for a day now and it works like a dream. You're my hero sir! This makes linux for my classes actually enjoyable to use :))) thank you!!!

[2017-10-24 06:51] #14 closed

[2017-10-24 10:01] zccrs commented on #5
What information do you need, I can assist you with it

[2017-10-24 13:06] geoffholden commented on #8
Still not working in -rc6
[code]

Kernel output:
[code]

[2017-10-24 13:08] cydia2020 commented on #8
Yep, the kernel module still crashes of mode is set to 1, tested on Kali, tried both self compiled and prebuilt kernels
________________________________
From: Geoff Holden <notifications@github.com>
Sent: Wednesday, October 25, 2017 12:06:25 AM
To: jakeday/linux-surface
Cc: 池程 (Takumi Ikezaki); Author
Subject: Re: [jakeday/linux-surface] Pen does not work on Surface Book (#8)

Still not working in

[2017-10-24 13:09] jakeday commented on #8
Can you try testing the pen without adjusting the mode?

[2017-10-24 13:10] cydia2020 commented on #8
I did and it does not work unfortunately.
________________________________
From: Jake Day <notifications@github.com>
Sent: Wednesday, October 25, 2017 12:09:04 AM
To: jakeday/linux-surface
Cc: 池程 (Takumi Ikezaki); Author
Subject: Re: [jakeday/linux-surface] Pen does not work on Surface Book (#8)

Can you try testing the pen without adjusting the mode?

—
You are receiving this because you authored

[2017-10-24 19:43] jeroen79 commented on #5
I am also willing to help, can you tell me where the code for this keyboard is located in the kernel?

[2017-10-25 00:33] jakeday commented on #5
@zccrs I need the output of dmesg, lsusb and lsinput.

@jeroen79 It would be in the hid drivers.

[2017-10-25 02:28] zccrs commented on #5
dmesg:
`[ 2671.270748] evbug: Event. Dev: input2, Type: 2, Code: 1, Value: -1
[ 2671.270749] evbug: Event. Dev: input2, Type: 0, Code: 0, Value: 0
[ 2671.406780] evbug: Event. Dev: input2, Type: 2, Code: 0, Value: -1
[ 2671.406781] evbug: Event. Dev: input2, Type: 2, Code: 1, Value: -1
[ 2671.406781] evbug: Event. Dev: input2, Type: 0, Code: 0, Value: 0
[ 2671.438537] evbug: Event. Dev: input2, Ty

[2017-10-25 02:29] zccrs commented on #5
@jakeday lsusb log
Bus 002 Device 003: ID 0bda:8153 Realtek Semiconductor Corp.
Bus 002 Device 002: ID 0bda:0411 Realtek Semiconductor Corp.
Bus 002 Device 001: ID 1d6b:0003 Linux Foundation 3.0 root hub
Bus 001 Device 004: ID 093a:2510 Pixart Imaging, Inc. Optical Mouse
Bus 001 Device 003: ID abcd:1234 Unknown
Bus 001 Device 005: ID 24ae:4006
Bus 001 Device 002: ID 0bda:5411 Realtek Semiconductor

[2017-10-26 01:02] bketelsen commented on #5
[dm.txt](https://github.com/jakeday/linux-surface/files/1416641/dm.txt)
[lsi.txt](https://github.com/jakeday/linux-surface/files/1416642/lsi.txt)
[lsusb.txt](https://github.com/jakeday/linux-surface/files/1416643/lsusb.txt)
thanks for trying to fix this!

[2017-10-26 01:47] cydia2020 commented on #4
Suspend and hibernate does not wake up from black display

[2017-10-26 07:22] jrevillard opened #18 "No touch screen on my surfacebook (4.14-r6)"
Dear @jakeday,

I compiled your sources (4.14-r6) for my surface book on Gentoo and unfortunately my touch screen (nor the Pen) is not working. I see this in my dmesg logs:

[code]

I managed to get it working previously with a previous version but I do not remember which one exactly so I guess that the firmware is properly installed:

[code]

If it could help, here is the list of input devices:

[2017-10-26 07:46] MattB98 commented on #5
[dmesg.txt](https://github.com/jakeday/linux-surface/files/1417396/dmesg.txt)
[lsinput.txt](https://github.com/jakeday/linux-surface/files/1417397/lsinput.txt)
[lsusb.txt](https://github.com/jakeday/linux-surface/files/1417398/lsusb.txt)

Hope this helps - please let us know if you need anything else!

[2017-10-27 07:23] peter-sa commented on #8
I believe that I have some more patches that make the pen/multitouch mode work.  I will make a pull request with them in the next day or two.

[2017-10-27 11:44] navneet92 opened #19 "Pinch to zoom on touchscreen on Surface pro 4 with linux not working"
I am running your linux 4.12 kernel on surface pro4, i got everything  working i.e. single touch on screen, multi touch type cover, keyboard etc. But i could not get 2 fingers pinch to zoom on touchscreen to work.

I tried changing the mode to multitouch by:
echo 1 > /sys/kernel/debug/ipts/mode.
But my touchscreen stopped working from that.

[2017-10-27 19:40] peter-sa commented on #19
I believe that I have some more patches that make the pen/multitouch mode work. I will make a pull request with them in the next day or two.

[2017-10-27 23:29] jakeday commented on #18
Looks like it is detected and setup just fine. You might be missing a udev rule to configure it for X or just making X aware.

[2017-10-27 23:29] #18 closed

[2017-10-28 03:47] danielfrankcom opened #20 "Wifi drivers no longer working"
Hi, thanks so much for putting together this kernel! I installed it just now and everything was great, but after rebooting my wifi no longer works. It offers me a list of networks to connect to, but then it says "network is no longer connected" and gives up attempting to connect. In addition, when I click on a new network and it prompts me for a password, my type cover (surface pro 4) stops workin

[2017-10-28 03:53] danielfrankcom commented on #20
Update:

If I switch kernels back to the default, the wifi and the keyboard work flawlessly, but not the other features of the custom kernel such as the track-pad and the touchscreen.

[2017-10-28 18:49] jakeday commented on #20
If you're using the 4.14 kernel, make sure you apply the apparmor patch otherwise networking won't work.

[2017-10-29 16:48] PrinceRAndrew opened #21 "Error in apparmor"
Hey jakeday! Thank you for what you do! you are our hero.

You missed an "l" on line 36 of the apparmor patch in the word "dhclinet."

Also could you be so kind as to give a few instructions on how to change a surfacebook to multitouch mode. People on reddit seem to be confused too and trying to echo 1 into the ipts mode kinda crashes everything.

[2017-10-30 20:11] jakeday commented on #21
Fixed. Thank you!

[2017-10-30 20:11] #21 closed

[2017-10-30 20:11] #20 closed

[2017-10-31 12:46] Yanim commented on #19
How is the patch doing? Or any other way to too fix this/pen. ;)

[2017-10-31 12:48] Yanim commented on #19
to fix*

[2017-10-31 18:56] peter-sa commented on #19
Hi Yanim and all,

I am sorry for the delay.  Since my kernel is a bit different from jakeday's, I wanted to test the ported patches separately from my own kernel, which I use daily but has a slightly different focus from jakeday's. I planned to test the ported patches on hardware over the weekend, but unfortunately did not have time.  I will push the untested patches in an hour or so, so that int

[2017-10-31 19:22] jakeday commented on #19
@peter-sa I wasn't planning on doing any additional work for multitouch until after 4.14 is official. If you have some patches that might work, I would greatly appreciate it! I don't mind testing them either!

[2017-10-31 20:26] samsungrocks10 commented on #17
I am also on 17.10 and have actually tried patching it manually but now wifi(and Ethernet with a usb adapter) doesn't work on any of the kernels I have, what i would like to know is how to patch it manually. I dont really understand what's in the patch, I did try doing a "git diff <dir_here> <dir_here>" command but i think that's what bricked my wifi now. Oh and my kernel is on your 4.14.0-rc7. Th

[2017-11-01 00:58] Yanim commented on #19
Do any of you know what this guy did https://www.youtube.com/watch?v=Z0bIYOf3_rY to get his setup working? His kernel is from the arch AUR and is based on your kernel afaik. He provides some **very** vague instructions in the description but I can personally not make sense of them.

He writes "For the pen, I had to find its address via less /proc/bus/input/devices, and then change the last section

[2017-11-01 01:18] peter-sa commented on #19
Hi Yanim,

 I think this may refer to making the x11 driver (Wacom?) bind to the input device, rather than to the kernel driver which we are working on. Will you be around in ~30m? I will send my patches in that time.and am happy to help walk you through applying/troubleshooting them.

[2017-11-01 01:51] peter-sa commented on #19
@Yanim @jakeday I have pushed three patches that I believe have the most important of my modifications to the i915 driver here: https://github.com/peter-sa/linux-sb/commits/for-jakeday.  I have not tested with these patches merged on this kernel.  If one you would not mind testing, that would be great.

@jakeday I am glad that this is helpful - I have just recently discovered that you are also mai

[2017-11-01 02:02] peter-sa commented on #8
I have pushed some patches to https://github.com/peter-sa/linux-sb/commits/for-jakeday.  I believe that these should fix several of the issues that occur with the current kernel (including the null pointer dereference) by accounting for various recent DRM changes, but have not yet had a chance to test this particular kernel on my own hardware.

[2017-11-01 02:02] reaganch opened #22 "Surface pen not working"
I'm running Linux Mint 18.2 on a Surface Pro 4.
I just installed the 4.14.0-rc7 kernel and followed all your instructions from the readme, and although the touchscreen works, I cannot seem to get my surface pen to work. I tried the command "sudo echo 1 > /sys/kernel/debug/ipts/mode" to enable multi-touch, as inferred from discussions at https://www.reddit.com/r/SurfaceLinux/comments/6tbnqx/jakeday

[2017-11-01 13:06] jakeday commented on #19
@peter-sa Yeah, I have all of those changes in my 4.13 build. They introduce some strange behavior in 4.14, which is why I held off on them for now. Also, none of those changes have anything to do with multitouch or pen. Did you have other patches for those you were going to submit?

[2017-11-01 13:34] jrevillard commented on #18
@jakeday sorry to disturb you with this but I'm not able to make it working. Could you please help me to solve it ? Here is my Xorg log:

[code]

Thanks in advance for your help.
Best,
Jerome

[2017-11-01 14:08] jakeday commented on #8
@peter-sa As mentioned, the patches you pushed do not impact multitouch or the pen. They are similar changes to what I had in 4.13 and cause some odd behavior in 4.14.

[2017-11-01 16:55] geoffholden commented on #22
This is a duplicate of #8

[2017-11-01 16:56] geoffholden commented on #8
I can confirm that these patches do not fix the null pointer dereference.

[2017-11-01 17:25] jakeday commented on #22
@geoffholden Agreed.

[2017-11-01 17:25] #22 closed

[2017-11-01 17:58] peter-sa commented on #8
@jakeday  @geoffholden  I am sorry to hear that these changes do not appear to fix the behavior.  Are there any changes at all in the log?  On the kernel that I run, I had similar null pointer errors which were solved by these changes.  I will try again to compare the source trees between my kernel and yours.

[2017-11-01 18:03] geoffholden commented on #8
The backtrace is slightly different.
[code]

[2017-11-01 18:07] jakeday commented on #8
@peter-sa It's probably fine, I already have these things addressed in 4.14 and I'm just waiting for the final release. They still won't fix multitouch or pen.

[2017-11-01 18:12] peter-sa commented on #8
@geoffholden thanks for the backtrace.  Are the other parts of the OOPS entry the same?

@jakeday Interesting. Apologies for the false hope.  I can confirm that I have multitouch and pen working on a 4.14 kernel, so I will again try see if there are any differences between my kernel and this one.  I am very surprised though that these do not improve multitouch/pen because they both make changes in

[2017-11-01 18:17] peter-sa commented on #8
I have found one other important change, although I do not know if it will fix the issue.  It is part of my doorbell re-work so I lost it.  In `i915_guc_ipts_reacquire_doorbell`, the line `int err = __guc_allocate_doorbell(guc, guc->ipts_client)` should be `int err = __guc_allocate_doorbell(guc, guc->ipts_client->stage_id)`.  @jakeday apologies if I have rediscovered an unpublished change of yours

[2017-11-01 18:24] jakeday commented on #8
@peter-sa No worries! We'll get there! I just don't want to introduce new errors or weird behavior just to turn on multitouch if it's not stable yet.

[2017-11-01 18:25] peter-sa commented on #8
Also @jakeday on rc7 do you have a "Unexpected gfp: 0x4 (GFP_DMA32)" warning? It appears to be coming from ipts_allocate_default_resource() which is not multitouch/pen/raw_data related and so should be present even with single-touch.

[2017-11-01 18:27] jakeday commented on #8
@peter-sa I had that on rc7 at first, but I have it fixed in preparation for rc8.

[2017-11-01 18:29] jakeday commented on #8
@peter-sa @geoffholden I'll push all my changes from 4.13 and what I'm holding from 4.14 tonight so you can go ahead and look and test.

[2017-11-01 18:30] peter-sa commented on #8
Great, that should help with debugging, thanks!

Does that refer to the unexpected gfp, or the stage id passing in __guc_allocate_doorbell?

[2017-11-01 18:48] peter-sa commented on #8
@geoffholden Does anything change if you boot without the ipts debug mode set and/or change the debug mode default state?  I have been booting without debug mode, so it is possible that there is some race where resources must be initialized early in the boot process but are not if you switch later.

Also, what hardware are you on?  It is perhaps possible that SP4 is different from SB or some such.

[2017-11-01 18:57] peter-sa commented on #8
@jakeday @geoffholden  I cannot reproduce the issue at all.  I have built a kernel which is stock 4.7 + the changes in drivers/gpu/drm/i915 and drivers/misc/ipts from the for-jakeday branch of my repo (including booting in debug mode and switching later).  Although suspend/resume still causes catastrophic failure because of the GuC doorbell being lost, if I switch the mode immediately after boot I

[2017-11-01 19:08] geoffholden commented on #8
I can possibly check booting without debug mode set tomorrow, if you tell
me what I have to do to accomplish that.

As for hardware, I'm on a 2017 Surface Pro

On Wed, Nov 1, 2017, 4:18 PM peter-sa, <notifications@github.com> wrote:

[2017-11-01 19:17] peter-sa commented on #8
@geoffholden Switching out of debug mode requires commenting out/removing the `#define ENABLE_IPTS_DEBUG` in `drivers/misc/ipts/ipts.h`.  Unfortunately, it seems unlikely that that will fix the issue, as I still have no problem even with debug mode.

I don't have a 2017 Surface Pro around that I can test with unfortunately.  It is possible that there are some major hardware/firmware differences th

[2017-11-01 19:36] peter-sa commented on #19
@jakeday Just for my own understanding, I am curious about one thing that you mentioned there: you say "none of those changes have anything to do with multitouch or pen".  My understanding is that multitouch/pen is the only ipts codepath that uses the GuC command submission/GFX (in single-touch mode, the ME does all the processing), and so all code fixes that are in the i915/GuC command submission

[2017-11-01 19:38] peter-sa commented on #19
@Yanim what hardware do you have btw?  Although I know that these patches do not fix the issue for some people, I would appreciate it if you could test the kernel that I pushed and let me know whether or not it works/send logs, so that I can compare logs between a number of systems both where it works and where it doesn't.

[2017-11-01 23:32] jakeday commented on #8
@peter-sa Could you point out the location of your source for your 4.14.0 kernel with working multitouch and pen? I'd like to take a look!

[2017-11-01 23:39] jakeday commented on #19
Closing this one as it's, code wise, a duplicate of #8

[2017-11-01 23:39] #19 closed

[2017-11-02 04:06] valeryan opened #23 "Surface Book, Performance base with Surface Dock, no Monitor detected"
I installed your kernel and it is functioning well but I am still not able to get Linux to see the monitor I have connected to my surface dock. All the other things connected to the dock works just fine.  I see that in your know issues that the dedicated GPU in the performance base is not functioning. Do you know if this is why the system does not see monitors connected to the dock? Do you happen

[2017-11-02 11:29] geoffholden commented on #8
@peter-sa I've booted with the DRM debugging enabled, the output from dmesg is here: https://gist.github.com/geoffholden/8a676b097a77074e7887ffdc775ba5c5

[2017-11-02 13:13] jakeday commented on #23
It's not related to the dedicated GPU. The monitor only works if everything is plugged in and connected prior to powering on the Surface Book.

[2017-11-02 13:40] valeryan commented on #23
Hmm, I connect the dock before powering on but it still doesn't detect the monitor. Should it automatically detect the monitor or would I have to do some config stuff? Thanks for your help with this.

[2017-11-02 13:55] jakeday commented on #23
It will automatically add the monitor as a display device, but you would need to configure your system to use it as an output.

[2017-11-02 15:03] valeryan commented on #23
Thanks, I will look into that. Its Linux so I expected I am missing some crucial configuration step in getting this to work.

[2017-11-02 15:03] #23 closed

[2017-11-02 17:31] jakibaki commented on #8
Could anyone who still has the 4.13 build please upload it here? The google-drive link from the 4.13 branch unfortunately points to the folder where only 4.14 is.

[2017-11-02 17:45] jakeday commented on #8
What are you wanting 4.13 for? It was never finished.

[2017-11-02 17:55] jakibaki commented on #8
What issues (other than the camera) were there? I want it because of the broken multitouch support in 4.14.

[2017-11-02 18:02] jakeday commented on #8
I never finished porting IPTS to 4.13 and went straight to 4.14. You're not going to get multi-touch on 4.13 either. Multi-touch will be working shortly on 4.14, I'm just waiting on the official release.

[2017-11-02 18:32] jakibaki commented on #8
Ah, ok. I was confused by the fact that in the 4.13 branch both touch and pen were listed as working.

Thanks for the information!

[2017-11-02 18:39] jakeday commented on #8
That's my fault. I put work into the 4.13 build so multi-touch would be supported, but never finished the build anyway. Sorry for not being clear!

[2017-11-03 01:22] jakeday commented on #8
I re-uploaded the 4.14.0-rc7 builds (now named jakeday42 instead of custom). This adds better support for multi-touch and pen (meaning won't completely crash the system) but still isn't 100% due to changes in the i915 modules. I'm planning on finishing these after rc8 drops.

[2017-11-03 01:23] jakeday commented on #8
I'll push the source changes later tonight, still need to look into a resp msg handling issue. The latest build fixes the null pointer dereference error though.

[2017-11-03 10:40] navneet92 commented on #8
@jakeday I have tried to use your new 4.14.0-rc7 build. But, it not booting. My surface is getting stuck during boot.

[2017-11-03 11:05] jakeday commented on #8
Did the previous 4.14.0-rc7 build boot for you?

[2017-11-03 11:35] geoffholden commented on #8
The new build boots fine here. As you said, the null pointer dereference is gone, but there's still a resp msg handling issue stopping multitouch from working.

[2017-11-03 11:37] jakeday commented on #8
Yep, just like I said. :)

[2017-11-03 14:49] navneet92 commented on #8
yes..gt it. Some configuration issues due to multiple kernels. But, still multitouch problem.

[2017-11-03 16:56] jakeday commented on #8
Yep, multitouch is not complete for 4.14.0 yet. I'm working on it for the next rc (rc8).

[2017-11-03 23:02] jakeday commented on #8
Finished porting my changes over from 4.13 to 4.14. You can switch between modes without error or crashing now, and ipts is correctly loaded with the gpu for multi-touch mode. Still some things to work out as I mentioned with the i915 changes in 4.14.x, and those should be mostly settled in rc8 this Sunday. I'll push and upload here shortly.

[2017-11-03 23:53] jakeday commented on #8
The changes have been pushed to github and the prebuilt image files have been uploaded.

[2017-11-03 23:56] jakeday commented on #8
Just to note, multi touch and pen both now work if you either a) start out in multi touch mode or b) re-initialize your input devices after switching modes. I'll make this automatic for the official release of 4.14.

[2017-11-03 23:56] #8 closed

[2017-11-03 23:59] jakeday commented on #5
It's not seeing the HID device over ACPI still for some reason, so it never passes the control over to the hid core module to route. I'll look into what may be causing it over the weekend.

[2017-11-04 01:36] jakeday commented on #5
Just uploaded another build. This sets the hid ids to use the correct hid driver, and exposes the extract hid data over i2c.

[2017-11-04 05:56] MattB98 commented on #5
Thank you - I'll test on monday (keyboard's back in the office!)

[2017-11-04 08:54] bketelsen commented on #5
ooh happy saturday!  I'll try to test this today!

[2017-11-05 19:35] samsungrocks10 commented on #17
@jakeday Well, just ended up reinstalling ubuntu to fix my internet, gonna try installing the kernel back onto it

[2017-11-05 20:07] jakeday commented on #17
@samsungrocks10 In reality, you could just open up /etc/apparmor.d/abstractions/nameservice and /etc/apparmor.d/sbin.dhclient and add the missing lines that the patch would add. Each distro handles apparmor configs a little differently, so it's hard to have a one-size-fits-all patch. Also, based on some comments in the lkml, the patch won't be needed after rc8 drops.

[2017-11-06 08:46] MattB98 commented on #5
Sorry to report, keyboard is still not working on rc7.  Latest dumps attached.
[dmesg.txt](https://github.com/jakeday/linux-surface/files/1445505/dmesg.txt)
[lsinput.txt](https://github.com/jakeday/linux-surface/files/1445506/lsinput.txt)
[lsusb.txt](https://github.com/jakeday/linux-surface/files/1445507/lsusb.txt)

[2017-11-06 11:22] MattB98 commented on #5
Sorry to report that the keyboard is still not working with rc7.
[dmesg.txt](https://github.com/jakeday/linux-surface/files/1446010/dmesg.txt)
[lsinput.txt](https://github.com/jakeday/linux-surface/files/1446011/lsinput.txt)
[lsusb.txt](https://github.com/jakeday/linux-surface/files/1446012/lsusb.txt)

[2017-11-06 15:39] thekswenson opened #24 "systemd files changed locations"
This is to report that in Ubuntu 17.10 there are different locations for the systemd files.
So in the documentation where it says "Fix issue with Suspend to Disk:"
we need
`sudo ln -s  /lib/systemd/system/hibernate.target /etc/systemd/system/suspend.target`
ans
`sudo ln -s  /lib/systemd/system/systemd-hibernate.service /etc/systemd/system/systemd-suspend.service`

[2017-11-06 15:58] thekswenson opened #25 "enable multi-touch mode"
Thanks for compiling this kernel for us!

I'm wondering how to enable multi-touch so that the pen works.
Thanks again.

[2017-11-06 16:47] Yanim commented on #25
sudo echo 1 > /sys/kernel/debug/ipts/mode.

It enables the pen for me and works fine with pressure, and so forth. However, for me at least, the command also makes the touchscreen (with fingers) completely non-functional.

[2017-11-06 17:07] thekswenson commented on #25
Thanks @Yanim.  I get the same behaviour!

[2017-11-06 17:12] Yanim commented on #25
If the issue is still the same on rc8 it would probably be best to make a new issue/rename this one.

[2017-11-06 17:36] jakeday commented on #25
I applied the changes i had WIP from the 4.13 kernel (unreleased) into the 4.14 rc builds. Since there were a ton of changes to the i915 modules in 4.13 and 4.14, I had to re-do a lot of the IPTS modules. Single touch and pen both work now as you pointed out, but I hadn't finished multi-touch when changing modes. If you boot directly into multi-touch, it works, but that requires a kernel change. S

[2017-11-06 17:38] jakeday commented on #25
@limond That commit was just finishing the port of my changes from 4.13, there was a lot of earlier changes that were required as well.

As for the errors you see, that's the difference from the firmware versions. I package the 76 build, but 78 and 79 work as well (and are technically included in my firmware file). I would use which ever one works best for you.

[2017-11-06 17:49] thekswenson commented on #25
Thanks Jake!

On Mon, Nov 6, 2017, 6:38 PM Jake Day <notifications@github.com> wrote:

[2017-11-06 17:51] jakeday commented on #25
Sure thing! I'm trying to get everything working, but writing these drivers and rewriting other drivers can be a pain and time consuming. We'll get there! :)

[2017-11-06 18:05] jakeday commented on #24
Added a note to the README.md file. Thanks for pointing this out!

[2017-11-06 18:05] #24 closed

[2017-11-07 17:40] jakeday commented on #25
Multi-touch and pen both work on boot with my current test kernel, which I'll release later today.

[2017-11-08 01:17] jakeday commented on #25
Compiling build now. Will upload in a few minutes.

[2017-11-08 01:57] jakeday commented on #25
Pushed changes and uploaded kernel. Enjoy!

[2017-11-08 01:57] #25 closed

[2017-11-08 07:15] XiaodongAAA opened #26 "Screen keyboard popping up"
Hi jakeday,
Really thanks for your work!!
I installed the kernel according to your instruction. Solved my wifi problem which was quite annoying before. The touch screen also works, but anytime I touch the screen, the keyboard pops up. Do you have any idea have to stop the touch screen from popping up or better idea to solve it?

[2017-11-08 09:24] navneet92 commented on #26
@XiaodongAAA ..is multitouch working for you, with the new kernel?

[2017-11-08 10:15] XiaodongAAA commented on #26
@navneet92 Yes, mine (surface pro 4) is working. Seems everything is quite fine. Didn't check the pen though. But the screen keyboard is really annoying. This is a already-known bug of ubuntu 17.10. Hope someone could give a solution and make it work like in windows.

[2017-11-08 10:33] thekswenson commented on #26
Check out this thread:
https://askubuntu.com/questions/965250/on-screen-keyboard-popping-up-whenever-i-touch-screen

[2017-11-08 12:27] thekswenson opened #27 "kernel uploaded on Nov. 8 2017 doesn't have multi-touch support"
Thanks again for all your work.  It's making my surface pro 4 actually FUN TO USE with Linux!

You uploaded ubuntu .deb packages last night to https://goo.gl/QSZCwq.
They were supposed to include multi touch fixes from Nov. 8.

They don't appear to work on my machine after uninstalling your previous .debs and replacing them with the new ones.  The new kernel acts exactly as the previous one did;

[2017-11-08 13:45] oleid commented on #25
Thanks for uploading the new build.  It seems, however, that the touchscreen isn't working in multi-touch-mode, or something.

<pre>
Device:           ipts 1B96:006A UNKNOWN
Kernel:           /dev/input/event28
Group:            5
Seat:             seat0, default
Size:             293x165mm
Capabilities:     touch
Tap-to-click:     n/a
Tap-and-drag:     n/a
Tap drag lock:    n/a
Left-handed:

[2017-11-08 13:49] jakeday commented on #25
@oleid It looks like it's loading and is detected fine, and those errors can be ignored. Are you sure you have your udev rule setup correct and touchscreen configured?

[2017-11-08 13:50] jakeday commented on #26
@XiaodongAAA This is not related to the kernel, but to your distro. Follow the link that @thekswenson provided and you should be good.

[2017-11-08 13:50] #26 closed

[2017-11-08 13:51] jakeday commented on #27
@thekswenson The file names are the same with the new upload. One thing to keep in mind is that the device name is different for touchscreen in multi-touch mode. You'll need to setup your rule and configuration appropriately. Maybe I'll build that in to the next release.

[2017-11-08 14:35] thekswenson commented on #27
@jakeday Any chance you could give me a hint or some links to rule setup?

[2017-11-08 15:31] bketelsen commented on #5
Can we reopen this issue until we have confirmation of working keyboard @jakeday?

[2017-11-08 17:33] geoffholden opened #28 "Surface Pro 2017 / Book 2 / Laptop: Battery Status Not Working"
The new 2017 version of the Surface Pro has no battery status.
I don't know of any working kernel for this issue.
I suspect this is an ACPI issue, as I have the following lines in my kernel messages:
[code]

[2017-11-08 17:38] geoffholden opened #29 "Pen not working on Surface Pro 2017"
After trying the latest 4.14-rc8 kernel, I still have no pen support.

I've added the udev rules for the different devices in the 2017 version:
[code]

But evtest still gives me nothing:
[code]

[2017-11-08 18:13] jakeday commented on #29
Did you try repairing your pen?

[2017-11-08 18:15] jakeday commented on #27
@thekswenson The udev rules are in my repo. Can you give me the output of dmesg in multi-touch mode?

[2017-11-08 18:15] jakeday commented on #27
@thekswenson The udev rules are in my repo. Can you give me the output of dmesg in multi-touch mode?

[2017-11-08 18:23] geoffholden commented on #29
I've tried, but it doesn't help. /dev/input/event21 is the Bluetooth connection to the pen, and that reports the pen button (eraser end), but nothing else.

[2017-11-08 18:23] geoffholden commented on #29
I've tried, but it doesn't help. /dev/input/event21 is the Bluetooth connection to the pen, and that reports the pen button (eraser end), but nothing else.

[2017-11-08 20:26] oleid commented on #25
It would seem I missed your change of _99-ipts.rules_ on Nov 4th, since I installed that rule before Nov 4th. Trying that now.

[2017-11-08 20:37] oleid commented on #25
No change for me; I think I'm seeing the same as in #27, so let's continue there.

[2017-11-08 20:42] oleid commented on #27
I'm using the latest udev rules from the repo now. Just to make sure setup is correct: multi-touch is supposed to be mode 1, correct? And I should see:
<pre>
# cat status
sensor mode : 1
ipts state : 4
</pre>

What puzzles me is, that I don't get any output from `libinput debug-events`  when touching the screen in "sensor mode 1". For "sensor mode 0" I get lots of output, though. But then the touc

[2017-11-09 02:15] jakeday commented on #29
@geoffholden Can you get me the output of lsusb and lspci?

[2017-11-09 02:53] jakeday commented on #29
@geoffholden Nevermind, I figured it out.

[2017-11-09 02:55] jakeday commented on #28
@geoffholden Can you give me the output of this:

$ ls /sys/bus/acpi/devices

[2017-11-09 03:01] jakeday commented on #29
This should be working now with the build and changes I just pushed. You'll need to install the latest kernel and headers, use the new udev rule, and use the appropriate updated ipts_firmware package.

[2017-11-09 03:01] #29 closed

[2017-11-09 03:01] jakeday commented on #27
This should be working now with the build and changes I just pushed. You'll need to install the latest kernel and headers, use the new udev rule, and use the appropriate updated ipts_firmware package.

[2017-11-09 03:01] #27 closed

[2017-11-09 03:16] samsungrocks10 commented on #17
Oh, After I reinstalled Ubuntu and the rc7 kernel, it actually was working so I didn't have to mess with the/a patch anyway, but thanks @jakeday

[2017-11-09 07:17] oleid commented on #27
The build + udev rules alone didn't do a thing, However updating the firmware to v78 (I believe you only had v76 in the repo before) yields the missing _debug-events_. And on top, the `string Fatal Error` spam I  mentioned in #25 is gone. Hooray! :)

[2017-11-09 11:57] geoffholden commented on #29
Still no-go on the pen. :( Touchscreen works fine though.
[code]

[2017-11-09 12:19] navneet92 commented on #27
@oleid .so multitouch is working for you now?

[2017-11-09 12:20] oleid commented on #27
It is, yes.

[2017-11-09 15:48] thekswenson commented on #27
Multitouch and pen work on SP4 when using the v78 firmware.

[2017-11-09 15:51] thekswenson commented on #27
Multitouch and pen working on SP4 with the v78 firmware.

[2017-11-09 19:22] navneet92 commented on #27
@oleid can you try pinch to zoom on google maps?

[2017-11-09 19:28] oleid commented on #27
@navneet92 : works on gnome-maps, however not in firefox @ maps.google.com. I guess that might be related to firefox being an X application and I'm running wayland- not sure.

[2017-11-09 19:56] navneet92 commented on #27
Thanks. I will check on ubuntu tomorrow. Let's see if that works.

[2017-11-09 20:24] oleid commented on #27
Good luck!
In case you're using gnome-shell: I found a way to get automatic input transformation for the pen device working:

https://bugzilla.gnome.org/show_bug.cgi?id=790136

[2017-11-09 21:25] andreweskild opened #30 "Pen not working on Surface Pro 2017"
I tried your newest changes from last night, still no working pen here.
As requested, here is my dmesg output.
[dmesg-output.txt](https://github.com/jakeday/linux-surface/files/1459224/dmesg-output.txt)

[2017-11-09 21:25] oleid commented on #27
Multi-touch in firefox works when run

<pre>
MOZ_USE_XINPUT2=1 firefox
</pre>

[2017-11-10 05:31] andreweskild commented on #30
Also, I just tried using the different versions of ipts firmware files. Using v78 allows both single and multi touch, but pen movement is completely undetected. While using v76 or v79, single touch still works. Multi touch mode no longer works, but both touch events and pen events show up in dmesg. Hope that helps.

[2017-11-10 09:19] navneet92 commented on #27
@oleid are you using surface 2017?

[2017-11-10 09:54] thekswenson opened #31 "Surface Pro 4: Multi-touch Input Stops Working Until Screen Rotate"
I found a sure-fire way to get the multitouch input to stop working.

0. make sure you're in multitouch mode (as root "echo 1 > /sys/kernel/debug/ipts/mode")
1. open chrome
2. open google maps
3. move the map around (with even just a single finger, no need to pinch and zoom)
4. see that no touch input (single or multi) works after a little bit of fussing around

To get touch input to work again ro

[2017-11-10 17:12] jakeday commented on #31
@thekswenson What device and ipts firmware are you using?

[2017-11-10 17:13] jakeday commented on #30
@andreweskild Are you saying that the pen does not work with any of the firmware packages?

Would it be possible to get a dmesg from each firmware?

[2017-11-10 18:20] andreweskild commented on #30
That is correct, the pen doesn't work in any of the firmware packages. The one difference being that in the v76 and v79 firmware packages, pen movement events do show up in the dmesg output so it is at least receiving something from the pen. I will try to get dmesg from each firmware uploaded later today.
Thanks.

[2017-11-10 19:11] andreweskild commented on #30
Here are the dmesg outputs for each firmware. I also included the journalctl outputs, as I noticed the dmesg outputs seem to be spammed by evbug events. On the outputs for the v76 and v79 firmwares you can see a bunch of lines that look like this:

`ipts mei::3e8d0870-271a-4208-8eb5-9acb9402ae04:0F: error : severity : 1, source : 1, code : 250:255:255:255 string Fatal Error`

That is what I get wh

[2017-11-10 19:45] legierski commented on #31
@jakeday Same issue here. SP4 and ipts_firmware_v78 as per readme.

[2017-11-10 21:16] thekswenson commented on #31
SP4 with firmware v78

Kms

On Fri, Nov 10, 2017, 8:45 PM Peter Legierski <notifications@github.com>
wrote:

[2017-11-11 13:17] jakeday commented on #31
@thekswenson @legierski Did you try the other firmware versions?

[2017-11-11 13:18] jakeday commented on #31
Also, I can't seem to duplicate this on my Surface Book. Can you provide some logs?

[2017-11-12 22:06] PrinceRAndrew opened #32 "WPA2 wifi slowdown on most recent multitouch version"
Hi jakeday thank you for adding multitouch. It's basically perfect now! Only problem is that now ive been experiencing wifi slowdowns after about half an hour of use. I go from 160-200 mbps to 0.04 mbps :(
I sometimes goes back to normal after re-clicking on the wifi network or by restarting Network Manger. Sometimes though a restart is the only way to fix it..
This is my dmesg report which just p

[2017-11-13 02:10] jakeday commented on #30
This is due to incorrect ipts firmware files. As it turns out, the Surface Pro 2017 uses a slightly different device (MSHW0102) and needs the v102 ipts firmware files. These are now available in my repo.

[2017-11-13 02:10] #30 closed

[2017-11-13 02:11] jakeday commented on #31
Figured it out. This is fixed in my next build, which is the new 4.14.0 build (yay for no more rc!)

[2017-11-13 02:19] jakeday commented on #32
This is fixed in my latest build.

[2017-11-13 02:19] #32 closed

[2017-11-13 14:59] hobbeshunter opened #33 "VirtualBox misses header files"
First of all thank you for all your work. This is definitely the best kernel I had be running on my Surface Pro 4 for now.

There is only one issue: I can't run VirtualBox on it. I'm using Ubuntu 17.10 and VirtualBox straight from the [oracle ppa](https://www.virtualbox.org/wiki/Linux_Downloads). After I installed your kernel I tried to run `sudo dpkg-reconfigure virtualbox-5.2` which reported:
[c

[2017-11-13 18:14] jakeday commented on #33
This is an issue with VirtualBox. They will be updating to support 4.14 kernels shortly I imagine. It usually takes them a bit for newer kernels. You can see the ticket here:

https://www.virtualbox.org/ticket/17267

[2017-11-13 18:14] #33 closed

[2017-11-13 18:57] andreweskild commented on #30
You're amazing. Multi touch and pen working great here. One issue, though. The v102 firmware archive was missing the ipts_fw_config.bin file. I used the one provided in the v78 archive and it works great now.
Thanks!

[2017-11-13 19:05] jakeday commented on #30
@andreweskild Yeah, that's the same file. I'll get it re-uploaded with the missing file. Thanks for pointing it out and I'm glad it's working for you!

[2017-11-14 00:40] andreweskild opened #34 "Power/Volume buttons don't work on Surface Pro 2017"
Everything else is pretty much perfect, but unfortunately power and volume buttons are still non functional.
I'm not entirely familiar with how they are implemented, but from what I can tell, they are supposed to be implemented as acpi buttons. However, when pressed, they do not do anything, no messages appear in dmesg, and nothing shows when running acpi_listen. I also tried evtest, which display

[2017-11-14 03:34] jakeday commented on #34
I haven't finished the buttons for the Pro 2017 yet. I'll do that soon and report back here.

[2017-11-14 06:00] NickSica opened #35 "Loading Initial Ramdisk"
I've done this before so I believe I'm doing it correctly. The installation goes well but when I go to boot the kernel for the first time I get stuck at Loading initial Ramdisk... Usually I would try to figure it out on my own but Google yields very little that helped and my Linux skills are low. I tried various tags like verbose and removing quiet with no fixes, I reinstalled, and attempted to re

[2017-11-14 09:17] oleid commented on #35
What Distribution are you using and is there any output during boot (i.e. edit boot options from within the bootmanager, look for the line passing flags to the kernel and remove "quiet" and anything that looks like "splash" -- that will yield a more verbose boot).

[2017-11-14 09:20] oleid commented on #35
Oh, and what kind of Surface are you using?

[2017-11-14 12:17] jakeday commented on #35
Try reinstalling the kernel image and headers and send me the output. My guess is dkms is failing during installation and you need the latest patch files.

[2017-11-14 14:38] Sevimuelli commented on #35
I experienced the same issue. Ubuntu 17.04 worked well but when i upgraded to 17.10 I had the same problem. I had to use the Processor microcode firmware for Intel CPUs, found in Software and Updates under Additional Drivers. I don't have much experience on this topic but it seams to be the solution.
Slight lead: When you get stuck at Loading initial Ramdisk, just select a different kernel in grub

[2017-11-14 16:04] thekswenson opened #36 "apparmor-fix-4.14.patch has an outdated context"
The final part of the papparmor-fix-4.14.patch patch is:

[code]

But the context is wrong, as my file has the following lines as context:

[code]

[2017-11-14 16:06] jakeday commented on #36
@thekswenson Each distro handles apparmor contexts a little differently and it would be very difficult to maintain patches for each. You'll have to manually add the lines if the patch doesn't apply cleanly. To be more compatible, I'll take out the cupsd lines and just have the fix for dhclient in there.

[2017-11-14 16:06] #36 closed

[2017-11-14 16:07] thekswenson commented on #36
No problem.  I'm guessing the change came with 17.10.

[2017-11-14 16:09] jakeday commented on #36
Very likely. I just pushed an update to remove patching cupsd.

[2017-11-14 16:35] thekswenson commented on #31
With the 4.14.0 kernel I still have this issue, although I have to scroll and zoom a lot more until multitouch stops working.

I'm using the v78 firmware.   Multitouch doesn't work with the v76 firmware.  Is it worth trying the v79?

[2017-11-14 16:37] jakeday commented on #31
@thekswenson Look at the README.md and use the correct firmware version for your device.

[2017-11-14 17:06] NickSica commented on #35
Thank you everyone for the quick responses! I'm on Ubuntu GNOME 16.04 on the 2016 i7 surface book with dGPU. Last time I tried verbose nothing was produced but I'll try again.

[2017-11-14 17:07] NickSica commented on #35
I reinstalled once already but I'll do it again, do you just mean the terminal output?

[2017-11-14 17:08] NickSica commented on #35
I'm also able to boot completely into Ubuntu 16.04's generic kernel.

[2017-11-14 17:21] thekswenson commented on #31
I'm using the correct firmware version:  v78 for SP4
The bug persists.

[2017-11-14 17:43] NickSica commented on #35
Well Sevi's recommendation fixed it immediately! Thank you so much! Maybe add in a bit about it to warn others?

[2017-11-14 18:01] jakeday commented on #35
Done.

[2017-11-14 18:01] #35 closed

[2017-11-14 19:13] legierski commented on #31
Again, the same issue on my SP4 on v78.

[2017-11-14 19:29] jakeday commented on #31
If that's the case, I'll re-open the issue and look into it again.

[2017-11-15 14:48] hobbeshunter commented on #33
Thanks a lot and sorry for bothering you.

[2017-11-15 14:51] jakeday commented on #33
@hobbeshunter No worries! I'm happy to help!

[2017-11-15 21:10] HongorBat commented on #5
Hello @jakeday I just received my surface laptop and willing to install ubuntu ( This is my first time). I watched a lot of tutorials so I think i can install it, but can you give me exact details about keyboard issue? and Can I download surface laptop drivers and install it after i install ubuntu? thank you

[2017-11-15 21:21] bketelsen commented on #5
yes you can install ubuntu you'll just need an external (usb) keyboard/mouse

[2017-11-15 21:22] HongorBat commented on #5
but built in keyboard will work after installation or not?

[2017-11-15 21:37] bketelsen commented on #5
After you install the new kernel it should. But may not.  I don’t think there is a confirmed good install yet.

So you have to be prepared for the case that it won’t work

Sent from my iPhone

[2017-11-15 21:38] jakeday commented on #5
@bketelsen is exactly correct. There's been changes implemented, but I don't believe it's been re-tested in awhile. Let us know?

[2017-11-15 22:06] HongorBat commented on #5
Sure I will try it in the weekends

[2017-11-16 08:04] iddover commented on #5
A cannot try it these days just becauseo of this. https://answers.microsoft.com/en-us/surface/forum/surflaptop-surfupdate/surface-laptop-dont-boot-only-display-uefi-all-the/141490a9-3909-4e20-8f4e-937284362fc8?auth=1

[2017-11-16 09:59] MattB98 commented on #5
iddover - that's an MS issue, not a kernel issue.  I repartitioned in Windows 10 rather than using Linux tools to do it, so I've not hit that issue.

I'd not spotted there have been some updates, so I'll try and test in my lunch break or early tomorrow.

[2017-11-16 15:23] thekswenson opened #37 "Surface Pro 4: flaky wireless with the 4.14.0 kernel"
I've applied the apparmor patches, yet experience unpredictable wireless performance.
Half the time when I boot I'm incapable of connecting a network.  Sometimes only insecure connections work.  Other times, a secure connection works yet I cannot change to another one.

None of these problems happen running the Ubuntu 14.13.0-16-generic kernel.

The following is a sample dmesg output from the last

[2017-11-16 18:37] iddover commented on #5
@MattB98  - I know, so my Surfade is travelling now, so I coud not try

Nice to see that response:

![image](https://user-images.githubusercontent.com/31764115/32908953-81b0de4e-cb05-11e7-9638-62a57a5f39fa.png)

[2017-11-16 19:36] arprince commented on #37
^Upvote. Also getting random dropouts and slowdowns :( I updated to the most recent kernel and am on wpa2 enterprise.

[2017-11-16 19:56] jakeday commented on #37
Are you guys using the updated firmware files from marvell? Should I add those to my repo as well? I had this issue until I updated.

[2017-11-17 09:05] MattB98 commented on #5
@jakeday It's still not working :-(
[dmesg.txt](https://github.com/jakeday/linux-surface/files/1481673/dmesg.txt)
[lsinput.txt](https://github.com/jakeday/linux-surface/files/1481674/lsinput.txt)
[lsusb.txt](https://github.com/jakeday/linux-surface/files/1481675/lsusb.txt)

[2017-11-17 12:57] thekswenson commented on #37
No I'm not.  I'm not sure how to do that.  I'll look into it.

[2017-11-17 13:43] thekswenson commented on #37
There are many options for getting firmware and I'm not sure how to know which is the most recent or which is the one that works for you.  I did install the latest linux-firmware .deb from (https://packages.ubuntu.com/bionic/linux-firmware).  This did not solve the problem.

Other information I found was:

- https://www.reddit.com/r/SurfaceLinux/comments/6pmvpi/gitmarvellcom_alternative/
- https:/

[2017-11-17 14:35] navneet92 opened #39 "Surface Book 2: Multi-touch does not work"
Hi,

I am using latest kernel 4.14, and the ipts firmware version 102 on "surface book 2, model 1703". But, i couldn't get multitouch to work on it. Even for single touch, i need to enable it manually using the "sudo echo 0 > /sys/kernel/...". when i switched echo to 1 single touch also stopped working.
I have also added udev rules as /etc/udev/rules.d/99-ipts.rules. Also, in the starting, kernel

[2017-11-17 16:12] jakeday commented on #39
The Surface Book 2 uses the v101 ipts firmware. Are you using my updated udev rules?

[2017-11-17 16:29] andreweskild commented on #37
If you go here:
- https://www.reddit.com/r/SurfaceLinux/comments/6eau79/current_state_of_surfaces/
There should be a wifi section listed under your device on that thread. It links to a pastebin url with instructions on how to install the marvell firmware. I haven't had any issues with it so far.

[2017-11-17 16:50] oleid commented on #37
I'm experiencing occasional WiFi loss on artful, too. Only reboot helps in that case.

For the record : Assuming the git repo [1] has the latest firmware, then artful doesn't have the most recent blobs:
<pre>
$ LC_ALL=C diff -Nur  /lib/firmware/mrvl/ mrvl/
Binary files /lib/firmware/mrvl/pcie8897_uapsta.bin and mrvl/pcie8897_uapsta.bin differ
Binary files /lib/firmware/mrvl/pcieusb8997_combo_v4.bi

[2017-11-17 19:54] navneet92 commented on #39
Sorry..it ws v101 not v102 and i used the latest updated rules today.

[2017-11-17 19:56] jakeday commented on #39
@navneet92 Oh ok. So do you have the 13" or 15" model? Can you also get me the output of the below command?

ls /sys/bus/acpi/devices

[2017-11-18 02:11] jakeday commented on #28
The Surface Pro 2017 and Surface Book 2 both share the same MSHW0040 to read battery stats. I'll have to brush up on my DSDT to fix this unless someone is kind enough to help.

[2017-11-18 02:12] jakeday commented on #34
The Surface Pro 2017 and Surface Book 2 both share the same MSHW0040 to control the buttons. I'll have to brush up on my DSDT to fix this unless someone is kind enough to help.

[2017-11-18 02:13] jakeday commented on #39
@navneet92 Once you get me that output I can probably fix it. While you're at it, when single touch mode can you give me the output of this:

sudo dmesg | grep -i ipts

[2017-11-18 02:15] jakeday commented on #31
This should be fixed in my next update I'll be rolling out this weekend.

[2017-11-18 02:34] PrinceRAndrew commented on #37
Update: I updated the drivers as Andrew mentioned and now the wifi is rock solid. No dropouts whatsoever after a few hours of use. I totally recommend adding instructions to update the marvel drivers into the readme because I bet the issue is bound to happen to someone else using enterprise wifi. https://pastebin.com/aBLHBFak Thank you jakeday and andrewskild!!!!

[2017-11-18 06:44] navneet92 commented on #39
I am using 13'' model. I left my device in the office. I will send you the output next week.

[2017-11-18 13:54] tmarkov commented on #10
Don't these commands disable suspend completely and change it with hibernate?

[2017-11-18 18:52] andreweskild commented on #34
I'm not entirely familiar with dsdt patching, I'll spend some time with over the next couple days, see what I can come up with. On that note, to your knowledge is this an issue that only affects the pro 17/book 2, because I was under the impression that the pro 4 also used the MSHW0040 device to control the buttons

[2017-11-18 19:12] jakeday commented on #37
Awesome, I'll make note of this in my next push.

[2017-11-18 19:12] #37 closed

[2017-11-18 19:12] jakeday commented on #34
@andreweskild It's only an issue with the Pro 2017 and Book 2. The others use more of a standard DSDT from the BIOS.

[2017-11-18 19:13] jakeday commented on #5
After digging through this issue, it will be resolved by a patch to the DSDT as well. I'll look into this as soon as I'm done with the changes for the Pro 2017 and Book 2.

[2017-11-18 19:54] jakeday commented on #39
Fixed in latest push. Pay attention to the updated ipts firmware versions.

[2017-11-18 19:54] #39 closed

[2017-11-18 19:55] jakeday commented on #31
Fixed in latest push.

[2017-11-18 21:30] andreweskild commented on #34
I see. It would probably be helpful to have a look at the DSDT of the surface pro 4. I don't suppose you have a Surface Pro 4? And if so, would it be too much trouble to ask for a copy of your DSDT/SSDTs?
Thanks.

[2017-11-19 11:29] saveriomiroddi opened #42 "Specify status of DisplayPort"
I don't have this kernel installed, so I can't test it, but I'm very interested, in case it was supported.

Note: I can't unassign myself from the assignees list.

[2017-11-19 11:37] saveriomiroddi opened #43 "Specify apt behavior on `linux-firmware` package upgrade"
The guide suggests to overwrite the Marvell chip firmware files.

While correct, I suspect there is a problem with this when apt will find an update of the `linux-firmware` package (that includes those files (`dpkg -S /lib/firmware/mrvl/*.bin`)); likely, apt will find that there is a conflict, prompting the user with the choice of what to do.

I think it's worth confirming if this is the case, and

[2017-11-19 11:47] saveriomiroddi commented on #43
Tested this, and confirmed that while there is no prompt, there is actually an overwriting problem.

[2017-11-19 13:05] jakeday commented on #42
It's untested as far as I know. I don't have a dsiplayport adapter to test with either, unfortunately. I'll make a note of it though.

[2017-11-19 13:05] #42 closed

[2017-11-19 13:07] jakeday commented on #43
Either way, the user would have to notice the issue. As such, Id rather they pull the latest from the git repo and install. Hopefully the latest firmwares get added to linux-firmware soon and this becomes a non-issue.

[2017-11-19 13:07] #43 closed

[2017-11-19 16:19] Arlock opened #45 "Anbox & jakeday Kernel"
Thank you very much for this great kernel.
As far as I know everything is working as described on my SP4 i5 2016 and linux artul 2017
I do not know if this is the good place for this question:
 anbox allow to run android app on linux. When I tried to install it I get the following :
[code]

I am wondering if anyone could help me for this issue.

Cheers

[2017-11-19 16:20] andreweskild commented on #42
Can confirm that displayport works perfectly here

[2017-11-19 16:22] saveriomiroddi commented on #42
@andreweskild wow, this is great. which machine do you have exactly?

[2017-11-19 16:25] jakeday commented on #45
This is an issue with anbox not supporting 4.14 kernels, not just mine. There were changes to mainline 4.14 that anbox's modules are not compatible with. You'll have to wait until they update anbox.

[2017-11-19 16:25] #45 closed

[2017-11-19 16:41] Arlock commented on #45
Thank for your fast feedback. ;-)
Cheers

[2017-11-19 20:58] andreweskild commented on #42
I have the Surface Pro 2017 i5

[2017-11-19 22:26] legierski commented on #31
I'm afraid I'm still experiencing the same issue, zooming in and out of google maps, in less than a minute.

[2017-11-19 23:06] casainho commented on #42
My displayport works well but sometimes, if I disconnect, I just get a black screen but I can see the mouse pointer... maybe this can be an issue of Ubuntu 17.10.
Running on SP4.

[2017-11-20 13:07] thekswenson commented on #31
It takes me a lot longer (with google maps) now, but it can still happen.
You folks know a way to reinstate touch without rotate?  Rotate doesn't always solve the problem for me, when rotate works.

[2017-11-20 13:12] thekswenson commented on #37
This bug persists for me.  That being said, the wireless is much more usable than it used to be:  when reloading the kernel module and NetworkManager I manage to reconnect most of the time!
Thanks @jakeday!

Here is the script that I run to reconnect:

[code]

[2017-11-21 14:08] Sevimuelli opened #46 "Surface Book: Position of Pen doesn't match in tablet mode or multiscreen"
Thanks for all the great work you have done here.
Everything works pretty good now. I only experienced on issue. When I use my Surface Book as a Tablet and rotate it, for example i rotate 90°, then when I use the pen, the pointer isn't there where the pen is. If I move the pen left, then the pointer moves down and if I move the pen down, the pointer moves right. Same problem exists however i turn

[2017-11-21 14:43] thekswenson commented on #37
I vote to reopen this issue, since I would still classify my connection as "flaky".  There are times that I boot my SP4 and the wireless will never work, despite running the script I posted.  When the script does result in a connection, the next time I change network I can no longer connect to anything.

My experience with the default 17.10 kernel is much better, although nothing I would classify

[2017-11-21 14:48] jakeday commented on #37
@thekswenson That's odd, with the stock kernel I lose connection when walking around the office a I work in. With my kernel, it stays completely solid. This applies to both my Surface Book and Surface Book 2. Did you also disable random mac address assignments?

[2017-11-21 14:59] casainho opened #47 "Surface Pro 4: Solution for no wifi after hibernation"
Not every time hibernation works, sometimes it hangs - I am on Linux Ubuntu 17.10, SP4 I3. And after rebooting, hibernation works but wifi does not!! But I got it working, just like I had it before using kernel 4.4.39, with this script:
- call the script: hibernate.sh and put it as exec, in the folder: /lib/systemd/system-sleep/:
[code]

[2017-11-21 15:01] thekswenson commented on #37
haha.  odd.
I haven't enabled or disable anything that was not in the instructions.   How would I disable random mac address assignments?

[2017-11-21 16:03] thekswenson commented on #47
@casainho : does this script have to be put in a particular location?
I'm assuming that the pre will be run pre-hibernate and the post will be run post-hibernate if I name this file properly and put it in the right spot.

[2017-11-21 16:22] thekswenson commented on #37
As you had guessed @jakeday , I missed the update from a couple of days ago to /etc/NetworkManager/NetworkManager.conf.  Wireless is working much better now.  Thanks for the help!

[2017-11-21 16:48] thekswenson opened #48 "Surface Pro 4: advice on re-enabling touch after loss of input"
Once in a while I lose touch and pen input.  When this happens I can no longer switch to single touch mode (the command "echo 1 > /sys/kernel/debug/ipts/mode" hangs), and rotating the screen doesn't always work.  Hibernating doesn't work.

Does someone have any advice?  Can I reload a kernel module?

[2017-11-21 17:24] casainho commented on #47
call the script: hibernate.sh and put it as exec, in the folder: /lib/systemd/system-sleep/

[2017-11-21 17:25] casainho opened #49 "Ubuntu 17.10 -- enable touchpad horizontal scrool"
Execute: synclient HorizTwoFingerScroll=1

See here: https://askubuntu.com/questions/973484/re-enable-horizontal-scrolling-in-ubuntu-17-10

[2017-11-21 17:57] jakeday commented on #47
@casainho Can you submit a pull request to get this added to the repo?

[2017-11-21 17:57] #47 closed

[2017-11-21 18:00] jakeday commented on #46
The first issue should be fixed in my latest kernel push, due out tonight.

The second sounds like a configuration issue with your setup. I'm not sure the best way to adjust it for your setup, though, without doing the research myself.

[2017-11-21 18:01] jakeday commented on #49
This now a setting under Ubuntu 17.10, and really isn't an issue anyway.

[2017-11-21 18:01] #49 closed

[2017-11-21 18:52] geoffholden commented on #46
@Sevimuelli I'm not sure if the surface book is using the same code as my 2017 surface pro, but I had the same issue on Ubuntu 17.10. I ended up patching libwacom so that the pen was detected as a wacom (or wacom-like) tablet. You can see my changes here https://github.com/geoffholden/libwacom

[2017-11-22 10:22] casainho commented on #47
I will submit a pull request.

[2017-11-23 01:04] jakeday commented on #46
@geoffholden That is definitely the issue, but we'll need to add the ids of the other devices for full support.

[2017-11-23 01:06] jakeday commented on #48
@thekswenson Is this the same as #31 ? If so, can we just re-open that issue?

[2017-11-23 02:04] jakeday commented on #46
@Sevimuelli Let us know if that works for you so we can close this ticket.

[2017-11-23 09:52] thekswenson commented on #48
Issue #31 persists.
I wrote this issue as a way to get advice on how to recover when issue #31 crops up.

[2017-11-23 19:33] geoffholden commented on #46
@jakeday Are all the IDs in your udev rules devices that'll show up on the MEI bus? If so, I'll add those to my libwacom modifications. I could even build a deb package for us surface users.

[2017-11-24 12:29] navneet92 opened #51 "surface book 2: touch crashes after using continuously"
Hi,

I am using v137 firmware in surface book 2. The touch hangs and eventually crashes after using for 1-2 mins in google maps.

[2017-11-24 14:07] #51 closed

[2017-11-25 18:14] jakeday commented on #46
@geoffholden Yep, that's correct.

[2017-11-27 18:55] pierrebeaucamp commented on #12
Just going to drop in here and say that this issue seems to exists on all 4.13 kernels. See https://www.reddit.com/r/SurfaceLinux/comments/77e552/surface_book_will_not_boot_any_version_of_ubuntu/

It has something to do with Intel microcode, which I had to manually load in the bootloader in order for it work. See https://wiki.archlinux.org/index.php/Microcode#Enabling_Intel_Microcode_Updates

But

[2017-11-27 19:01] pierrebeaucamp commented on #15
I respect the decision and I think you should strive for whichever workflow suits you best - but I just want to add that having proper patch files makes this much more portable. I'm also more comfortable to apply patches my self rather than running an "unknown" kernel.

This shouldn't come off as a request as I'm already in your debt for providing this amazing kernel, I just wanted to add some foo

[2017-11-27 22:38] sqlboy2000 commented on #5
Just to chime in as well, new Surface Laptop, your instructions and files work great for everything except the keyboard. I have some time to return it if I need to but love it and would like to keep it if I can just get the keyboard working. Will donate for keyboard :)

[2017-11-28 06:53] Varun-Sethu commented on #5
I am pretty much in the same boat as @sqlboy2000, I am thinking about returning it and purchasing the Dell XPS but I love the keyboard too much.

[2017-11-28 22:20] bjornSkalkam commented on #5
Hi Jakeday,

I have just freshly installed Ubuntu 16.04 and used your solution. The touchpad is much better now and the touch screen is working, but the keyboard is not.

I'm on a surface laptop. If you need any help for information (maybe you don't own a surface laptop?) I can provide it for you, just hit me up :)

Thanks a lot for this project. I hope you'll find a solution :)

[2017-11-29 00:06] jakeday commented on #5
@bjornSkalkam I do not have a Surface Laptop, so testing is tough. This boils down to the keyboard being a hid device over acpi, but the DSDT exposed is not working to have it show up. This will require changes to the DSDT files, then everything will work. However, I don't have them and need to take a look to see what needs changed.

[2017-11-29 00:11] bjornSkalkam commented on #5
Is there any way I can help?

[2017-11-29 00:12] jakeday commented on #5
@bjornSkalkam Sure, pull all the files and make the edits. :)

Or half that lol!

[2017-11-29 00:13] bjornSkalkam commented on #5
I honestly have no idea where I can find them or how I do that. Can you explain it to somebody who has never tried Linux before and doesnt even know how all these things work? ;)

[2017-11-29 00:23] wmww commented on #5
I have access to a surface and some experience. I looked at https://wiki.archlinux.org/index.php/DSDT but it seems confusing af. I can get any files you need, or attempt edits if its not too difficult or risky (its a work computer, so I don't particularly want to knock it out for a day while I reinstall everything)

[2017-11-29 00:26] bjornSkalkam commented on #5
Yeah same as me. I can knock this out for a day to reinstall everything thought as i cleaned it completely when I installed linux earlier today. If you want, I could install teamviewer or some similar software and you could fetch those things yourself :)

[2017-11-29 00:34] wmww commented on #5
I did the decompiling stuff from the before mentioned Arch Wiki page. Maybe this is helpful. Good idea about letting him remote in. I would offer if it wasn't a work computer.

[Surface_Laptop_DSDT.zip](https://github.com/jakeday/linux-surface/files/1512087/Surface_Laptop_DSDT.zip)

[2017-11-29 00:47] sqlboy2000 commented on #5
I just want to say I appreciate everything you’ve done and I’m not trying to be a bother but I’m looking at a $2200 paperweight without keyboard support. Jake - would you keep it or return it based on what you know at the moment?

[2017-11-30 01:10] abutre commented on #33
Hello. The issue with Virtual Box seems to be solved, but reconfigure still fails while running check_module_dependencies.sh (debug output attached).
It seems caused by some links setup on kernel installation on /lib/modules/4.14.2-jakeday-surface :

build -> /home/jake/ipts/build/kernel
source -> /home/jake/ipts/build/kernel
[check_module_dependencies.log](https://github.com/jakeday/linux-surface

[2017-11-30 14:31] abutre opened #52 "Surface Pro 4: Unable to install Virtual Box"
Hello. The issue with Virtual Box seems to be solved (#33), but reconfigure still fails while running check_module_dependencies.sh ([check_module_dependencies.log](https://github.com/jakeday/linux-surface/files/1518152/check_module_dependencies.log)).
It seems caused by some links setup on kernel installation on /lib/modules/4.14.2-jakeday-surface :

build -> /home/jake/ipts/build/kernel
source ->

[2017-12-03 11:30] thekswenson opened #53 "Surface Pro 4: hibernate broken on 4.14.2 (Nov. 27) kernel"
Thanks again jakeday for your work, making my surface finally usable on linux.  Hibernate is very important to me with my mobile computing lifestyle, and this is one of the big reasons why the kernel is so important for me.

I updated to the 4.14.2 kernel (uploaded on Nov. 27) a couple of days ago and since then have had issues shutting down the computer with `sudo systemctl hibernate`.  What happ

[2017-12-03 16:26] tcinbis commented on #53
@thekswenson I think I have the same problem, while running Arch linux on my
Surface Pro 4.
When I close my typecover it will turn of the display and run all commands specified in `hibernate.sh`.
But I can tell from my type cover, that the machine is still on. I am not quite sure, whether this is a supposed behavior (still quite new to this)?

[2017-12-04 09:36] thekswenson commented on #53
I would love to go back to the 4.14.0 kernel if possible...
   does anybody have the .deb packages?

[2017-12-04 09:42] tcinbis commented on #53
@thekswenson I guess you can just checkout the commit before the update to a new mainline kernel version and compile the kernel.

[2017-12-04 13:40] thekswenson commented on #53
:)  @tcinbis  I suppose I was looking for the easy way out.

[2017-12-05 18:19] Earth-2 opened #54 "Surface Pro 4: Type cover won't properly reattach when removed"
When I remove my type cover, it won't work after it's reattached.  The keyboard and mouse are both unresponsive and the lights don't illuminate either.  I've included the dmesg log below--I assume most of the relevant stuff is at the bottom but let me know if you need more info.

[typecover001.txt](https://github.com/jakeday/linux-surface/files/1532390/typecover001.txt)

[2017-12-05 20:08] jakeday commented on #53
@thekswenson Use my 4.14.4 build. Should give you the behavior you're looking for.

[2017-12-05 20:23] tcinbis commented on #54
@Earth-2 I have can reproduce the same behaviour on my SP4

[2017-12-05 21:15] thekswenson commented on #53
Yes @jakeday !  Very nice sir.

[2017-12-05 21:15] #53 closed

[2017-12-05 23:12] jakeday commented on #5
@sqlboy2000 I would keep it. I'm working on support for the additional acpi devices, including the Surface Laptop keyboard. I hope to have it resolved soon.

[2017-12-06 03:15] laomms opened #55 "Surface Pro 4: Touch Screen Problem"
the touch screen will lost after use about 10 minutes

[2017-12-06 07:18] tcinbis commented on #55
@laomms Which ipts firmware do you use?

[2017-12-06 07:19] sangdth commented on #5
Thank you @jakeday, I've tested it last night, can not make the keyboard works. Ironically, the keyboard works under BIOS setup, but does not when entering ubuntu :(

[2017-12-06 07:30] laomms commented on #55
v78   on surface pro4

[2017-12-06 08:38] thekswenson commented on #55
My SP4 touchscreen works pretty well.  Touch input may stop working if I do many touches at once...
  often rotating the screen (by just rotating it in my hands) will restore touch, but not always.

See related issues:
https://github.com/jakeday/linux-surface/issues/31
https://github.com/jakeday/linux-surface/issues/48

[2017-12-08 16:45] TheAlphaOne opened #56 "Surface Pro 4: Hibernation is broken on kernel 4.14.3 - 4.15.2"
Using the most current kernel, 4.14.4 that @jakeday released, Hibernation still will not work. All steps in the guide were followed perfectly, yet using either `sudo systemctl hibernate`, pressing Suspend in the top right menu, clicking the power button and tapping Suspend, or simply shutting the type cover, all result in a full system hang and a black screen, requiring you to hold the power butto

[2017-12-08 22:46] jameshancock144e commented on #56
Also encountering this problem, however, all my hibernate functions do hibernate but then hang at Reached Target Shutdown, no errors obvious.

[2017-12-09 00:25] jameshancock144e commented on #56
Not to spam but also can confirm the problem is solved by downdating back to 4.14.3.

[2017-12-09 00:29] TheAlphaOne commented on #56
@jameshancock144e Wouldn't consider it spam... Thanks for the heads-up though, will have to try it again at some point when I figure out how to compile a kernel.

[2017-12-09 02:09] polarizing opened #57 "Surface Book 2 15": No DGPU support?"
Everything is working nicely except there is no support for dGPU? I installed the NVIDIA binary driver 387 from software & updates and it works without using your kernel. After installing your kernel, nvidia-smi shows command not found?

[2017-12-09 21:11] creatornader commented on #57
I am having the exact same issue. Drivers and GPU worked perfectly before installing kernel. Now, after kernel, nvidia-smi shows command not found.

[2017-12-09 22:52] TheAlphaOne commented on #56
@jameshancock144e Not sure what Surface device you're using (Surface Pro 4 i7 256gb here), but no luck here after freshly compiling 4.14.3. Similar hibernate behavior still present with the exception being that during the shutdown process now, it simply hangs on systemd trying to end my user session, rather then the system just locking up completely. WiFi remains missing from NetworkManager after

[2017-12-09 23:59] jakeday commented on #57
@polarizing @creatornader The command not found error shouldn't be tied to whether or not your dgpu is being detected and a module loaded. That's from the nvidia driver itself. If you're using secure boot, you're likely to see that error. I'm confused by the fact that you said it was working prior to installing my kernel. Was there any other changes? Nothing in the kernel would impact that. You ca

[2017-12-10 00:05] jakeday commented on #55
I re-opened #31 to continue debugging this issue. This is a duplicate.

[2017-12-10 00:05] #55 closed

[2017-12-10 00:41] jakeday commented on #46
Marking this resolved.

[2017-12-10 00:41] #46 closed

[2017-12-10 00:43] jakeday commented on #56
@TheAlphaOne @jameshancock144e Are you sure you aren't just getting mixed up with the changes in the files in the root folder of the repo? I've changed a couple of them recently, which may be causing issues for you.

[2017-12-10 00:53] jameshancock144e commented on #56
I'm currently using a build of 4.14.3 from commit updating to mainline 4.14.3, but the root folder from the latest commit, mainly due to the fact I only rebuilt the kernel as an attempted fix. Between the 2, however, I also changed my swap setup so that may also have fixed it.

[2017-12-10 01:01] jakeday commented on #56
@jameshancock144e What do you mean by changing your swap setup?

[2017-12-10 01:02] jakeday commented on #31
@thekswenson I just made some changes and re-built my 4.14.4 kernel. Can you give it a try and see if it fixes it for you?

[2017-12-10 01:08] jameshancock144e commented on #56
I setup my encrypted swap, whereas before it was just plain swap. Shouldn't have made a difference.

[2017-12-10 01:08] TheAlphaOne commented on #56
@jakeday I'll second what @jameshancock144e is saying.. we both have the same setup apparently. Started by cloning your repo and using all the current files from git head, but I checked out 7973e098 and compiled 4.14.3 from that. Nothing else has been done other then that, awaiting any possible solution from your end...

[2017-12-10 01:09] laomms commented on #55
I use ipts78 in phoenix android_x86 os on sp4 , it's work perfect。 touchpad, wake up, touchscreen and so on, touch screen can use about 10 minute, then lost, when input  command rmmod intel_ipts and modprobe intel_ipts, touchscrren  will restore normal. I use it in android_x86 kernel version 4.9.24-android-x86_64.

[2017-12-10 01:12] jameshancock144e commented on #56
I'll play around the next couple of days to see if I can find any reason why and get back on that.

[2017-12-10 01:24] jakeday commented on #56
I know this may be obvious, but you are making sure your swap size is greater than your total amount of RAM right?

[2017-12-10 01:25] jakeday commented on #52
I'll take a look at it.

[2017-12-10 01:32] jameshancock144e commented on #56
Yeah, 8GB RAM, 16GB Swap, wouldn't be the first time I've made dumb mistakes though. The only 2 differences I can tell are the 1 kernel version difference, and the addition of the suspend lines for devices that can make use of it, as I said before I'll play around a bit in the morning and see if I can find exactly what got it working again, it might be as simple as a config I changed somewhere alo

[2017-12-10 02:57] TheAlphaOne commented on #56
@jakeday Just did some digging through the kernel log for 4.14.4 after a fresh reinstall of Ubuntu 16.04... Upon boot, I'm seeing the following:

[code]

Do you think that these ACPI errors might be the reason why hibernation is *technically* working, even though the device doesn't fully power off?

[2017-12-10 03:10] jakeday commented on #56
@TheAlphaOne Those are not related. I'll have to put some thought into what the issue might be.

[2017-12-10 16:51] TheAlphaOne commented on #56
Just noting something I've noticed.. the hibernate.sh script doesn't reset the WiFi at all after hibernate, and running the command `echo 1 > /sys/bus/pci/devices/0000\:02\:00.0/reset` from the script manually results in my SP4 locking up completely for around 30 seconds, then the wifi and bluetooth both become disabled completely. Trying to shutdown the SP4 results in an immediate lockup, requiri

[2017-12-10 17:49] jakeday commented on #56
@TheAlphaOne Good catch! Taking the reset lines out results in the expected behaviors for me (although I didn't have the issue before). I'll push the change up as I don't see how doing the reset in those cases would be required anyway.

[2017-12-10 17:57] jakeday commented on #56
@TheAlphaOne Actually, looking into this a bit and there might be a race condition in the reset process. I'm going to include a change for that in the 4.14.5 build I'm about to push. Maybe try the hibernate.sh script both with and without the reset line on the 4.14.5 build?

[2017-12-10 18:14] TheAlphaOne commented on #56
@jakeday Alright, will do. I'll wait to see the new builds posted and I'll give them a shot.

[2017-12-10 18:17] jakeday commented on #56
@TheAlphaOne The new builds should be up now.

[2017-12-10 20:02] TheAlphaOne commented on #56
@jakeday Alright, some good news. WiFi does work after resuming from hibernation, but hibernation itself is still broken. My SP4 will hibernate itself when issued `sudo pm-hibernate` and `sudo systemctl hibernate`, but it still does not power off properly, it just hangs on a black screen. Using the Suspend option from the menu or pressing the power button results in a black screen and an instant s

[2017-12-10 22:22] jakeday commented on #56
@TheAlphaOne Yeah, definitely don't due suspend. Our devices do not support it and will hang. As for hibernate, can you get me a log so I can see what state acpi is putting the device in?

[2017-12-10 23:31] jakeday commented on #48
Closing this since I re-opened #31

[2017-12-10 23:31] #48 closed

[2017-12-10 23:34] jakeday commented on #57
My theory on this is that the display will not switch to the nvidia module as the i915 is required for the display since the ipts modules are loaded. While the nvidia module does get loaded, it's not associated with a display (as seen with the command I posted previously), and the nvidia tools won't properly detect it. I would imagine disabling the i915 and ipts modules, and associating the displa

[2017-12-10 23:36] jakeday commented on #54
@Earth-2 According to your dmesg log, it looks like it's picking it up again and connecting just fine. What distro are you using? Can you try the latest 4.14.5 kernel? There's changes to hid support since this issue was opened.

[2017-12-11 14:49] creatornader commented on #57
I think you may be right. Here is the output when I run the command you mentioned "sudo lshw -C display":
  *-display
       description: VGA compatible controller
       product: Intel Corporation
       vendor: Intel Corporation
       physical id: 2
       bus info: pci@0000:00:02.0
       version: 07
       width: 64 bits
       clock: 33MHz
       capabilities: pciexpress msi pm vga_controlle

[2017-12-11 14:52] creatornader commented on #57
And here's what I get when I run "dpkg -l | grep nvidia":

rc  nvidia-381                                  381.22-0ubuntu0~gpu16.04.2                   amd64        NVIDIA binary driver - version 381.22
ii  nvidia-387                                  387.34-0ubuntu0~gpu16.04.2                   amd64        NVIDIA binary driver - version 387.34
ii  nvidia-docker                               1.0.1

[2017-12-11 14:55] creatornader commented on #57
And when I run "dpkg -l | grep nvidia" I find that I have all the latest drivers installed (nvidia-387 as well as nvidia-modprobe).

As far as your advice... "I would imagine disabling the i915 and ipts modules, and associating the display with your nvidia driver will make it work." How would I go about doing this in practice? Sorry, kind of a beginner when it comes to custom Linux kernels.

[2017-12-11 15:47] thekswenson commented on #31
@jakeday The 4.14.5 kernel still has problems...  I'll use the 4.14.4 kernel for a while and report back.

[2017-12-11 15:55] thekswenson commented on #31
I experience the problem in 4.14.4 as well.   The "google maps" test does not pass (touch input drops out when zooming/scrolling on maps for a while).

[2017-12-11 17:24] thekswenson commented on #56
I'm not having problems with hibernate shutting down my SP4 on the 4.14.4 kernel.  It will reliably restore as well.

The WiFi, however, will never work after restore, even with the changes from https://github.com/jakeday/linux-surface/commit/61c6bf8a73d726cdae776f021e235d8a26d6fa04 included.

[2017-12-11 17:51] Earth-2 commented on #54
I'm using Arch, currently with the [linux-surface4 kernel in the AUR](https://aur.archlinux.org/packages/linux-surface4/).  I'll try building linux-surface with the 4.14.5 kernel and see what happens.

[2017-12-11 18:01] tcinbis commented on #54
@Earth-2 I would like to do the same, but unfortunately I am not quite sure how to do it. Would you minde to briefly describe how you compiled the kernel for arch?

[2017-12-12 15:27] demlow commented on #28
[Bug submitted to kernel.org](https://bugzilla.kernel.org/show_bug.cgi?id=198145)

[2017-12-13 08:01] ShantanuJoshi opened #58 "Surface Book 2 15": No Battery Reading Ubuntu 16.10"
Unable to get any battery or power reading. Upower gives battery-missing-symbolic. No battery power options in Ubuntu settings. Any fixes on this?

[2017-12-13 20:06] jakeday commented on #58
This is a duplicate of #28

[2017-12-13 20:06] #58 closed

[2017-12-13 20:07] jakeday commented on #56
@thekswenson What about 4.14.5?

[2017-12-13 20:08] jakeday commented on #57
@creatornader You could either blacklist the modules for i915 and ipts, or set the display and driver setup in your xorg.conf files.

[2017-12-13 21:17] Predatux opened #60 "Surface Pro 4. Kubuntu 17.10 boot error (live)"
I wanted to ask something that I consider relevant to install Linux in the Surface.
Which version of Ubuntu do you use to make an installation from scratch? I'm trying to install Kubuntu 17.10 but it doesn't start the live. I've been looking and it seems that there is some kind of problem with the latest versions of Kernel and Surface Pro 4.
I remember that I had no problem installing version 16 L

[2017-12-13 23:22] thekswenson commented on #56
I just booted up the 4.14.5 kernel and experienced the same issues as the others:
  - hibernate hangs on shutdown
  - the state will be restored
  - wifi will not work after restore and module can't be reloaded
  - machine will not longer shutdown and will give kernel null pointer errors

[2017-12-14 12:23] sergiusens commented on #60
I installed vanilla Ubuntu 17.10 from scratch on my Surface Pro 4 from the live session just fine.

[2017-12-14 20:02] versipellis opened #61 "Surface Book 2: Keyboard & Trackpad Not Working After Dock/Undock"
Running kernel v101 on my 15" SB2, after disconnecting the tablet from the base touch screen functionality takes about 30 seconds to work. When reconnecting the tablet back to the base touch functionality continues to work but the trackpad and keyboard do not.

[2017-12-14 22:00] scottdonaldau commented on #5
Hey @jakeday Also having this problem on a new 13" Surface Laptop. Happy to assist in any way I can

[2017-12-14 22:56] Shadoukun opened #62 "Surface Book: dGPU Support"
I know the dedicated GPU for the Surface Book (performance base) isn't working. I was wondering if you had any idea how difficult it would be to get working, or if you had any plans to get it working in the future?

Thanks!

[2017-12-15 06:16] versipellis opened #63 "Kernel Headers Could Not Be Found"
Got to the last step of the install, and it threw this error, but proceeded to finish the rest of the install:

run-parts: executing /etc/kernel/postinst.d/dkms 4.14.5-jakeday-surface /boot/vmlinuz-4.14.5-jakeday-surface
Error! Your kernel headers for kernel 4.14.5-jakeday-surface cannot be found.
Please install the linux-headers-4.14.5-jakeday-surface package,
or use the --kernelsourcedir option

[2017-12-16 00:51] TheAlphaOne commented on #56
Seconding the broken hibernation on 4.14.5... I'm unable to capture proper logs since my SP4 crashes while trying to write the log files, but I was able to capture a picture of what looks like a kernel panic(?) right before the Surface was supposed to power off. It appears the WiFi card may be one of the culprits.

On another occasion while resuming from a broken hibernation state, I briefly saw s

[2017-12-16 01:06] jakeday commented on #63
@versipellis Did you install the headers package deb before the image package deb?

[2017-12-16 01:13] versipellis commented on #63
I did. Actually, even the headers package deb is throwing that error.

[2017-12-16 12:03] jrevillard commented on #56
As far as I'm concerned, Kernel 4.14.5 et Surface Book, I can hibernate and resume properly but without wifi. Here is the stack that I obtain in dmesg:

[code]

Best,
Jerome

[2017-12-16 15:33] ollie1995 commented on #5
Hey @jakeday, using your kernel on a friends Surface Laptop via 17.10. Keyboard still doesn't work so we'll patiently wait for another update! Thanks for all the hard work on this!

[2017-12-16 20:43] versipellis commented on #63
@jakeday Here's the output from trying to install the headers package deb:

(Reading database ... 196599 files and directories currently installed.)
Preparing to unpack linux-headers-4.14.5-jakeday-surface_4.14.5-jakeday-surface-10.00.Custom_amd64.deb ...
Unpacking linux-headers-4.14.5-jakeday-surface (4.14.5-jakeday-surface-10.00.Custom) over (4.14.5-jakeday-surface-10.00.Custom) ...
Setting up l

[2017-12-17 08:33] npjohnson commented on #52
@jakeday The issue this refers to is actually bigger than just VBox, a lot of DKMS drivers fail to compile b/c of bad symlinks to your local machine's home directory. I am not entirely sure why these are present, however.

How are you packaging the debs? There are a few ways to do so, and not all of them are meant for distribution.

[2017-12-17 08:35] npjohnson commented on #34
I happen to be decent at DSDT-related work. Can somebody dump theirs and post it here? (preferably with model info, etc.)

[2017-12-17 11:50] carlblomqvist commented on #34
demlow posted this in another issue: https://bugzilla.kernel.org/show_bug.cgi?id=198145
I think you'll find what you need there.

[2017-12-18 16:05] jakeday commented on #63
@versipellis Can you try the latest 4.14.7 build? This should hopefully be fixed.

[2017-12-18 16:06] jakeday commented on #52
@abutre Can you try the latest 4.14.7 build? This should hopefully be fixed.

[2017-12-18 16:09] versipellis commented on #63
Sure thing. Should I purge the existing install first or just install the
new ones over?

On Dec 18, 2017 11:05, "Jake Day" <notifications@github.com> wrote:

[2017-12-18 16:14] jakeday commented on #63
You can just install the new ones.

[2017-12-18 20:49] eskinderg opened #64 "Surface Book: no wifi after hibernation"

[2017-12-18 21:52] abutre commented on #52
@jakeday thank you very much ! It is working perfectly.

[2017-12-18 23:10] #52 closed

[2017-12-18 23:11] jakeday commented on #64
This is covered in #56

[2017-12-18 23:11] #64 closed

[2017-12-18 23:12] jakeday commented on #57
Closing as the device is detected and loading correctly, but you'll need to set your display to use it and disable the i915 and ipts modules.

[2017-12-18 23:12] #57 closed

[2017-12-18 23:14] jakeday commented on #60
You just need the intel microcode installed on 17.10 for newer kernels.

[2017-12-18 23:14] #60 closed

[2017-12-18 23:18] jakeday commented on #56
@jrevillard Which version of the hibernate.sh script are you using? The one with the reset lines or the one without?

[2017-12-18 23:31] Predatux commented on #60
Ok, thanks

[2017-12-19 08:42] jrevillard commented on #56
I tried both, currently I use the one without the reset and the stack comes from this version.

[2017-12-19 23:25] jakeday commented on #63
@versipellis Looks like this is fixed in 4.14.7. Can you confirm?

[2017-12-19 23:26] versipellis commented on #63
Testing it right now!

[2017-12-19 23:50] chergert opened #65 "Surface Book 2: Tight CPU spinning in ACPI and Battery Overheating"
Hi!

First off, thanks for all your work here. I'm not filing this issue in expectation that you fix anything for me, but figured it might be a good place to track an issue I hope to look at (and maybe you already know the issue and would know a fix or pointer to the specific code).

While tracking down an unrelated issue, I noticed the lid state tracking has gone haywire. Here is a quick dump fro

[2017-12-20 10:31] versipellis commented on #63
Tested it, didn't work the first time round (got stuck on something else during the install), reinstalled Ubuntu and it worked this time round.

[2017-12-20 14:14] jakeday commented on #63
Good deal!

[2017-12-20 14:14] #63 closed

[2017-12-20 22:50] versipellis opened #66 "Surface Book 2: Power button, volume buttons, battery indicator not working"
SB2 15" i7 1060 - As per the title, fresh install on Ubuntu 17.10 with the 4.14.7 kernel, but the power button, volume buttons, and battery readings don't work.

[2017-12-21 09:43] Predatux commented on #63
I have a related problem. The system works perfectly for me. I installed virtualbox to run Genymotion, but when I started genymotion, it tells me that virtualbox is not installed. Virtualbox is currently installed and running, but I get an error during installation that the kernel sources are not installed. I reinstalled the two files without problems....
linux-headers-4.14.7-surface-jakeday_4.14.

[2017-12-21 16:03] jakeday commented on #66
This is covered in #28 and #34

[2017-12-21 16:03] #66 closed

[2017-12-22 00:59] Ninecl commented on #5
Hey @jakeday Also having the same problem on Surface Laptop with Ubuntu 16.04, Happy to assist in anyway I can. Thank you for what you have done for this!

[2017-12-22 13:17] thmichel opened #67 "Surface Book 2 gets very hot"
Hi,

I am running Fedora with this kernel compiled from source. The Surface Book 2 13" is getting very hot after running for less than 5 minutes. Not sure if this is related due to the battery not being found by the kernel, but this does not happpen with the standard Fedora kernel which does not see the battery either.

[2017-12-22 15:37] k4nh commented on #5
Hi all. Yes, surface laptop keyboard not working with kernel and instructions. I can provide info and testing if/when needed.  Thanks all!

[2017-12-24 12:05] thmichel commented on #67
I have compiled the latest version and the issue is gone. What I changed was instead using the provided config file as .config I used "make oldconfig" while running standard fedora kernel.
The other thing was I was runing Gnome under X11 instead of Wayland for whatever reason. Not sure which of these two changes solved the issue, but temperature is ok now.

[2017-12-24 12:05] #67 closed

[2017-12-24 20:31] jakeday commented on #56
@TheAlphaOne Can you please try the latest 4.14.8 build?

[2017-12-24 20:32] jakeday commented on #65
@chergert Can you please report if this is still an issue with 4.14.8?

[2017-12-25 09:43] chergert commented on #65
Yes, same issue with 4.14.8.

[2017-12-26 12:37] jrevillard commented on #56
@jakeday I just tested and it works for me on my surfacebook !! Thanks!

[2017-12-26 21:42] jakeday commented on #54
@Earth-2 @tcinbis I'm at a loss here. According to the logs provided, the kernel is picking it back up fine and I don't see any issues. I'm also not able to duplicate this in Ubuntu with my kernel debs. Are you sure you have everything setup correctly per the instructions in my repo?

[2017-12-26 21:42] jakeday commented on #61
@versipellis I'm able to duplicate this. I'll look into getting it fixed, but I may not have it addressed for my 4.14.9 update here shortly.

[2017-12-26 21:47] tcinbis commented on #54
@jakeday I definitely followed your instructions, but have a little bit older kernel version. It is 4.14.2 because their is no newer aur package available and I am not sure how to compile my own kernel.

[2017-12-26 22:00] TheAlphaOne commented on #56
@jakeday Just did a full reinstall of Ubuntu 16.04 on my SP4, running your latest build, the same behavior is still present. No changes whatsoever. The SP4 will not go into hibernation and power off correctly, and WiFi does not function at all upon resume. Below is a crash log I managed to capture from dmesg upon resume.

[mwifiex_pcie.txt](https://github.com/jakeday/linux-surface/files/1587949/mw

[2017-12-27 04:30] eskinderg commented on #56
@jakeday any instructions on how to try out the new builds, I tried git pull from my /root directory and repeated all the steps. I don't know if that's the right way of doing it.

[2017-12-28 08:55] jrevillard commented on #56
@jakeday , it works most of the time but some time, I still have th issue with this Kernel error:

[code]

Best,
Jerome

[2017-12-29 08:32] versipellis commented on #34
@npjohnson I'm not sure how to dump the DSDT/SSDT, if there's something you can point me to, I'd be more than willing to help where I can.

[2017-12-29 08:34] versipellis commented on #61
Not a problem - thank you very much for all your work!

[2017-12-29 09:04] jrevillard commented on #56
@jakeday I confirm that your fix works only for the first hibernation for me. If you try to hibernate a second time, I have the kernel panic.
Should you re-open this issue or should I open a new one ?

Best.

[2017-12-29 11:04] TheAlphaOne commented on #56
@jrevillard This should've never been closed in the first place. I'm hoping @jakeday sees this and reopens it. Someone jumped the gun by closing it before the problem was fixed. 😒

[2017-12-29 12:43] Fabyao commented on #65
I can confirm this is an issue with 4.14.8. My surface book 2 runs very hot. Again not expecting you to fix it. However I would appreciate any pointers to help me understand the issue. Thanks for your awesome kernel

[2017-12-29 16:05] andrew-w-sherman opened #68 "Surface Pro 2017: Breaks wifi"
Running Arch on SP2017, using Network Manager (problem also occurs with wpa_supplicant).  Using 4.14.8 mainline, wifi works great with the marvell firmware and all the other settings recommended here.

Once I install the new kernel, wifi works at startup but cuts out shortly after any significant load is put on it. I have ensured that power management is turned off, `modprobe -r mwifiex_pcie` hang

[2017-12-29 21:29] a-soliman commented on #68
same issue with me, installed the kernel yesterday on SP2017, the touch screen works fine, but the wifi is working significantly slow..

[2017-12-29 22:59] jakeday commented on #56
@TheAlphaOne I apologize, I saw the comment saying the last push fixed it and assumed we were good. Re-opened it.

[2017-12-30 21:28] programjm commented on #5
Yep, same problem for me as well when trying to run any distro (I've tested Mint Cinnamon and Manjaro KDE). I'm willing to help resolve this issue, though I don't have much expertise.

[2017-12-31 04:10] dpedu commented on #56
Throwing in another data point - on my Surface Book 2 13" with a fresh ubuntu 17.04 install, hibernation works perfectly with the `4.14.8-surface-jakeday` kernel, though I need to call it manually via `sudo systemctl hibernate`. A second hibernation seems OK too.

What doesn't work is auto-hibernation. This is Gnome specific, but as described [here](http://ubuntuhandbook.org/index.php/2016/05/ubun

[2017-12-31 17:03] andrew-w-sherman commented on #68
Not to nitpick but that could be a separate issue if I'm understanding it right. This is a kernel module crash, not a slowdown.

[2017-12-31 21:59] andrew-w-sherman commented on #68
Hmm... this issue seems to have at least substantially decreased in severity on my machine. Only change I made, as far as I can tell, was to get ntpd working (my system time was previously off by a few hours or so). Will update if I can repro consistently again.

[2018-01-01 20:41] TheAlphaOne commented on #56
@jakeday Here's a log I was finally able to capture as the SP4 goes into, and comes out of hibernation. Looks to be an issue with the i915 driver maybe?

[hibernate_crash.txt](https://github.com/jakeday/linux-surface/files/1596366/hibernate_crash.txt)

[2018-01-02 17:20] chrisaliascoco commented on #62
Hi Guys,

First of all, thank you the contributors for your great work!

I was wondering the same thing as Shadoukun. Could you provide an answer?

Thanks,
Christopher.

[2018-01-05 01:56] programjm commented on #5
Tried dumping the ACPI, not sure if this helps
https://paste.ee/p/AD7GB

also this:
https://drive.google.com/open?id=1-t-0Z5k4hNQ-zFVsIW9xDqY6YJu8st8v

[2018-01-08 11:24] Varun-Sethu commented on #5
Hi @jakeday I really appreciate what you are doing and I would be happy to provide any info or testing you require.

[2018-01-08 11:27] oleid commented on #56
@dpedu : I call "systemctl hibernate" manually, too. But re-waking, wifi is gone. Even for the first time. I get a similar log than @TheAlphaOne on my SP4 on Ubuntu 17.10.

[2018-01-09 04:54] andrew-w-sherman commented on #68
Here's the full relevant dmesg output. [crash.txt](https://github.com/jakeday/linux-surface/files/1613892/crash.txt) Time to crash is pretty variable, using this kernel seems to accelerate it though. Is this something I should upstream?

[2018-01-09 14:49] MattB98 commented on #5
Hi @jakeday, without wishing to put pressure on you (as I'm sure you're extremely busy), could you give an update on where you are with this issue and what (if anything) people can do to help you?

[2018-01-10 22:00] jimdigriz commented on #54
A udev kludge for this is:
[code]

[2018-01-10 22:07] combivanCoder opened #69 "Surface Pro 4: Type cover and plymouth"
Although this isn't the fault of your custom kernel, I was really hoping it would fix the problem.

**Summary**
When using encrypted disks requiring a password to unlock at boot the kernels up to 4.10.x picked up type covers on SP3 and SP4 allowing password entry.

**Problem**
Kernels installed at upgrade from 17.04 to 17.10 (4.10.0.32 -> 4.13.0.21) plus the custom 4.14 in this repo no longer dete

[2018-01-11 07:05] dioptre commented on #62
I'm a +1 on helping

[2018-01-11 22:46] oleid commented on #69
I use full disk encryption for my SP4, too. You might consider using a keyfile to unlock your disks. It needs to be embedded to the initramfs to allow an automatic unlock. **Bonus**: you don't need LVM to encrypt swap with the same key.

In order to prevent random people from extracting the keyfile from your initramfs, you need to store it to an encrypted boot partition. Nowadays, grub is able to

[2018-01-12 08:11] npjohnson opened #70 "All Models: Ethernet Interfaces Refuse to Connect"
Hey JakeDay,

In your previous 4.14.5 kernel iteration, Ethernet over both USB and Surface Connect worked great.

On a vanilla Ubuntu 17.10 install on the Surface Book (Performance Base), I  was able to connect to Ethernet over both the Surface USB3 to Ethernet adapter, and the Surface Dock's Integrated Ethernet.

Now, on your most recent kernel iteration, at 4.14.13, upon plugging either of them

[2018-01-12 12:26] combivanCoder commented on #69
It's a good idea, although I'm still not convinced the changes in 17.10 are fully operational. Whilst keyfiles might be a valid workaround, business policy does not allow them due to the need for USB reads at / just after boot (preferring password schemes instead). Btw I don't write the policy :)

I'd recommend using randomly generated keys for encrypted swap though instead of persisted keys of an

[2018-01-12 19:48] dkabot opened #71 "Surface Book 2: Touch Not Working"
Aside from all the matters with Issues already opened, I've noticed one thing on my Surface Book 2: Touch is not working.
The kernel is installed (`4.14.13-surface-jakeday`), I'm booted into it, and the system acknowledges such.

The only thing I can see for output is the following, which gets spammed ~17 times on every tap:
[code]

I do not have any compatible pen at this time to see if the resul

[2018-01-13 16:56] kryton opened #72 "Surface Book 2: Errors in Logs for Power Domains"
First of all.
1. Thank you for building this.
2. I don't think this is your specific patches.
3. SurfaceBook2 /15" about  2 weeks old.

I have attached a sample.
It seems to generate these multiple times a second sadly.

[kernel.output.txt](https://github.com/jakeday/linux-surface/files/1628526/kernel.output.txt)

[2018-01-13 17:33] jakeday commented on #62
While I do intend on working on it, it's really not that high on my todo list.

[2018-01-13 17:47] jakeday commented on #71
@dkabot Did you copy over the specific IPTS firmware files for your device as mentioned in the readme?

[2018-01-13 17:49] jakeday commented on #72
@kryton Those are not specific to my kernel. The power domains are not updated in the mainline 4.14 kernel for the SB2. From the looks of it, this will be fixed upstream in 4.15. However, it shouldn't really be causing an issue for you.

[2018-01-13 18:00] kryton commented on #72
Thx Jake.

[2018-01-13 18:00] #72 closed

[2018-01-13 23:28] jakeday commented on #71
@dkabot Did you run all the other commands too? I'm running a 15" SB2 as well so I know it's working.

[2018-01-14 00:21] #71 closed

[2018-01-14 08:35] npjohnson commented on #70
@jakeday Entirely feasible... Do you have a link to your 4.14.5 kernel I could try once more to verify it works? Now that I am thinking, it could have also been an Ubuntu side update.

[2018-01-15 23:48] andrew-w-sherman opened #73 "Documentation: "Suspend To Disk""
Hi, it seems like there's an issue either in your documentation or your command for the "Suspend To Disk" fix. Suspend to disk = hibernate, and yet the command copies over the _suspend_ entry with the hibernate one, which seems to suggest fixing suspend by replacing it with hibernate.

[2018-01-16 22:41] matthias-vogt commented on #61
Using the nvidia drivers but changing to the intel driver through the nvidia x server settings app did the job for me. Now I can dock and undock with the keyboard and trackpad working just fine - it just takes a few seconds longer than on windows.

[2018-01-17 01:30] notdisliked commented on #56
I'm currently having problems with hibernate on 17.10.1 on the most recent kernel.  Downloading 17.04 to try out too, and will try out some of the specific kernel versions listed in this thread.  For me, mapping suspend to hibernate seems to be working, but when I suspend (hibernate) the screen turns off, then back on a few seconds later.  The same happens with `sudo systemctl hibernate`.  When th

[2018-01-17 20:34] combivanCoder commented on #69
Sorted :)

I'd like to take credit but I'm just not smart enough to figure it out on my own - I found a reference to the hid_multitouch module here in almost identical circumstances:
[noreeps SP3 Git](https://github.com/neoreeps/surface-pro-3/issues/14)

Add the `hid_multitouch` module to your `/etc/initramfs/modules` config, `sudo update-initramfs -u` and reboot. I think it only updates the lates

[2018-01-17 20:34] #69 closed

[2018-01-18 16:26] Gunkkk opened #74 "Surface Pro 3: WiFi Stability Issues"
The wifi will just go wrong after my pro3 turned on for serval seconds
You can imagine that how serious it is.What should i do to solve the problem please

Also when i touch the power button ,the screen couldnt be back ,is that normal?

[2018-01-18 16:32] Gunkkk commented on #74
Linux version 4.13.0-26-generic

[2018-01-18 19:39] versipellis opened #75 "Surfacebook 2: Headphone jack doesn't work"
Main speakers output audio fine, but the headphone jack is nonfunctional. It detects the headphone jack and that something is plugged in to it, but no audio gets sent.

[2018-01-18 22:20] GrippyPenguin commented on #5
Is this every going to be done? The issue is over 4 months old. Thanks - P.

[2018-01-19 00:20] jakeday commented on #70
@npjohnson Unfortunately no, but you could compile off the commit for 4.14.5.

[2018-01-19 00:21] jakeday commented on #5
@GrippyPenguin It will be fixed, it's making it's way to the top of the priority list!

[2018-01-19 00:23] jakeday commented on #73
@andrew-w-sherman That's exactly what it's doing. The newer Surface devices support hibernate but not suspend as it was replaced with connected stand-by.

[2018-01-19 00:23] #73 closed

[2018-01-19 00:23] jakeday commented on #74
@Gunkkk Neither of those sound normal. Can you get me some logs?

[2018-01-19 03:20] Gunkkk commented on #74
Jan 19 10:52:39 Gunkkk NetworkManager[812]: <info>  [1516330359.9206] manager: sleep requested (sleeping: no  enabled: yes)
Jan 19 10:52:39 Gunkkk NetworkManager[812]: <info>  [1516330359.9206] manager: sleeping...
Jan 19 10:52:39 Gunkkk NetworkManager[812]: <info>  [1516330359.9207] device (8C:0D:76:E8:64:83): state change: disconnected -> unmanaged (reason 'sleeping') [30 10 37]
Jan 19 10:52:39

[2018-01-19 08:33] ollie1995 commented on #5
@jakeday Top man! Looking forward to trying it.

[2018-01-20 00:24] jakeday commented on #75
@versipellis Headphones are working fine on my SB2. Are you sure you have them plugged in all the way and the volume turned up and not muted?

[2018-01-20 00:26] jakeday commented on #74
@Gunkkk Are you saying the issue is resolved now after updating?

[2018-01-20 00:29] jakeday commented on #68
@andrew-w-sherman This looks like an upstream bug, but I'll work on it.

[2018-01-20 00:29] versipellis commented on #75
Yup. Works fine with my Windows OS. Will test again tomorrow.

On Jan 19, 2018 19:24, "Jake Day" <notifications@github.com> wrote:

[2018-01-20 00:30] jakeday commented on #75
@versipellis What distro are you running?

[2018-01-20 00:31] jakeday commented on #61
@matthias-vogt Can confirm this fixes the issue.

[2018-01-20 00:32] jakeday commented on #61
@versipellis Can you please confirm for you as well?

[2018-01-20 00:34] jakeday commented on #56
I can no longer reproduce this on my newer setup with my latest kernels. Can you guys please re-test with 4.14.14?

[2018-01-20 00:35] versipellis commented on #75
Ubuntu 17.10

On Jan 19, 2018 19:30, "Jake Day" <notifications@github.com> wrote:

[2018-01-20 00:36] jakeday commented on #54
@jimdigriz That will definitely address the issue. It will force the subsystem to re-attach the system device. I'll make note of it in the readme.

[2018-01-20 00:36] #54 closed

[2018-01-20 00:42] Gunkkk commented on #74
Yes   I can use my wifi
However the suspending problem is still troubling.

[2018-01-20 00:45] jakeday commented on #74
@Gunkkk You mean suspending when you hit the power button and it looks like it locks up?

[2018-01-20 00:52] Gunkkk commented on #74
Yes
 When it is in sleeping status upon i hit the power button or leave it a period of time that I have set ,the Typecover seems  cant be controlled and the screen is black  ，but the power is still.

[2018-01-20 00:56] jakeday commented on #74
@Gunkkk That may be related to the type cover not re-attaching. Can you try the udev rule I added a note for at the bottom of the readme?

[2018-01-20 00:56] scotty86bne commented on #75
I have the same issue running Mint 18.3 on a Surface Pro 4 with jakedays 4.14.13-surface kernel compiled from source.

[2018-01-20 01:04] jakeday commented on #75
@versipellis @scotty86bne To be fair, I was running my 4.14.14 build when I verified (which is uploaded now). I don't think any changes in there would fix it, but maybe give it a shot as it's definitely working here.

[2018-01-20 01:06] scotty86bne opened #76 "SP4 Touch Screen/pen stops working after a few minutes"
Hi Jakeday.
Firstly, many thanks for your work on this. It's sincerely appreciated. You've made my SP4 useful again!

The issue I'm seeing is that after a minute or so of using the touch screen or pen, the touch stops working. Only recovered from a system reboot.  Running Mint 18.3 on SP4 kernel 4.14.13-surface compiled from source. I've followed your instructions re the installation of i915 drive

[2018-01-20 01:12] jakeday commented on #76
@scotty86bne This would be a duplicate of #31 which points out that you can also fix it by rotating the screen. I'm not able to reproduce it the issue, and I don['t see any issues from the recent logs. My guess is just that the IPTS firmware is being weird. Maybe try one of the other sets?

[2018-01-20 01:12] #76 closed

[2018-01-20 03:11] Gunkkk commented on #74
### @jakeday  Well I have tried times and it just didn't work.Even more it will leads to many error such as the wifi problem and the touch of Type cover
_Here is the log ._

Jan 20 10:49:38 Gunkkk systemd[1]: Stopping udev Kernel Device Manager...
Jan 20 10:49:38 Gunkkk systemd[1]: Stopped udev Kernel Device Manager.
Jan 20 10:49:38 Gunkkk systemd[1]: Starting udev Kernel Device Manager...
Jan 20

[2018-01-20 03:58] andrew-w-sherman commented on #68
Thanks! I would be happy to file the upstream bug, but I wasn't sure if it would go to the kernel, to Marvell somewhere, or somewhere else.

[2018-01-20 06:40] Gunkkk commented on #74
.@jakeday  Well, the probem seems solved atfer i  do the tips 5 instead of 6 (im not Ubuntu17.10)
The system can come into sleep while the screen cant be black? Is that normal

[2018-01-20 11:45] tcinbis commented on #54
@jimdigriz Thank you very much, it works!

@jakeday Maybe also add this script [here](https://gist.github.com/anonymous/c6012cfed0936bf40006f0b980afc691)
For me to run this script on arch, I had to replace line 8 with the following line:
`log.addHandler(journal.JournalHandler())`

[2018-01-20 12:27] Fabyao opened #77 "Misleading information for Surface Book 2"
@jakeday Thank you for the fantastic kernel. On the main GitHub page, the What’s Working section is misleading. It states the power button, volume buttons, battery readings and docking/unlocking are all fully working. This isn’t the case for the Surface Book 2 and I believe it misleads people expectations.
I understand that some feature might work on other devices, however the Surface Book 2 shoul

[2018-01-20 21:28] Shr1nk commented on #5
Hey I don't have a lot of experience with linux but I do have a surface laptop and am willing to help any way I can. I am willing to try anything you need

[2018-01-20 21:29] dwitvliet commented on #28
Is there anything the average Linux user can do to help solving this issue? I'm not familiar with DSDT, but I am anxious to get this solved.

[2018-01-20 21:53] TheAlphaOne commented on #56
@jakeday After installing the newest 4.14.14 builds from your Google Drive, similar issues are still happening on my SP4. Good news though, WiFi does not crash now after resuming from hibernation, although getting into hibernation is still only somewhat working. Firing off a `sudo systemctl hibernate` does indeed hibernate the system, but the touch cover keys remain lit when pressed, indicating th

[2018-01-20 21:56] matthias-vogt opened #78 "SB2: syndaemon can't start (accidental clicking with touchpad)"
I'm not sure if this is the right place to post because I don't know if this is a Surface related bug or just me.
`syndaemon` closes with error code 2 when I'm trying to launch it. (Kernel: 4.14.8, Running: SB2 13in, Ubuntu 17.10)
In theory, it should disable the touchpad while typing to prevent accidental clicks.
Can you reproduce this?
Also I can only agree with the other issue posters and not t

[2018-01-21 17:38] jrevillard commented on #56
Same problem than for @TheAlphaOne now. Wifi working properly but hibernation is not always working.

I don't know if it could help but I see this quite often into the logs

[code]

The first message about ipts mei.. is red by the way... is it an error ?

Best,
Jerome

[2018-01-21 18:12] jakeday commented on #77
@Fabyao Updated.

[2018-01-21 18:12] #77 closed

[2018-01-21 18:15] jakeday commented on #78
@matthias-vogt This is an issue with configuration in the distro and not in the kernel. You probably have syndaemon looking at the wrong driver.

[2018-01-21 18:15] #78 closed

[2018-01-21 19:17] fridgecow commented on #31
I also experience this problem - probably good to mention it also affects the pen. It only seems to break when using touch (regardless of pen), and Chrome makes the issue worse - although it happens occasionally even without chrome.

[2018-01-21 21:34] programjm commented on #5
Not sure if this helps, but here are the errors I get when booting Manjaro

https://photos.app.goo.gl/grlbSawUhg9L4HU62

[2018-01-22 00:27] zeroskyx opened #79 "Surface Dock / Surface Pro 2017: external monitors "disconnected""
First off, thank you so much for your great work here -- everything is working flawlessly except for one thing.
I'm running a Surface Pro 2017 with a Surface Dock (the brick) and have attached two Dell U2518D LCD/LED (2560x1440) screens to the dock.
Running the latest Linux Mint does not recognize the screens -- xrandr shows both ports as "Disconnected" -- when I attach one of the screens (doesn't

[2018-01-23 14:09] tcinbis commented on #54
@jimdigriz what about the little python script? The sensors seem to work afterwards

[2018-01-23 15:44] jimdigriz commented on #54
No idea what python script you are referrering to, sorry.  I don't use jakeday's tree directly, I just cherry pick the bits I need for my own surface project.  Cheers

[2018-01-23 15:50] tcinbis commented on #54
@jimdigriz I am talking about the script I mentioned in my previous comment ([here](https://gist.github.com/tcinbis/7ee22a3aa2da3693ffb16fc9217f1045)), which you can find if you read the original post on reddit.

Instead of `RUN+="/sbin/modprobe -r i2c_hid && /sbin/modprobe i2c_hid"` you write `RUN+="/path/to/script"`. Worked for me multiple times without any sensors becoming unavailable.

[2018-01-23 16:28] jimdigriz commented on #54
The problem I am describing has nothing to do with how you read the sensors, the problem is that (for whatever reason) on my laptop, calling `/sbin/modprobe -r i2c_hid && /sbin/modprobe i2c_hid` under `udev` (even when I try wrapping it in a `/bin/sh -c "..."`) seems to not do the actual load of the module after an unload.

I never found the time to look into it, and I only use the sensor anyway o

[2018-01-24 00:36] jakeday commented on #79
@zeroskyx The issue is that the monitors need to be attached to the dock and the dock connected to the Surface Pro when booting. That's the only way it currently sees the screens, otherwise they won't be detected.

[2018-01-24 18:38] deweyx opened #80 "Surface Book: Wrong i915 binaries in firmware/i915_firmware.zip?"
On my SurfaceBook, I extracted `i915_firmware.zip` to `/lib/firmware/i915` per instructions, but later the `dpkg` step gave (Edit: turns out I didn't keep the original error list, but amongst others it included the skl_ files from the later dmesg errors):

    W: Possible missing firmware /lib/firmware/i915/skl_dmc_ver1_26.bin for module i915
    W: Possible missing firmware /lib/firmware/i915/skl

[2018-01-25 00:21] jakeday commented on #80
@deweyx The ones I have uploaded are generic enough for most devices to work. However, each surface device might use different modules and loading the correct ones are always the best bet. Maybe I should package them up like I did the ipts firmware? Just didn't see the need with them being readily available. Which Surface Book are you using by the way?

[2018-01-25 00:51] JoshKaufman commented on #34
@npjohnson Here is [the DSDT for surface book 2 15"](
https://gist.github.com/JoshKaufman/e9479620626b10849276443b2875c3c9#file-dsdt-dsl-L17728-L17866) any help or tips will be greatly appreciated.

[2018-01-25 01:51] zeroskyx commented on #79
Hi Jake,

thanks for the fast response -- I have read about this minor limitation but unfortunately for me the screens stay dark even when the dock is attached (with connected screens) and the SP is booted afterwards; unfortunately there appears to be another issue.

Can I supply you with any additional data to help you trace the possible issue?
dmesg/ xrandr outputs or anything else?

Thanks and

[2018-01-25 06:44] sebanc commented on #31
A workaround seems to be the use of lower resolutions.
Here is the xorg conf I currently use which makes 2 lower resolutions available and the touchscreen seems to work correctly with both:

`Section "Device"
   Identifier  "Intel Graphics"
EndSection
Section "Monitor"
   Identifier  "eDP1"
   Modeline    "2056x1368"  187.00  2056 2104 2136 2216  1368 1371 1381 1407 -hsync -vsync
   Modeline    "1

[2018-01-26 21:59] maflin18 commented on #5
Same issue here. Surface Laptop (i7). Kernel seems to have fixed wifi issues and OS runs super smooth. Only issue is keybaord won't work at all...forced to used external one. Glad it's being worked on, looking forward to an update soon! :)

[2018-01-27 03:28] maflin18 opened #81 "Surface Laptop no battery life/percentage."
Cannot get battery life/percentage anywhere. I have GNOME tweaks installed, and battery life on top bar enabled, but it is not there even after rebooting. There is no way to tell my battery life at all....

[2018-01-28 15:04] ardynn opened #82 "No touch screen or pen support on Debian Buster"
Followed the steps exactly as stated, but the touch screen is unresponsive and the pen doesn't seem to be recognized. Have checked the start up - definitely booted Jake Day's kernel

Have successfully used this on Ubuntu 17.10 but went with Debian for stability issues.

Thanks very much for any help.

[2018-01-28 20:25] versipellis commented on #28
Likewise, here.

[2018-01-28 20:31] versipellis commented on #61
Well, x server doesn't work on my SB2 on 4.14.15, heh... Been trying to debug that and can't figure it out :/

Does switching to the intel driver disable the discrete GPU?

[2018-01-28 20:34] versipellis commented on #75
Tested with 4.14.15 and works - looks like something in 4.14.14 fixed it! Closing this issue.

[2018-01-28 20:34] #75 closed

[2018-01-28 20:34] versipellis commented on #81
#28 Duplicate issue of this.

[2018-01-29 18:54] atharos1 opened #83 "Surface Book 2: Battery overheating"
Hi! I'm a bit of a noob, trying Ubuntu 17.10 on my 15' Surface Book 2. Other than the know issues, I find the cumputer heats up quite a lot, specially the base. I'm just running Firefox, so the GPU shuldn't be in use. The top portion also heats up, but nearly as much.
The device is currently plugged in.

Thanks!

[2018-01-30 05:42] Ninecl commented on #5
What can I help? Do a test or something?

[2018-01-30 17:55] maflin18 commented on #5
^^ same question. I'd love to see this issue get fixed asap and will do anything I can to help.

[2018-01-31 00:44] jakeday commented on #82
@ardynn Can you get me a full dmesg output so I can take a look?

[2018-01-31 00:44] jakeday commented on #82
@ardynn Also which device is this?

[2018-01-31 00:45] jakeday commented on #83
@atharos1 This is a known issue with the SB2 and the 4.14 kernel series. This will be fixed in 4.15 which I'll be working on tonight.

[2018-02-02 01:59] jakeday commented on #74
@Gunkkk What do you mean tips 5 instead of 6?

[2018-02-02 02:24] jakeday commented on #68
@andrew-w-sherman Can you test out my latest 4.14.16 build?

[2018-02-02 03:38] jakeday commented on #80
@deweyx I broke out the i915 firmware files into separate zips for targeted devices. Please use the correct version going forward.

[2018-02-02 03:38] #80 closed

[2018-02-02 03:39] #82 closed

[2018-02-02 03:39] jakeday commented on #79
@zeroskyx Can you try my latest 4.14.16 build?

[2018-02-02 03:40] jakeday commented on #70
@npjohnson Can you give this a try with my latest 4.14.16 build?

[2018-02-02 03:41] jakeday commented on #61
@versipellis No, you'd have disable the discrete GPU.

[2018-02-02 03:42] jakeday commented on #56
Can you give this a shot on 4.14.16? I'm no longer able to reproduce.

[2018-02-02 03:43] jakeday commented on #65
This is actually the same issue as #83.

[2018-02-02 03:44] jakeday commented on #83
This is the same root cause as #65 and I'll address it there.

[2018-02-02 03:44] #83 closed

[2018-02-02 03:49] jakeday commented on #31
@thekswenson I redid some of the ipts driver and related modules for 4.14.16. Can you re-test? Please be sure to get the correct i915 firmware files in my repo now!

[2018-02-02 03:55] jakeday commented on #56
Also, if you have tlp installed please try without it as well. I've seen it cause some hiccups with hibernate.

[2018-02-02 03:56] jakeday commented on #65
This is targeted to be fixed in the upcoming 4.15 release.

[2018-02-02 06:38] stefanbacon commented on #5
Hey Jake! I have a surface laptop here let me know if you need anything. Thanks for sharing this!

[2018-02-02 11:15] zeroskyx commented on #79
Hi Jake, unfortunately the problem still exists in:
Linux zeroskyx-mint 4.14.16-surface-linux-surface #1 SMP Thu Feb 1 21:20:48 EST 2018 x86_64 x86_64 x86_64 GNU/Linux

The following is my xrandr output:
Screen 0: minimum 320 x 200, current 2736 x 1824, maximum 8192 x 8192
eDP-1 connected primary 2736x1824+0+0 (normal left inverted right x axis y axis) 260mm x 173mm
   2736x1824     59.96*+
DP-1 d

[2018-02-02 17:29] realSpok opened #84 "Surface Pro 4: Wifi drops after a random amount of time (running Arch)"
I have an issue on SP4 running Archlinux 4.14.15-1-surface4
https://aur.archlinux.org/packages/linux-surface4/

The wifi drops after a random amount of time and I have to reboot.
I tried
sudo modprobe -r mwifiex_pcie
sudo modprobe -r mwifiex
sudo modprobe -r cfg80211
sudo modprobe mwifiex_pcie
sudo modprobe mwifiex
sudo modprobe cfg80211

And restarting wpa_supplicant and networkmanager, but it do

[2018-02-02 17:46] demlow commented on #84
Try: sudo grep "mwifiex_pcie.*FW is in bad state" /var/log/messages
If there are matching entries, the Marvell firmware has hung and a reboot is needed; there is no way to reload/restart it. There is no kernel patch yet and updating the Linux mrvl firmware and the Windows UEFI firmware doesn't help.

This only seems to occur on SP4s manufactured in early 2017 and perhaps late 2016. You can tell th

[2018-02-02 18:46] realSpok commented on #84
Thanks for the reply. This is not good news though :/
Here is my serial number: 053360460853
That would seem to be August 2016.
I have no  /var/log/messages file though. I will wait for the wifi to drop to see if the file is created and post the results.
Or maybe with dmesg ?

[2018-02-02 18:59] demlow commented on #84
Sorry, yes, try dmesg. It's interesting that your system is older so I am very curious if you see the FW bad state message.

[2018-02-02 19:13] maflin18 commented on #28
Same issue here, but on Surface Laptop

[2018-02-02 20:11] realSpok commented on #84
Ok it just dropped again.
Here is the full output of dmesg after the fact:

[ 5132.936772] mwifiex_pcie 0000:02:00.0: Firmware wakeup failed
[ 5132.937137] mwifiex_pcie 0000:02:00.0: PREP_CMD: FW in reset state
[ 5132.937187] mwifiex_pcie 0000:02:00.0: PREP_CMD: card is removed
[ 5132.937193] mwifiex_pcie 0000:02:00.0: deleting the crypto keys
[ 5132.937197] mwifiex_pcie 0000:02:00.0: PREP_CMD: ca

[2018-02-02 20:15] realSpok commented on #84
It seems like it is trying to reconnect after a couple seconds. But it never gets through.

[2018-02-02 20:28] demlow commented on #84
Yes, that looks different than the failure mode I initially expected (but that is not so surprising given your serial number). So this is probably not a duplicate of [](https://github.com/jakeday/linux-surface/issues/68) (which occurs on both SP2017 and SP4).

[2018-02-02 20:29] demlow commented on #84
Sorry, that last post should include a link to https://github.com/jakeday/linux-surface/issues/68.

[2018-02-02 20:36] realSpok commented on #84
Right, thanks for the feedback. Actually I saw #68 earlier, but it seemed like a different issue for a number of reasons:
- Error message is different
- It occurs on SP4 instead of SP2017
- I had the same behaviour with the previous kernel  ( I tried 4.14.2 and 4.14.15 so far)
Please let me know if you need further logs. It is easily reproducible for me.

[2018-02-02 23:00] fridgecow commented on #31
Seems to be working much better, using 'Google Maps' test from above.

[2018-02-02 23:37] TheAlphaOne commented on #56
@jakeday Still no dice... tlp is not installed. dmesg logs attached. I will make an attempt at filming or capturing a picture of the screen as it goes into and comes out of hibernation, there are other errors present that I cannot capture due to the screen clearing itself.

[dmesg.txt](https://github.com/jakeday/linux-surface/files/1691136/dmesg.txt)

[2018-02-03 00:14] TheAlphaOne commented on #56
https://youtu.be/LmR0ZACHHmA
https://youtu.be/7xhgbgCOjYY

@jakeday Got a little bit of footage.. it's a little blurry, phone doesn't like focusing on the screen.

You can see how it goes into and comes out of Hibernation with the errors.

[2018-02-03 04:53] s8m commented on #84
I have yet to give the new kernel a shot, but just FYI I am having the same issue on an SP4 where the key 3 numbers are 543 (i.e. manufactured mid to late October 2015). So I'm not sure the manufactured date is an indication of why SP4's are having this issue.

[2018-02-03 08:34] SnowMB commented on #84
I've got the same issue and my Surface Pro 4 is also from 2015 (540). So I think the @s8m is right.

[2018-02-03 12:09] realSpok commented on #84
Do you guys have the same dmesg log after a disconnect ?

[2018-02-03 15:11] realSpok commented on #84
Following up my post, I looked further for a solution, and came across something interesting [here](https://bugzilla.redhat.com/show_bug.cgi?id=1505058).
I tried an equivalent for Arch (iw instead of iwconfig):
`sudo iw dev wlp2s0 set power_save off`
This seems to work for the moment. The wifi has not dropped for more than 3 hours now.
Apparently it should prevent the wifi from going to sleep, but

[2018-02-03 17:53] andrew-w-sherman commented on #68
Working on it at the moment, the AUR is still on 4.14.15 so I'm compiling from source. Thanks for the new instructions, by the way! Have you tried to pare down the kernel config at all? It always takes up >15G when I'm compiling it, and so I have to run it on external media, but in the past I've spent some time fiddling with the config and gotten the time and space impact down substantially.

[2018-02-03 21:12] maflin18 commented on #5
Any way to test the new patches before they're implemented into the next Kernel update? Are they ready to be tested?

[2018-02-03 23:17] jakeday commented on #84
@realSpok Just to note, my kernels have power saving turned off for wifi so that step is not required.

[2018-02-03 23:18] jakeday commented on #65
@chergert @Fabyao My 4.15.0 build is up now. Can you give it a try?

[2018-02-03 23:19] jakeday commented on #68
@andrew-w-sherman I'm still using the stock config from Ubuntu with just a couple minor tweaks to enable a few new modules.

[2018-02-03 23:21] jakeday commented on #31
@fridgecow I still can't reproduce this oddly and the logs do not point to any issue.

[2018-02-04 02:31] xaviervilla commented on #56
I'm not sure how hibernation in Ubuntu is handled, so I'm not sure if mine is working properly.. Hibernate appears to work fine, but it turns my surfacebook all the way off, and when I boot again and go through grub, my windows are still open. However, in Windows 10 It keeps the Surfacebook turned on when you open the lid, and it just picks back up where you left off. Why is that hibernation for W

[2018-02-04 02:39] maflin18 commented on #5
Just updated to 4.15.0, keyboard still does not work.

[2018-02-04 02:51] chergert commented on #65
It looks like the spin loop is still an issue from ACPI lid state tracking.

[code]

[2018-02-04 02:59] TheAlphaOne commented on #56
@xaviervilla Can we get a few more details on your setup, like what kind of Surface product you're using, what Ubuntu revision, etc?

Also, if your Surface is actually hibernating in Windows 10, it should not be turning back on by simply opening the lid, I think you're confusing that with Connected Standby/Sleep mode. If you were fully hibernating the system, it'd be the same as powering off the d

[2018-02-04 03:15] TheAlphaOne commented on #56
@jakeday Noticing something strange happening here now.

-`sudo systemctl hibernate` results in hibernation that properly saves the user state but doesn't power down the SP4. It resumes from hibernation with WiFi intact, but still results in the crashes like I posted above.
-`sudo pm-hibernate` results in proper hibernation that actually powers down the SP4, but on resume, the console is spammed w

[2018-02-04 03:18] jakeday commented on #5
@maflin18 The patch was not included in 4.15.0. I'm still working on it!

[2018-02-04 03:26] jakeday commented on #65
@chergert Looks like this is an issue with properly reading the states from the dsdt files as well, which is handled on Windows through the ACPI Notify driver. It works a little different on these devices, and I'm writing a driver for mshw0091 for acpi over i2c to support this. This seems to be causing most the the bugs we are still seeing and it's my top priority right now.

[2018-02-04 04:27] chergert commented on #65
Exciting! Let me know if there is anything I can do to help or get you any information you need or testing.

[2018-02-04 04:51] andrew-w-sherman commented on #68
Looks like a no, unfortunately. Still getting about the same sort of behavior, fine under moderate load for a while but crashes on things like package installs or after a long enough time.

[2018-02-04 09:19] realSpok commented on #84
Thanks for the note. I couldn't find the command to display the current power save status of wifi, so I just set it to off. Maybe it was off already and the fact that I had not drop was a fluke.

[2018-02-04 12:20] fridgecow commented on #31
Would you like me to provide a log? What would be useful?

On 3 Feb 2018 11:21 pm, "Jake Day" <notifications@github.com> wrote:

[2018-02-04 16:25] xaviervilla commented on #56
Yes, I'm on the i5 6300U - 8GB Surface Book (no GPU/performance base). Running Ubuntu 16.04.3 (Fresh install yesterday and followed the readme step by step with no problems). I went with the pre-built kernel and header that you had up (I was unsure which version I needed so chose the highest number - 4.15.0) Yesterday Everything was working beautifully, and it seems hibernation is working as expec

[2018-02-04 16:44] xaviervilla commented on #56
Reboting fixed the touch screen btw.

[2018-02-04 18:11] scheissegal1 commented on #70
It seem like i have the same problem. Please help me to send you the information needed to get more insight into the problem.
Hans Michel

[2018-02-04 20:33] jakeday commented on #70
@scheissegal1 What distro are you on? I tested with the latest of my kernels on elementary os and ethernet over usb works fine here.

[2018-02-05 12:36] realSpok commented on #84
I experienced another wifi drop since the last time I posted, but it was after a restart. So I found the command to show the interface power_save status at startup, and here it is for me:
`sudo iw dev wlp2s0 get power_save
Power save: on`

So 2 things: in my case I have only seen the drop when in "Power save mode on", so the settings does indeed seem to help. And next it is not enabled by default

[2018-02-05 15:04] thmichel commented on #61
Hi, I am running Wayland and the nourveau driver for the dGPU. I can confirm the issue, if I do a "rmmod nouveau" as root before undocking, everything works fine.

Seems that pressing the undock button does not cause the neavou driver to unload / the dGPU to be disabled.

[2018-02-06 12:44] jakeday commented on #84
@realSpok Can you give this another try with the latest builds I pushed? I re-compiled 4.15.1 and 4.14.17 with my updated wifi patches, so download the latest ones and give it a shot.

[2018-02-06 12:44] jakeday commented on #74
@Gunkkk  Can you give this another try with the latest builds I pushed? I re-compiled 4.15.1 and 4.14.17 with my updated wifi patches, so download the latest ones and give it a shot.

[2018-02-06 12:44] jakeday commented on #68
@andrew-w-sherman  Can you give this another try with the latest builds I pushed? I re-compiled 4.15.1 and 4.14.17 with my updated wifi patches, so download the latest ones and give it a shot.

[2018-02-06 18:06] realSpok commented on #84
Ok. But I usually do not compile myself for Archlinux. That will have to wait for the downstream AUR repository to be updated.

[2018-02-07 02:44] mathias commented on #5
Is the keyboard device MSHW0091 or MSHW0096?

[2018-02-07 17:22] npjohnson commented on #70
@jakeday Sure can. Just booted to Ubuntu and updater to 4.15, will try again tonight.

[2018-02-07 17:52] jakeday commented on #70
@npjohnson Great, thanks!

[2018-02-07 17:53] jakeday commented on #5
@mathias MSHW0091 that I mentioned is not the keyboard, but provides the acpi notifications required over i2c that we need to get other functions to work.

[2018-02-07 20:17] mathias commented on #5
Any idea if this (in `lsinput`) is the keyboard, or is this part of the touchscreen?

[code]

[2018-02-07 23:09] dangerm0us commented on #65
Colour me excited also!

[2018-02-08 01:50] #84 closed

[2018-02-08 01:52] jakeday commented on #74
Wifi issue is resolved, and the remaining issue is a result of #56

[2018-02-08 01:52] #74 closed

[2018-02-08 02:08] jakeday commented on #61
Added udev rule to handle this.

[2018-02-08 02:08] #61 closed

[2018-02-08 08:04] Gentoli commented on #70
I have the same problem for both the USB ethernet adapter and the dock's ethernet adapter. Base on what I found online, the upstream kernel was using USB 2.0 to communicate with the adapter (I am not really sure how when its on a 3.0 port), that is why it was working before. But they have switched to using USB 3.0 and it is broken. Using a 2.0 hub for the ethernet adapter it works fine but it won'

[2018-02-08 08:06] npjohnson commented on #70
@Gentoli I'll try the 2.0 dock as well and see.

Worth nothing though that when plugged in on boot, Ethernet does not work as of the 4.13 kernel.

[2018-02-08 08:34] npjohnson commented on #70
@jakeday unfotunately, 4.15.1 suffers from the same problem... as @Gentoli mentioned, this seems to be an upstream xhci_usb bug with USB 3.0 Ethernet Adapters (as comically, my 2.0 Ethernet adapter works fine).

Additional logs (with only relevant info) for connection of a USB 3 Ethernet adapter:

- [  353.997913] IPv6: ADDRCONF(NETDEV_UP): enx5882a88b6ff0: link is not ready
- [  389.292225] usb 2

[2018-02-08 12:22] jakeday commented on #68
@andrew-w-sherman I made some addtional changes for 4.14.18 and 4.15.2 for wifi. Can you test them out, please?

[2018-02-08 21:10] andrew-w-sherman commented on #68
Yup, sorry, just takes me a while to build and I haven't had a ton of time. Will try to get it done tonight with 4.14.18. Thanks for the work on this!

[2018-02-08 21:26] TheAlphaOne commented on #56
@jakeday You're gonna get real sick of this particular issue soon, I can see it coming. 🤣

Tried hibernation (systemctl hibernate/pm-hibernate) both on 4.14.18 and the newest 4.15.2, both result in the same issues and same errors (as far as I can tell) as previously mentioned in https://github.com/jakeday/linux-surface/issues/56#issuecomment-362877002

Attached is a new dmesg log if you need it.

[2018-02-09 02:04] andrew-w-sherman commented on #68
Ok, so right now I'm running with the patches from 3 days ago and 4.14.16, and as near as I can tell it's working, or at least the most stable I've ever seen it. Compiling 4.17.1 with the very latest patches at the moment, and I'll try to keep load testing it, but it's looking good so far.

[2018-02-11 00:13] jakeday commented on #70
@npjohnson Ok, so this is most definitely an upstream issue. Can you please file a big there?

[2018-02-11 00:13] #70 closed

[2018-02-13 03:38] WindChimeRan commented on #28
I guess this one is helpful.
[2015 battery bug on Surface3](https://bugzilla.kernel.org/show_bug.cgi?id=90161)

[2018-02-13 08:17] jrevillard commented on #56
A quick update for 4.14.18. Wifi does not work after resume:

févr. 13 08:54:45 ordiwork kernel: ------------[ cut here ]------------
févr. 13 08:54:45 ordiwork kernel: WARNING: CPU: 1 PID: 9119 at drivers/gpu/drm/i915/i915_guc_submission.c:884 guc_init_doorbell_hw+0x179/0x1d0 [i915]
févr. 13 08:54:45 ordiwork kernel: Modules linked in: ppp_deflate bsd_comp ppp_async nls_iso8859_1 btrfs xor zstd_d

[2018-02-13 08:28] npjohnson commented on #79
Surface Dock works fine here on my Surface Book PB. I run 3 monitors off it (2x Mini-DP to HDMI, one USB to HDMI).

[2018-02-14 02:55] #68 closed

[2018-02-14 03:02] jakeday commented on #79
@npjohnson I agree, it's working fine for me here too.

@zeroskyx Can you get me a full dmesg output?

[2018-02-14 03:04] jakeday commented on #31
@fridgecow Can you get me the output of dmesg and the xorg log from a recent build?

[2018-02-14 03:05] jakeday commented on #62
@Shadoukun This is on my roadmap for right after the acpi notify module.

[2018-02-14 19:33] zeroskyx commented on #79
Thanks for your analysis; here's the full dmesg after a fresh start:

[dmesg.txt](https://github.com/jakeday/linux-surface/files/1725373/dmesg.txt)

[2018-02-14 21:49] dangerm0us commented on #65
I just couldn't wait and went ahead and tried 4.15 last night on my SB2 13" w/ Linux Mint 18.3.

I have also suffered the issue described.  My SB2 turned into a frying pan!  I think I nailed the battery in under an hour.  Woops.

[2018-02-15 10:20] fridgecow commented on #31
Absolutely. Not sure which Xorg log is the useful one, so attached them all. Also, this problem happens on Wayland so is probably well before the X server.

[dmesg.txt](https://github.com/jakeday/linux-surface/files/1727204/dmesg.txt)
[xorglogs.tar.gz](https://github.com/jakeday/linux-surface/files/1727205/xorglogs.tar.gz)

[2018-02-15 21:03] LTDeto opened #85 "Surface Book: Keyboard not working in initramfs (4.15.3-surface-linux-surface)"
Thanks for the amazing work.
I am running Ubuntu 17.10 on a luks encrypted disk. During boot when it comes to the password prompt to unlock the disk I have noticed that Surface Book's keyboard doesn't seem to work at all.
After entering the passphrase with an external keyboard connected via USB I quickly checked lsmod.
Adding "hid" and its dependencies to /etc/initramfs-tools/modules fixed that fo

[2018-02-17 04:23] phihh opened #86 "problem emerges with Instructions to install"
1. May I directly enter the command in the terminal to get it installed?
I'm new to this ubuntu system
----------------------------------------------------
:~$ sudo cp -R root/* /
[sudo] password for z:
cp: cannot stat 'root/*': No such file or directory
-----------------------------------------------------

[2018-02-17 05:48] ajensenwaud opened #87 "Ubuntu 17.10.1 - touch screen doesn’t work after login"
Hello. I have installed patches on Ubuntu 17.10.1 on a Surface Book (not Book 2), using the 4.15 deb package.
When I reach login screen the touch seems to work and for about two minutes after login. Then touch stops working, with and without pen.syslog:Feb 17 17:40:25 kennedy kernel: [  540.682529] mwifiex_pcie 0000:03:00.0: info: shutdown mwifiex...
In addition, suspend doesn’t work. When I close

[2018-02-17 05:53] ajensenwaud commented on #87
To be clear re suspend - it does try to suspend (ie black screen) when I press suspend icon in Gnome, but when I try and close the lid the screen turns back on. I dont experience any system hang as such. It’s like t tries to suspend but then is woken back up.

[2018-02-17 06:16] ajensenwaud commented on #86
You need to first clone the git repo into a folder and then cd into it for the command to work.

[2018-02-17 07:15] ajensenwaud commented on #87
I just found the following in syslog:

[code]
Kicking the wifi with modprobe -i mwifiex_pcie and modprobe -i mwifiex seemed get the adapter back up and running.

[2018-02-17 12:23] jakeday commented on #86
@phihh As @ajensenwaud mentioned, you need to clone the repo and cd into it first.

[2018-02-17 12:23] #86 closed

[2018-02-17 12:24] jakeday commented on #87
@ajensenwaud The two issues reported here are duplicates of #31 and #56

[2018-02-17 12:24] #87 closed

[2018-02-17 20:41] jakeday commented on #85
Will do.

[2018-02-17 20:41] #85 closed

[2018-02-18 07:03] xaviervilla opened #88 "Surface Book: Ubuntu 16.04 Battery Indication sounds while charging - 4.15.1"
First off, Thank you Jakeday for an awesome repository!

Ubuntu makes a chime/notification sound once the battery gets low enough, but after attaching the charger for my surfacebook, the chiming continues almost every 30 seconds to a minute with varying frequency until it gets enough charge to leave that threshold. During that period I can't really play any audio because it will just drive me craz

[2018-02-18 07:31] xaviervilla commented on #88
I went ahead and upgraded to kernel 4.15.4 and I'll test if the issue is resolved and get back.

[2018-02-18 08:21] xaviervilla commented on #88
Okay, The issue persists for me on 4.15.4. I plugged my charger in at 6%, and i counted 11 chimes in one minute. Every time the chime happens, the battery in the status bar changes states. I'm thinking it's going to be an ACPI issue? When the chime occurs, the battery time left in the status bar goes from say "6:11" down to "1:34" and then returns back to 6:11. Then the battery will jump to ":30"

[2018-02-18 15:08] combivanCoder opened #89 "Marvell Git repo unavailable"
Every time I've tried to access the http://git.marvell.com/mwifiex-firmware repo it's always been unavailable.

Looks like I'm [not the only one](https://www.reddit.com/r/SurfaceLinux/comments/6pmvpi/gitmarvellcom_alternative/). Is there an alternative source to update the README.md with?

Not sure if [this](https://git.kernel.org/pub/scm/linux/kernel/git/firmware/linux-firmware.git/tree/mrvl) is

[2018-02-18 15:12] combivanCoder commented on #69
@jakeday the resolution seems to solve the problem from 4.13 onwards with crypt disk & pwd entry on boot. Is it worth adding to the install?

[2018-02-18 15:17] jakeday commented on #69
@combivanCoder I have already added the modules config for loading the input modules a boot to address this issue. Check the latest in my repo.

[2018-02-18 15:24] jakeday commented on #89
@combivanCoder I just tested their repo again and it's available. I know it goes down from time to time, but it always comes back up. I just pulled the latest this morning and I can push up a clone but it's always best to get the latest from them.

[2018-02-18 15:24] #89 closed

[2018-02-18 17:41] maflin18 commented on #5
Any progress in the ACPI module? Any data we can provide from surface laptops to help?

[2018-02-18 17:58] ingermy opened #90 "Surface Pro 2017: Xorg often crashes"
On my surface pro 2017 on xorg it often crashes (ubuntu 17.10  kernel 4.15.4). Why?
Thank's for your job!

[2018-02-18 19:06] deb75 opened #91 "SB1 or SB2 for better support?"
Hello,

Is it easy to install linux (say ubuntu) on a surface book ?

Which surface book (1 or 2) is the most usable with linux currently ?

I heard that the dGPU on the SB2 is drastically throttled down as soon as it gets hot,
which means it loses most of its power ? Can you still benefit from all the nvivdia gpu
power with linux ?

Will the suspend to ram be supported one day ? Or is it just hop

[2018-02-19 02:41] jakeday commented on #90
@ingermy Can you give me the xorg log and the output of dmesg?

[2018-02-19 02:46] jakeday commented on #91
@deb75 They are both mostly stable. With the SB1, everything works except the dGPU, cameras and connected-standy. With the SB2, everything works except the battery readings, volume buttons, cameras and connected-standy. You can use hibernate instead of connected-standy on both. Both have been daily drivers and I'm close to having everything working except connected-standy, so go with whichever you

[2018-02-19 02:47] #91 closed

[2018-02-19 10:39] thekswenson commented on #91
Is there no problem with hibernate on those devices?

The surface pro 4 is unstable and hibernate either doesn't work, or when it does the wifi gets into an unrecoverable state.

I unfortunately have not been able to use my SP4 machine as my work machine because it's not dependable.  It's impractical to have a portable computer that cannot save its state in low power.

[2018-02-19 11:54] ingermy commented on #90
certainly. I hope I have sent what you need. I just got into the linux world. thanks for the support.
[dmesg.txt](https://github.com/jakeday/linux-surface/files/1736569/dmesg.txt)
[log.txt](https://github.com/jakeday/linux-surface/files/1736570/log.txt)

[2018-02-19 13:06] deb75 commented on #91
Hello,

@jakeday

Thanks first for reformulating my question.

About the SB2 dGPU I would like to be sure, some people reports the dGPU  is throttled down as soon as you put a load on it, because of a bad fan reading, which drastically lowers its performance.

Is it true ? or can you make full use of the dGPU ?

Also, is there still one iGPU ? is there some kind of optimus technology ? If so, can

[2018-02-19 14:47] jakeday commented on #91
@thekswenson I've been testing on a SB1 and SB2 and do not have hibernate issues with either.

[2018-02-19 14:48] jakeday commented on #91
@deb75 Yes that is true, but it should be addressed soon.

[2018-02-19 15:40] fpoussin commented on #90
@ingermy it should be /var/log/Xorg.0.log and /var/log/kern.log for ubuntu

[2018-02-19 16:07] deb75 commented on #91
@jakeday

I read elsewhere (reddit) that SB2 with dGPU can still make use of the iGPU (UHD 620) and that you can switch between both with bumblebee, more preciisely one can switch to the dGPU with bumblebee. If this is functional, I think I would go for the SB2, because I only need the dGPU for some games.

How about the battery life with linux ? With windows, it seems to reach 10 hours, does it h

[2018-02-19 18:58] sebanc commented on #31
The issue seems fixed on my SP4 m3 (full resolution, no other tweaks) with the below patch applied after jakeday's 4.15 patch.
[https://gist.github.com/sebanc/6be29c1dfbba564a9a15c7b5fcbe96fc](url)

It bypasses a priority mechanism which seems not supported on Skylake guc and increases the ipts guc priority.

[2018-02-19 19:47] jakeday commented on #31
@sebanc  Good catch! Looks like that's why it's been hit or miss as well. I'll add the changes to my kernel and we should be good.

[2018-02-19 19:47] #31 closed

[2018-02-19 19:57] fridgecow commented on #31
@jakeday Can you post if/when you add it to your `.deb`s?

[2018-02-19 20:02] jakeday commented on #31
@fridgecow Yes, absolutely!

[2018-02-20 05:53] xaviervilla commented on #88
Okay, after days of trying to remove the annoying chime, I renamed the "Low battery.ogg" file located in /usr/share/indicator-power/sounds/ !!! I'm a happy camper. Hopefully it wont reappear after an update or anything. Just thought i would share in case somebody else has the same Issue!

[2018-02-20 17:00] ingermy commented on #90
I only found this
[kern.log](https://github.com/jakeday/linux-surface/files/1741055/kern.log)

[2018-02-20 18:10] fpoussin opened #92 "Host release packages on Github"
Hi,

Currently packages are hosted on google drive, which is unpractical and somewhat slow.
There is a way to host binary files directly on Github via releases.
That would make things easier for everyone, as each release points to a specific git tag.
Could you have a look at it?

Thanks!

[2018-02-20 19:40] JamesCreasySkur commented on #5
I'm also using 17.04 on the Surface Laptop and would like a working keyboard. Happy to test or otherwise help.

[2018-02-20 21:53] mathias commented on #5
I'd taken a look at the guides to ACPI in Linux and the kernel sources + jakeday's patches, but ACPI is a big confusing system and outside of my current knowledge.

Perhaps we can start hacking on a community-driven driver for the MSHW0091, even if it doesn't work to start? I feel bad expecting work from jakeday, and I do want to contribute, but I didn't know where to get started.

[2018-02-20 23:58] jakeday commented on #5
@maflin18 @mathias I'm working on the module now. Coming soon!

[2018-02-21 00:09] jakeday commented on #90
@ingermy Did you make any other changes to your system? I don't see any kernel issues, so I'm assuming it's some other distro config change that's been made.

[2018-02-21 10:19] ingermy commented on #90
It stops when you open the virtual keyboard and only on xorg. As soon as I have time, I reinstall everything from the beginning. Thank you

[2018-02-21 10:20] ingermy commented on #90
It stops when you open the virtual keyboard and only on xorg. As soon as I have time, I reinstall everything from the beginning. Thank you

[2018-02-21 18:44] tdurand opened #93 "Surface book 2 (13'') Freeze when undocking"
Hi !

First thanks for your hard work.

I just installed ubuntu 17.10 with the 4.15.4-surface-linux-surface kernel, and every supported feature seems to work alright (touchscreen, bluetooth ...) but when I detach the screen, ubuntu freeze, the tablet get super hot and I can't do anything. If I try to replug the screen it stays like that and I need to reboot the computer.

One thing I'm not sure is

[2018-02-21 18:54] jakeday commented on #93
@tdurand Did you also install the root files? Namely the udev rule for the keyboard.

[2018-02-21 19:13] tdurand commented on #93
I just re-copied them and restarted to make sure, and yes it does now, sorry, not sure what went wrong during first install...

I'm also wondering, do I need to install nvidia driver and how to see which GPU is used (maybe off-topic) ?

[2018-02-21 19:13] #93 closed

[2018-02-21 20:37] jakeday commented on #92
@fpoussin Good idea! Done!

[2018-02-21 20:37] #92 closed

[2018-02-21 21:11] maflin18 commented on #5
Do either of the releases you just put out contain the fixed module? I'm assuming no, but figured it doesn't hurt to ask. Thanks again for all of your time and hard work!

[2018-02-21 23:19] pierrebeaucamp commented on #15
I see that you switched to patch files after all. Thank you so much, this greatly facilitates installing the kernel in my distro of choice!

[2018-02-22 00:31] dangerm0us opened #94 "Surface Book 2 13" Possible missing firmware"
Hi Jake,

Not sure if this is an issue or not, but after following all instructions to the letter, I got the following error when using dpkg -i to install the precompiled headers and image on Ubuntu 16.04:

`Possible missing firmware /lib/firmware/i915/bxt_guc_ver8_7.bin for module i915`

Full output below:

[code]

[2018-02-22 14:11] jakeday commented on #94
@dangerm0us It won't really impact anything. However, you can get it from the i915_firmware_bxt.zip package in my firmware directory.

[2018-02-22 14:11] #94 closed

[2018-02-26 19:11] junghyuneun commented on #56
For anyone having problem with touchscreen, check if the module "i2c_hid" is up after waking up / reattach, etc by doing "lsmod | grep i2c_hid". If it is not up, try doing "modprobe -a i2c_hid" and see if touchscreen works.

[2018-02-28 10:50] deb75 opened #95 "surface book 2 : battery readings"
The current state of the surface book 2 says they are no battery readings.

Does it mean you cannot know the battery level ?

I ask this question because, without knowing the battery level, you may drain the battery totally, which can damage it.

[2018-02-28 11:10] niklaskorz commented on #95
Yup, that's what it means.

[2018-02-28 14:13] deb75 commented on #95
Is it going to be addressed soon ?

Regards

[2018-03-01 04:14] dangerm0us commented on #95
All we know is that as per a few other issues, an ACPI Notify Module is required to fix this issue.  In the meantime you're flying blind on battery like the rest of us.

[2018-03-01 04:28] didibaba opened #96 "dGPU driver installation problem on release 4.15.6-1"
My device is Surface book2 15 inch with Ubuntu 16.04. After I install the linux-surface kernel release 4.15.6-1, the NVIdia drive 390.25 failed.

I tried to reinstall it, but showed the error message as follows.

sudo apt-get install nvidia-390-dev
[sudo] password for xx:
Reading package lists... Done
Building dependency tree
Reading state information... Done
The following additional packages will

[2018-03-01 04:44] samsungrocks10 commented on #95
#28 is talking about the same thing

[2018-03-01 14:17] didibaba opened #97 "How to use the command "nvidia-smi" to monitor the usage of dGPU on SB2 15?"
After installing the surface kernel 4.15, the command "nvidia-smi" doesn't work, and shows the message "NVIDIA-SMI has failed because it couldn't communicate with the NVIDIA driver. Make sure that the latest NVIDIA driver is installed and running."

So, I am not quite sure if the nvidia driver functioned normally, since this command is what I used to verify this when running deep learning algorith

[2018-03-01 14:45] didibaba commented on #57
I tried the "nvidia-smi" command which is used to indicate the status of the GPU usage, but it didn't work. So, I still think that there is problem with the nvidia driver.

[2018-03-01 21:29] jakeday commented on #95
@deb75 Yes, this is currently being worked under #28 and I hope to have it complete very very soon!

[2018-03-01 21:29] #95 closed

[2018-03-01 21:36] jakeday commented on #96
@didibaba Can you try purging (not just removing) the nvidia drivers and try again? It looks like something in the driver's installer got messed up. On a side note, I don't see any relation to a kernel issue with this.

[2018-03-02 03:01] didibaba commented on #96
This is the error about the kernel.  I used "sudo apt-get install nvidia-390-dev" to install the driver.

I am sure that the deep learning algorithms using dGPU doesn't work. My tensorflow just shows,

However, before installing the surface kernel, this did work.

[2018-03-02 12:00] jakeday commented on #96
@didibaba What version kernel were you using prior? This looks like a dkms issue going to 4.15 and you need to update the 4.15 dkms files.

[2018-03-02 12:49] didibaba commented on #96
It was 4.15.4-041504. I have also tried 4.13 and got the same problem.

[2018-03-03 14:26] deb75 opened #98 "Surface Book 2 : best distribution to use with jakeday kernel ?"
Hello,

Which distribution do you use and recommend for the surface book 2 ? Especially to make use of the touchscreen and stylus.

Also, which distribution (version of ubuntu I guess) for the linux-surface kernel ?

Regards

[2018-03-04 00:38] jakeday commented on #98
I was using Elementary OS, but I switched to KDE Neon. Any distro should work fine, though.

[2018-03-04 00:38] #98 closed

[2018-03-04 00:39] jakeday commented on #97
Please post questions on the SurfaceLinux subreddit.

https://www.reddit.com/r/SurfaceLinux

[2018-03-04 00:39] #97 closed

[2018-03-04 00:39] jakeday commented on #62
Please post questions on the SurfaceLinux subreddit.

https://www.reddit.com/r/SurfaceLinux

[2018-03-04 00:39] #62 closed

[2018-03-04 00:40] jakeday commented on #90
@ingermy Please re-open this after your re-install if you are still having issues.

[2018-03-04 00:40] #90 closed

[2018-03-04 00:44] jakeday commented on #79
@zeroskyx I don't see any issue unfortunately.

[2018-03-04 01:58] atharos1 opened #99 "Issues installing 4.15.7 kernel (SB2 15')"
Hi!
I was just trying to install the new kernel by following your instructions, by the last step I ran into the following issues.

[code]

A total noob here, will try booting into the new kernel anyway, as it seems to be complaining about i915 files for previous Surface generations.

Thanks!

[2018-03-04 02:13] atharos1 commented on #99
OK, so even if the OS boots and seems to be working nicely, I get a lot of complaints during boot that I can't read, but that don't show up when booting your old .14 kernel.
Running _systemctl status systemd-modules-load.service_ returned:
`systemd-modules-load.service - Load Kernel Modules
   Loaded: loaded (/lib/systemd/system/systemd-modules-load.service; static; vendor preset: enabled)
   Acti

[2018-03-04 02:24] jakeday commented on #99
Your issue isn't with the kernel but with having anbox installed. They always have issues with their modules getting loaded on newer kernels. You'll need to send a bug to them.

[2018-03-04 02:24] #99 closed

[2018-03-04 02:28] atharos1 opened #100 "[SB2] Ethernet not working on SB2 15'"
Hi! Sorry to bother you again.
Sorry to bother you again. I just noticed that, even though the Dock is working perfectly for all peripherals, Ethernet doesn't seem to be working, even though it is on Windows.

Thank you!

[2018-03-04 02:35] jakeday commented on #100
@atharos1 That's kinda two part. My patch file enables it for the dock, but the core driver in the mainline kernel was changed in 4.14.5 and caused issues with all ethernet adapters over usb 3.0. I believe a bug has been filed upstream.

[2018-03-04 02:35] #100 closed

[2018-03-04 08:00] didibaba commented on #96
Unfortunately, I've tried your newest release, and the problem still exists.

Do I need to do something to the dkms??

[2018-03-04 13:48] dh-harald commented on #65
I don't know, is it the new driver or not, but on the latest kernel (4.15.7) on SB2, I could fix the throttling with the following settings:
scaling_min_freq: 400000
scaling_max_freq: 4200000
scaling_governor: powersave

[2018-03-04 14:34] jakeday commented on #65
@dh-harald Yes, that is due to the new driver. You have the ability to set cpu scaling now that power management is enabled.

[2018-03-04 14:34] #65 closed

[2018-03-04 14:40] jakeday commented on #96
@didibaba Yes, you need to update the patch files for dkms. Also, the errors you posted previously are not from the kernel. This looks like a user space issue and would be better asked on the SurfaceLinux subreddit as well.

https://www.reddit.com/r/SurfaceLinux/

[2018-03-04 14:40] #96 closed

[2018-03-04 20:15] jakeday commented on #5
Can someone get me a dump of the DSDT from the Surface Laptop please?

[2018-03-04 20:43] programjm commented on #5
@jakeday
Surface laptop DSDT (extracted using rweverything)
https://drive.google.com/open?id=1sPJgQD3q6hG6nUQkbINNqdp3IPkMokjp

[2018-03-04 21:03] jakeday commented on #5
@programjm Perfect! I'm compiling an updated kernel with support for the surface laptop keyboard now. I'll upload in about an hour if you could test it!

[2018-03-04 21:38] programjm commented on #5
@jakeday Great! I don't have an ubuntu-based distro installed currently, though I can look into that if necessary.

Also I'm assuming if I want to use the kernel on Manjaro-KDE I'll have to compile it in that distro?

Thanks for all your work.

[2018-03-04 22:14] maflin18 commented on #5
@jakeday I have Linux still loaded up on my surface laptop and can test as soon as the build is up.

[2018-03-05 00:53] jakeday commented on #5
@maflin18 The new builds are up now. Let me know how it goes!

[2018-03-05 03:57] maflin18 commented on #5
@jakeday Just got home so I will test here shortly and report back. What is the difference between the 4.15 and 4.13 builds?

[2018-03-05 04:15] maflin18 commented on #5
@jakeday Update: 4.15.7 keyboard still not working :( Let me know what I can do!

[2018-03-05 21:09] jakeday commented on #5
@maflin18 Is that booted into a distro? Can you get me an output of dmesg?

[2018-03-05 22:29] maflin18 commented on #5
@jakeday yes, Ubuntu 17.10. I should be able to get around to getting that for you later tonight.

[2018-03-06 00:07] deb75 commented on #95
Hi,

There were several commit during last days, did they were related to this issue ?

Regards

[2018-03-06 00:20] jakeday commented on #95
@deb75 They were a stepping stone to support the core acpi driver. Battery stats are coming soon.

[2018-03-06 01:44] Ninecl commented on #5
[    0.000000] Linux version 4.15.7-surface-linux-surface (jake@jake-surface) (gcc version 5.4.0 20160609 (Ubuntu 5.4.0-6ubuntu1~16.04.9)) #10 SMP Sun Mar 4 19:01:30 EST 2018
[    0.000000] Command line: BOOT_IMAGE=/vmlinuz-4.15.7-surface-linux-surface root=UUID=014d32f2-72a0-47f1-ab92-930b04990c8d ro quiet splash vt.handoff=7
[    0.000000] KERNEL supported cpus:
[    0.000000]   Intel GenuineInt

[2018-03-06 06:23] maflin18 commented on #5
@jakeday Here is the dmesg: https://goo.gl/1krU7P

Wasn't sure if there was a certain way to export the dmesg as a file, so it's just in text form (.odt) here. I can do otherwise though if you need.

Running on Ubuntu 17.10

[2018-03-06 07:26] atmjoy commented on #5
keyboard still not working  ,here my dmesg : https://drive.google.com/file/d/1CvCKFOTXMSzi7uAdkp_RFnZOusPwuU2C/view?usp=sharing

running on debian Stretch

thanks

[2018-03-06 15:34] jrevillard commented on #56
@jakeday Do you still have problems to reproduce ? I'm still able to wake up but I have no more Wifi/Bluetooth (see my segfault). I'm using 4.15.4 now. Do you need specific information to be able to fix it (if possible ;-) )

Best,
Jerome

[2018-03-06 16:31] jakeday commented on #5
@maflin18 @atmjoy Thanks, I'll take a look!

[2018-03-07 02:09] maflin18 commented on #5
@jakeday perfect, let us know if there is anything else we can do! :)

[2018-03-07 02:23] jakeday commented on #5
@maflin18 I'm so sorry, I had a typo in there that I didn't realize! I'm compiling a new build and will push it tonight to test.

[2018-03-07 04:33] maflin18 commented on #5
@jakeday all good! I may not be able to test the build tonight, but will do so tomorrow morning.

[2018-03-07 05:53] jakeday commented on #5
@maflin18 Great! Can you try the 4.15.7-3 release when you get a chance?

[2018-03-07 06:12] maflin18 commented on #5
@jakeday sure thing! Should be able to get around to it around noon, CST. Will report back here right away.

[2018-03-07 07:17] Shr1nk commented on #5
@jakeday Hey man I installed your kernel and it still doesn't work. Here's the dmesg
[dmesg.log](https://github.com/jakeday/linux-surface/files/1788144/dmesg.log)

[2018-03-07 13:13] jakeday commented on #5
@Shr1nk Is that with the 4.15.7-3 from late last night?

[2018-03-07 14:16] Craaq commented on #5
hello guys.. going to try the 4.15.7-3 which you updated last night. the weird thing is that on the surface laptop the backlight is working and the "FN" Key is also kinda working you can turn it on/off
does this help you?

[2018-03-07 14:31] Craaq commented on #5
@jakeday stupid question, but where do i get the newest files from?

[2018-03-07 14:38] Craaq commented on #5
so i tried the newest version.. it still doesnt work. maybe i did something wrong? because the touchscreen isnt working aswell. Should it work?

[2018-03-07 14:46] maflin18 commented on #5
@Craaq in the release description. Or the Google drive linked in readme.

[2018-03-07 14:48] jakeday commented on #5
@Craaq @maflin18 Please be sure you are testing with this release: https://github.com/jakeday/linux-surface/releases/tag/4.15.7-3

[2018-03-07 14:49] GregRichards commented on #5
Just tried the 4.15.7-3 build with Ubuntu 18.04 still not working, dmesg here https://drive.google.com/open?id=19crBi334LorZsKuqmLH7uVdT7J-_IEcg

[2018-03-07 15:14] Craaq commented on #5
@jakeday  sorry, my mistake i took the right imagine and header, but the other files were old.

[2018-03-07 15:44] Craaq commented on #5
stupid question, but do i have to do something specific with the patches in folder? because it looks like everything works fine except keyboard and touchscreen. Someone with surface laptop where the touchscreen works?

[2018-03-07 15:55] GregRichards commented on #5
Just following Jake's instructions work.  My touchscreen does work, the web cam has never worked but that was a really low priority compared to the keyboard.  The Surface dock works flawlessly.  I am using a daily build of 18.04

[2018-03-07 16:00] Craaq commented on #5
did you made something with the files that are patches-4.14 or 4.15 folder? because in the instruction there is nothing about it

[2018-03-07 17:05] maflin18 commented on #5
@jakeday updated and still a no go. As a previous user mentioned, FN key works (can be toggled on/off) but no other keys function.

As always, let me know if there is anything I can do to help.

[2018-03-07 18:18] maflin18 opened #101 "Surface Laptop / Surface Book 2: Speaker Popping/Hissing"
When booting up, speakers emit a static noise and then upon completion of boot, make some loud pops. The sound is very disturbing.

Also, sometimes after signing in the speakers will intermittently begin hissing again.

(YES I am positive it is the speakers making all of the above noises and not the fan)

[2018-03-07 19:27] ekrekeler commented on #5
@jakeday I was working with @Shr1nk last night and yes it is the 4.15.7-3 build you posted late last night. We confirmed it with uname -a.

[2018-03-07 22:40] jakeday commented on #79
Please feel free to re-open this issue if you continue to experience issues in the latest releases on a fresh install.

[2018-03-07 22:40] #79 closed

[2018-03-09 15:22] YajJackson commented on #5
@jakeday

Just finished testing 4.15.7-3. Still no working keyboard sadly. Would love to get an update on this.

[dmesg.txt](https://github.com/jakeday/linux-surface/files/1797361/dmesg.txt)

[2018-03-10 08:31] buoyancy99 opened #102 "CUDA could not locate kernel source"
I failed to install cuda through runfile after compiling and installing the kernel.
The installation always fails with message:
"unable to locate the kernel source"

I tried --kernel-source-path usr/src/linux-headers-4.14.25-surface-linux-surface but it did not work.

[2018-03-10 08:48] remingtonlang commented on #101
This also happens on an SB2. I've noticed it consistently does this, post kernel load and stops right before loading X(lightdm in my case)

# uname -a
Linux surface-book 4.15.7-surface-linux-surface #12 SMP Tue Mar 6 22:15:47 EST 2018 x86_64 x86_64 x86_64 GNU/Linux

[2018-03-10 09:08] timbk commented on #101
I own a SP2017. I heven't noticed the popping sound with either linux or windows. But i have noticed the static speaker noise on windows too, so that might not be solvable via software

[2018-03-10 17:16] jakeday commented on #102
@buoyancy99 That likely needs the linux-libc-dev package for the kernel. I'll upload it with the next batch of kernels I release, which will be here shortly.

[2018-03-10 17:16] #102 closed

[2018-03-10 22:16] jakeday commented on #5
Can you guys test 4.15.8-1 and give me the dmesg output? I should be able to get additional info out of this build (but who knows, it may also just work).

[2018-03-10 22:53] jakeday commented on #101
@maflin18 I updated the pulse daemon.conf settings. Can you pull them down (and install the latest kernel) and test again?

[2018-03-11 07:14] atmjoy commented on #5
@jakeday same issue with 4.15.8-1 , no keyboard

[dmesg180311.txt](https://github.com/jakeday/linux-surface/files/1800121/dmesg180311.txt)

[2018-03-12 02:38] maflin18 commented on #101
@jakeday currently on family vacation, so limited in what I can do. But, I will be sure to do this as soon as I can next week if it is not solved by then.

[2018-03-12 04:44] forrestblade commented on #28
I believe I have this same issue.   I am running a flavor of ubuntu called Pop!_OS and I cannot get my battery to register.

[2018-03-13 02:14] xlelephant opened #103 "Fedora Support"
I installed fedora on SurfacePro4. Fedora 27 has good support for surfacepro4 and seems to be very power-saving, i.e. drops 50% with screen lights up for 8 hours.

What's Working:
Keyboard, Touchpad
2D/3D Acceleration(kernel 4.15.6 above)
Bluetooth(only for kernel 4.13)
Speakers
Power Button
Volume Buttons
SD Card Reader
Sensors (accelerometer, ambient light sensor)
Battery Readings
Docking/Undock

[2018-03-13 02:19] xlelephant commented on #67
I have installed Fedora27 on SP4, it is really great.
Actually, I don't know how to compile the kernel with Jakeday's patches.
Could you provide some instructions here?

[2018-03-13 02:45] jakeday commented on #103
@xlelephant The marvell firmware does in fact work with 4.15 series kernels. Also, I cannot tell if you are actually running my kernel as I do not put out builds for Fedora. My kernel will add the support for things you are missing, and improve WiFi. There are plenty of guides for compiling kernels for Fedora, you will just need to apply my patches before compiling.

[2018-03-13 17:05] GregRichards commented on #5
@jakeday same, no keyboard with 4.15.8-1 on 18.04
[dmesgout.txt](https://github.com/jakeday/linux-surface/files/1807916/dmesgout.txt)

[2018-03-14 04:29] electrikjesus commented on #31
@sebanc 's fix also works for Surface Book & SP4 touch events on Android.

[2018-03-14 19:03] combivanCoder commented on #89
Agreed - looks like it's up now and again. My bad - thanks

[2018-03-14 19:04] combivanCoder commented on #69
Good work - many thanks

[2018-03-14 19:17] versipellis commented on #101
@jakeday I have this on my SB2 - still happening with pulse daemon.conf and latest kernel.

[2018-03-14 20:14] versipellis commented on #61
@jakeday This issue still seems to be happening even with the udev rule.

[2018-03-14 22:08] nish-astuff commented on #5
@jakeday No luck using 4.15.8 on Ubuntu 16.04
[dmesg.txt](https://github.com/jakeday/linux-surface/files/1813273/dmesg.txt)

[2018-03-14 23:07] johnutz-self opened #104 "Surface Dock GigE: cdc_ether:"

[2018-03-14 23:07] #104 closed

[2018-03-14 23:29] johnutz-self opened #105 "Surface Dock GigE: PROBE FAILS: cdc_ether: probe of 2-4.2:2.0 failed with error -71"
NOTE: This error is not specific to the  jakeday tree, it repro's on 4.13.0-37-generic and did not reliably repro on 4.10. I have submitted it here because it's Surface Dock specific and it is much more likely to get attended to here than it will out in the general linux developer population.

This dock is updated to the latest available dock fw and  attached to an original surfacebook.

Relevant

[2018-03-15 00:19] ichbindannmalwegmann opened #106 "Kernel"
Hi,
Do you know why the wifi patches aren't integrated into the kernel?
Kind regards,
Roger

[2018-03-15 00:52] peconi commented on #106
What do you mean by "not integrated into the kernel"?
https://github.com/jakeday/linux-surface/blob/master/patches/4.15/wifi.patch

[2018-03-15 05:46] npjohnson commented on #105
https://github.com/jakeday/linux-surface/issues/70

Its a generic Linux USB-3 Ethernet dongle issue (in that all USB3 Ethernet devices are broken in some early revision of 4.15). Needs to be reported upstream.

Haven't had the chance to do so yet. Feel free to do it! I'd appreciate it.

[2018-03-15 05:47] npjohnson commented on #100
@jakeday Got a link to the pertinent upstream bug? Can't find it...

[2018-03-15 05:49] npjohnson commented on #106
He is asking why they aren't upstream yet @peconi

[2018-03-15 05:50] npjohnson commented on #103
@xlelephant Assuming you aren't even running Jake's kernel as he insinuated, the place you're looking for to share use experience is https://reddit.com/r/SurfaceLinux.

[2018-03-15 07:06] ichbindannmalwegmann commented on #106
Yes, this is what I wanted ask, why isn't the patch upstream.

[2018-03-15 14:15] nish-astuff commented on #28
Based on the dmesg output from my Surface Laptop, this patch may be worth looking into:

https://patchwork.kernel.org/patch/10186187/

[2018-03-15 20:10] #103 closed

[2018-03-15 20:10] #105 closed

[2018-03-15 20:11] jakeday commented on #106
@ichbindannmalwegmann Someone is working on upstreaming my patches for us, they just haven't made it yet.

[2018-03-15 20:11] #106 closed

[2018-03-15 20:14] jakeday commented on #28
@nish-astuff That is part of a patchset that delays the _STA checks until dependencies are met. However, that's not our issue here. We need the _SAN device further exposed and to handle the RQST calls to _SAN from the other devices (such as BAT1 and BAT2).

[2018-03-15 20:17] johnutz-self commented on #70
OK. Who is tasked with filing upstream bug? Me?

[2018-03-15 20:27] jakeday commented on #70
@johnutz-self Would you mind doing so?

[2018-03-15 20:31] johnutz-self commented on #70
NP!

[2018-03-16 16:20] kanzwataru opened #107 "Surface Pro 4: Touching the screen while using the pen causes freeze"
If the screen is touched while using the pen, both pen and touch stop working for a few seconds. The expected behaviour is for the pen to continue to work while the touch is ignored. It's a bit difficult to explain so I've also made a video:

[https://www.youtube.com/watch?v=c1u7kxP-k_w](https://www.youtube.com/watch?v=c1u7kxP-k_w)

In the video I've demonstrated by keeping my right hand off the s

[2018-03-18 15:46] jakeday commented on #107
@kanzwataru Can you get me the output of dmesg after this happens?

[2018-03-18 16:06] kanzwataru commented on #107
It seems my pen's battery has gone flat, I'll have to get back to you in a few days. Are you able to reproduce it on your hardware?

[2018-03-18 16:57] jakeday commented on #107
@kanzwataru No, I'm not able to reproduce it.

[2018-03-19 14:55] kanzwataru commented on #107
@jakeday
Popped in a new battery, here is the dmesg output right after triggering the freeze. Hopefully this helps!

[surface-4-pen-freeze.txt](https://github.com/jakeday/linux-surface/files/1825453/surface-4-pen-freeze.txt)

[2018-03-19 16:39] nish-astuff commented on #28
@jakeday Do you have any recommended resources on this? I'd be happy to help with the development efforts but haven't really done kernel level work before. I have some time and a surface laptop running Ubuntu that I can test on

[2018-03-19 19:04] atmjoy commented on #5
@jakeday No luck using 4.15.10- ( debian buster )
[dmesg.txt](https://github.com/jakeday/linux-surface/files/1826540/dmesg.txt)

[2018-03-20 18:28] GammaPi opened #108 "Surface Book"
Touch Screen \ pen doesn't work on Ubuntu 16.04
I used .deb package

[2018-03-20 18:32] #108 closed

[2018-03-20 18:33] GammaPi commented on #108
I'm sorry, I forgot to do other steps other than dpkg -i

[2018-03-20 23:34] johnutz-self commented on #105
finally got around to it and filed this upstream

[2018-03-20 23:35] npjohnson commented on #105
@johnutz-self link?

[2018-03-20 23:41] johnutz-self commented on #105
thought you might ask....it was a test :-)....ok, not really....

https://bugzilla.kernel.org/show_bug.cgi?id=199153

[2018-03-20 23:54] xanf opened #109 "Dock/undock at SB2"
Hi and thank you for your amazing work!

I've just built latest kernel from git (4.15) and it seems I can't dock-undock my SB2 - led remains red, and actually I do not see any actions in udevadm monitor.

Am I missing something? I'm running non-Ubuntu distribution (ArchLinux) so probably I'm wrong somewhere.

(other things working fine except battery stats, but I assume they still should not work

[2018-03-21 08:34] thmichel commented on #109
Hi,

you could try to  manually unload the driver for the Nvidia card (sudo rmmod nouveau). That might prevent the device from undocking.  I think it will not undock as long as the nvidia card is in use.

[2018-03-22 07:12] XueKH commented on #5
Ubuntu16.04+4.15.10-1，the keyboard is not working,and the touchscreen doesn’t work, too.

[2018-03-22 13:19] GregRichards commented on #5
Ubuntu 18.04 - keyboard still doesn't work, touch screen has been working
[dmesg-032218.txt](https://github.com/jakeday/linux-surface/files/1837666/dmesg-032218.txt)
 on 18.04.

[2018-03-22 13:58] ksiazkowicz opened #110 "Surface Pro 4: Pen input misaligned with external display connected"
Ubuntu 16.04 LTS, libwacom updated as mentioned in README.

xrandr output:
maciej@maciej-Surface-Pro-4:~$ xrandr
Screen 0: minimum 8 x 8, current 4656 x 1824, maximum 32767 x 32767
eDP1 connected primary 2736x1824+0+0 (normal left inverted right x axis y axis) 260mm x 170mm
   2736x1824     59.96*+
DP1 connected 1920x1080+2736+0 (normal left inverted right x axis y axis) 480mm x 270mm
   1920x1080

[2018-03-22 15:29] #110 closed

[2018-03-22 15:29] ksiazkowicz commented on #110
Can't reproduce under 17.10.

[2018-03-22 18:32] nish-astuff commented on #5
Here's the output for 4.15.10 on Ubuntu 16.04
[dmesg.txt](https://github.com/jakeday/linux-surface/files/1838775/dmesg.txt)

[2018-03-22 23:06] deb75 commented on #95
Hi,

Is the issue with the dGPU also related with acpi ?

[2018-03-23 08:34] buoyancy99 commented on #109
Hi,
Undock worked fine on my ubuntu SB2. It might be a problem of Nvidia Card.
If you use you nvidia GPU for CUDA development, I would recommend install CUDA without nvidia driver.

[2018-03-23 09:58] deb75 opened #111 "Question about note section in readme"
Hello,

 It is said in the readme one may have to update the intel microcode firmware if got stuck at boot.

Where can you get this intel microcode firmware ? and how can you upgrade it (without having properly booted) ?

Regards

[2018-03-23 13:16] xanf commented on #109
Hmm.. Really weird - I'm not using nvidia driver and tried rmmod nouveau. Does not work for me. Any hints how I can debug reason for that?

[2018-03-23 13:17] xanf commented on #101
I have hissing issue on boot (for very short time - ~2-3 seconds) and constant hissing from speakers when I plug headphones. I'm running SB2

[2018-03-24 08:57] jasonmoofang opened #112 "Touch stops working occasionally (Surface Book)"
So I'm using version 4.15.4 of your kernel, and as far as I know there are no further work on touch support in the newer releases. I'm still occasionally having touch randomly stop working on my Surface Book, and today I managed to catch the dmesg log: a huge number of repeats of messages like

[ 9541.749554] ipts mei::3e8d0870-271a-4208-8eb5-9acb9402ae04:0F: error : severity : 2, source : 1, code

[2018-03-24 11:30] bovacu opened #113 "Surface Book 2 battery status"
Hi, first of all thanks for your awesome work.

I found a page where it says that the battery status of the SB2 is fully working on Linux, but in your Readme it's says it's not working and I have not been able to make it work (here's the source https://www.reddit.com/r/SurfaceLinux/comments/7kazwp/current_state_of_surfaceseries_devices/)

Is it true that is already working? If it is, can you tell

[2018-03-24 12:55] kanzwataru commented on #111
It's usually available under Additional Drivers on Ubuntu, but if it's not (or you're using a different distro) you can simply install the `intel-microcode` package.

[2018-03-24 12:57] kanzwataru commented on #111
If you're having trouble booting the installer, you can try to make a persistent live USB, boot it on a different computer to install the microcode package and then boot your Surface. I have not tried it however.

[2018-03-24 17:55] matthias-vogt commented on #109
Using the nvidia drivers but changing to the intel driver through the nvidia x server settings app did the job for me. Now I can dock and undock with the keyboard and trackpad (and touchscreen) working just fine - it just takes a few seconds longer than on windows to undock. (Using: 4.14.8, Running: SB2 13in, Ubuntu 17.10)

[2018-03-24 19:33] jakeday commented on #109
Yeah, you'll need to disable nvidia if using it and unload nouveau and switch to the intel driver. Then you can undock.

[2018-03-24 19:33] #109 closed

[2018-03-24 19:34] jakeday commented on #111
@kanzwataru is correct.

[2018-03-24 19:34] #111 closed

[2018-03-24 19:34] jakeday commented on #112
@jasonmoofang This will be fixed in 4.15.12, which I have compiling now.

[2018-03-24 19:34] #112 closed

[2018-03-24 19:35] jakeday commented on #113
@bovacu That link needs to be updated, as I'm still working on it in #28.

[2018-03-24 19:35] #113 closed

[2018-03-25 18:00] jakeday commented on #107
@kanzwataru Can you test with the latest build I pushed up?

[2018-03-25 18:53] kanzwataru commented on #107
@jakeday Unfortunately this doesn't fix it. I tried both 4.14.29 and 4.15.12. Could it be that it's because I'm using 16.04LTS? Here are the dmesg dumps for both kernel versions:

[surface-4.15.12.txt](https://github.com/jakeday/linux-surface/files/1845659/surface-4.15.12.txt)
[surface-4.14.29.txt](https://github.com/jakeday/linux-surface/files/1845660/surface-4.14.29.txt)

[2018-03-25 21:54] mlabieniec opened #114 "Random screen distortion"
On Surface book 15" randomly my screen will distort:
![mvimg_20180325_145036](https://user-images.githubusercontent.com/1417045/37880379-4c6c2940-303c-11e8-870b-711c38522efb.jpg)

I don't have anything other than a default installation of the kernel on Ubuntu 17.10, no real pattern or anything, everything works fine and randomly it will just do this and i'll need to reboot. I also tried locking sc

[2018-03-25 23:11] jakeday commented on #114
@mlabieniec That distortion comes from the firmware. My workaround has been to disable scaling and use a lower resolution and it's not a problem.

[2018-03-25 23:31] mlabieniec commented on #114
Ah gotcha, thanks. Too bad the 4k on here has performed better than anything else ived used so far.

[2018-03-25 23:31] #114 closed

[2018-03-26 14:45] nish-astuff commented on #5
Getting closer with 4.15.12 on Ubuntu 16.04 based on `dmesg` output

* Touchscreen: **works**
* Keyboard: **doesn't work**
* Battery Indicator: **doesn't work**

[dmesg.txt](https://github.com/jakeday/linux-surface/files/1848270/dmesg.txt)

[2018-03-26 19:20] Ragora opened #115 "Surface Pro 2017: Input stops working + high temperature"
I recently experimented with Ubuntu 17.10 following the instructions on this repository and had excellent results (pretty much everything worked minus the physical buttons as is already known) and so I left Ubuntu running for a while with the device in lock.

Eventually, though, I had noticed it was getting very hot to the touch so I had opened it up and went to try and figure out what was going o

[2018-03-26 20:02] dsmanneke opened #116 "Surface Pro 4 : headphone jack no audio"
when you plug speakers or headphones in, there is no audio audible on Surface Pro 4
Kernel version: 4.15.12-1

Linux Surface-Pro-4 4.15.12-surface-linux-surface SMP Sat Mar 24 19:22:01 EDT 2018 x86_64 x86_64 x86_64 GNU/Linux

[2018-03-27 06:28] rootasjey opened #117 "[Question] ipts_firmware for Surface Pro 3"
Hello,
Thank you for your work on this.

I see that there's no available _ipts_firmware_ for the Surface Pro 3 (altough there's one for _i915_firmware_).
So I skipped the 3rd step

I'd just like to check if I was supposed the skip the 3rd step or if I should use the 'v78 for the Surface Pro 4' instead.

[2018-03-27 22:17] #116 closed

[2018-03-27 22:17] dsmanneke commented on #116
Solved by reboot

[2018-03-30 08:03] lijun0326 opened #120 "Kernel patch for 4.9"
Hi, I'm trying to make touchscreen work for Android x86 on my Surface Book 2, but as you know, Android kernel is always slower then other Linux distributions. Could you pls make the patch work on v4.9 kernel? Thanks.

[2018-03-30 11:36] lijun0326 commented on #120
nvm, android-x86 has an 4.14 kernel.

[2018-03-30 11:36] #120 closed

[2018-03-30 11:40] Zyfarok commented on #117
I asked myself the same question while installing, and I think there's no IPTS technology in the surface pro 3 (so you should be able skip). I might be wrong so let's wait for jakeday's answer.
In any case, I think jakeday should update the README.md to make sure that things are clear.
Also, to jakeday  :
intel_ipts is loaded and unload in hibernate(.sh), whether you use a SP3 or not, do you think

[2018-03-30 11:47] Zyfarok commented on #56
Just wondering if my #119 pull request could possibly be related

[2018-03-30 17:43] Fabyao commented on #28
@jakeday Thank you for the explanations. I am sure you have noticed this guide from ubuntu help:
[ACPIBattery](https://help.ubuntu.com/community/ACPIBattery). As my knowledge with ACPI is fairly limited, I will start with this guide and report back on my finding.

[2018-03-30 20:23] brendandburns opened #121 "ACPI Errors on SurfaceBook (gen 1)"
[code]

Any ideas or pointers about what's missing? I'm happy to try to do the ACPI patches...

[2018-03-31 05:39] DIYer22 opened #122 "Dose this support PyTorch/TensorFlow GPU code run in native GPU and CUDA environment?"
Hi, Thank you for your awesome work! I want to use Surface book 2 to develop PyTorch/TensorFlow GPU code (just for write and debug code on GPU, not train) with native Linux GPU environment.

 So, I want to consult: Does the Ubuntu@Surface book 2 support PyTorch/TensorFlow GPU code run in native GPU and CUDA environment?

[2018-03-31 07:27] buoyancy99 commented on #122
I got cuda and TF work on my SB2. You can also run them without this kernel.

[2018-03-31 07:55] DIYer22 commented on #122
@buoyancy99
Did your mean that your TensorFlow code run in native GPU and CUDA environment on vanilla Ubuntu?

[2018-03-31 09:02] buoyancy99 commented on #122
@DIYer22 What do you mean by "native"?

[2018-03-31 09:03] buoyancy99 commented on #122
BTW, you don't need a GPU to run a pre-trained NN. CPU would be fast enough.

[2018-03-31 15:57] kitakar5525 opened #123 "Surface Book with Performance Base: nvme and wifi is preventing PC from resuming from s2idle"
s2idle (S0ix state), formerly called as Suspend-to-Freeze. Actually, some devices with Linux seem to go well with Connected Standby (Modern Standby) when s2idle is selected as a suspend mode (not traditional Suspend-to-Ram which is not supported even in Windows, though).

For example:

- [Dell XPS 13 2-in-1 (9365)](https://wiki.archlinux.org/index.php/Dell_XPS_13_2-in-1_(9365))
- [Lenovo ThinkPad

[2018-03-31 19:47] buoyancy99 commented on #122
Yes. In addition, VM or Linux subsystem might not work as GPU is not virtualized.

[2018-03-31 19:51] DIYer22 commented on #122
@buoyancy99  Thank you a lot!

[2018-03-31 19:51] #122 closed

[2018-04-01 03:55] npjohnson commented on #117
SP3 doesn't use IPTS.

No need for touch firmware. Support is included in default Linux kernels.

[2018-04-01 16:09] kitakar5525 commented on #123
Hi! I can now correctly resume from s2idle more than second time with these commands!:

[code]

Now no need to set `pcie_port_pm=off` kernel parameter and `echo 1 > "/sys/bus/pci/devices/0000:03:00.0/remove"`, `echo 1 > /sys/bus/pci/rescan` in /lib/systemd/system-sleep/hibernate.sh.

[2018-04-01 17:27] mlabieniec commented on #123
@kitakar5525 where are you putting these commands? ... in hibernate.sh -> pre/post ?

[2018-04-01 17:31] kitakar5525 commented on #123
I put in hibernate.sh -> pre.

[2018-04-01 17:35] jakeday commented on #123
@kitakar5525 I'll add it to the script, but I may want to set this in the kernel in the future. Thanks!

[2018-04-01 17:43] #117 closed

[2018-04-01 17:48] mlabieniec commented on #123
it doesn't seem to work for me ... well in general `systemctl suspend` doesn't seem to work with or without it...i get a hissing/popping sound on the speakers then no wifi etc when it comes back up a few seconds later. Then my display starts wiggin out

[2018-04-01 20:31] jakeday commented on #121
@brendandburns This is being addressed with the other ACPI issues logged.

[2018-04-01 20:31] #121 closed

[2018-04-01 20:40] jakeday commented on #123
Updated scripts and added patch to kernel.

[2018-04-01 20:40] #123 closed

[2018-04-01 20:41] jakeday commented on #56
This has been fixed in 4.15.15.

[2018-04-01 20:41] #56 closed

[2018-04-01 20:42] jakeday commented on #115
@Ragora This has been confirmed as fixed with 4.15.15. Please update and look at the latest changes to the hibernate script.

[2018-04-01 20:42] #115 closed

[2018-04-02 00:58] maflin18 commented on #5
Sorry I've been away from testing for a bit. Life got hectic. Just updated to latest, and can report same results as reported by others. Touchscreen still works, but keyboard still does not.

[2018-04-02 01:59] zhang-rui commented on #28
I believe this is the same problem discussed in this thread https://bugzilla.kernel.org/show_bug.cgi?id=198145
To me, the problem is that we're missing driver support for SAN in Linux.

[2018-04-02 04:07] Ragora commented on #115
@jakeday Blue tooth seems to continue working after the resume but touch input + wifi still are no longer an option post-resume.

[2018-04-02 07:56] deb75 opened #125 "Linux install on SB2"
Hello,

I try to install linux on my new surface book 2.

I made my choice on the latest debian distribution (buster), which is still in testing stage but has already jumped to the 4.15.xx kernel versions.

After installation, I notice a kworker process which hog at least 80% of one cpu.

Did you already encounter this issue ? Can it be solved easily ?

Otherwise should I try another distribution