[2018-12-21 13:53] Squizzy commented on #5
Can someone point to a good tutorial to sign the kernel so it is possible to switch between Windows and Linux without having to disable the secure boot in bios every time on the Surface laptop?

[2018-12-21 14:09] dbranham20 commented on #5
I turned off secure boot and ran `sudo make dkms-install` from @qzed 's module directory in his repo, but the keyboard still does not work. I am on a surface laptop 2 with Linux Mint 19.1

[2018-12-21 14:37] bpasteur commented on #28
Good call @carrylook, I totally agree and would like to add that it's a small reward for all of the time and effort that @qzed has already put in and continues to put into this project... and I have a feeling that the rest of the community monitoring this will agree as well. Thank You!!!

[2018-12-21 14:42] saturn-hh commented on #166
I had also a hard time getting it working. I had the following things to check /change:

- Does the system use a swap partition. This is standard in newer Ubuntu systems. If so, check the size of the swap file. For me hibernation only works with 10.5GB or more (RAM is 8 GB). With smaller swap file size the system couldn't wake up but start as without hibernation.
-Add commands to the kernel line i

[2018-12-21 17:38] hxoht commented on #5
@qzed hey the only other issue I'm having is that hibernate just causes the computer to go to sleep. Do you have a module for this or any recommendations?

[2018-12-21 19:31] qzed commented on #5
@dbranham20 Do you have a kernel with the relevant patches (i.e. from https://github.com/qzed/linux-surface)? Also you don't need to have secure-boot enabled to start windows. You just have to confirm (once) the BitLocker settings with your "recovery key" on the first boot to windows after you've disabled that.

[2018-12-21 19:36] dbranham20 commented on #5
Sorry for my lack of understanding up front, but what is considered the "relevant patches" for the laptop 2? Also, this computer is running only linux mint now. Windows has been wiped from it completely

[2018-12-21 19:40] qzed commented on #5
@hxoht Haven't really had a look at that one. I'm mostly using suspend (via s2idle) at the moment (that requires you to disable some wakeup-events and rfkill bluetooth, otherwise it'll wake up at some point).

For me hibernate seems to work (somewhat) normal. Suspend-to-disk is fairly quick, but resume has a black-screen for some time. State (open applications and everything) gets loaded properly

[2018-12-21 19:45] qzed commented on #5
@dbranham20 The relevant patches are the ones in the [module repo](https://github.com/qzed/linux-surfacegen5-acpi/tree/master/patches/4.18). [This](https://github.com/qzed/linux-surface/tree/master/patches/4.18) fork of the repo here integrates them with Jake's patchset (as there are some incompatibilities), and there are also prebuilts over there containing those patches. See also the testing sec

[2018-12-21 19:45] LordManhattan commented on #5
I think I'll go ahead and have a heart attack 😶 You're a brave one, alright.

[2018-12-21 20:04] dbranham20 commented on #5
@qzed i think i applied the patches correctly. or at least i downloaded and installed the prebuilts. the keyboard still does not work. what should I do next?

[2018-12-21 20:09] qzed commented on #5
@dbranham20 let's discuss this over at the module repo

[2018-12-21 20:18] programjm commented on #5
Hey, so I went through the installation process, and the touchscreen works but not the keyboard.

Steps I took:

1. Ran jakeday's setup.sh
2. Installed qzed's 3 .debs
3. Failed to install the acpi patches, probably since I hadn't restarted (https://pastebin.com/ygpMqFnJ)
4. Restarted
5. studo dkms-uninstall and sudo dkms-install. Installation seemed successful, but the keyboard didn't work.
6. Res

[2018-12-21 20:36] ChanceSDM commented on #5
My laptop screen is still black when I boot into new kernel?

On Fri, Dec 21, 2018 at 12:28 PM Maximilian Luz <notifications@github.com>
wrote:

[2018-12-21 20:40] programjm commented on #5
@qzed Thanks for your quick response. That seems about right-- I believe jakeday's setup.sh installed his kernel. I downloaded and installed your kernel afterwards. I did some googling, and it looks like I need to update the grub config to change the default kernel.

[2018-12-21 21:02] qzed commented on #5
@ChanceSDM Have you installed the firmware package(s)?

[2018-12-21 22:42] Desdra opened #318 "kworker : kacpi_notify using 90% CPU"
Hi,

I just installed linux on my SB2 and I noticed that the fans were always spinning. I checked top and saw that I had a process that was taking 90% of a core constantly surely causing this overheating...

here is what top displays me :
[code]

I installed your kernel through the steps described in the README and I am running Arch linux with KDE what can I do ?

As far as I have tried it is impo

[2018-12-21 22:46] ChanceSDM commented on #5
I thought so? I installed every .deb package, and tried to start.

On Fri, Dec 21, 2018 at 1:02 PM Maximilian Luz <notifications@github.com>
wrote:

[2018-12-21 22:53] qzed commented on #5
Did you run the setup.sh from this repo prior to installing the kernels (this would have installed the firmware, the firmware itself is not contained in the deb packages)? Alternatively you can also try and install the `firmware-linux-nonfree` package (at least that's what it's called on Debian), but to get touchscreen working you also need the surface-ipts firmware, so it's easier to just go with

[2018-12-21 23:00] qzed commented on #318
This shouldn't happen with a kernel containing the patches of this repo. Can you make sure you're booting the right one (the Arch kernel should be newer and is thus probably the default one)?

If you want some more details: The problem is the missing driver for the EC on which I'm currently working on, due to which the lid status check, which relies on the base/clipboard-status check constantly no

[2018-12-22 00:15] Desdra commented on #318
I am feeling kinda dumb right now... You were totally right I wasn't using your kernel... With it, everything works fine.... Thank you for your work !!!!

[2018-12-22 00:15] #318 closed

[2018-12-22 02:53] qzed commented on #224
Can anyone provide me a DSDT of the SB1 so I can have a look at this?

[2018-12-22 04:39] ChanceSDM commented on #5
No I haven't, where would I find it?

On Fri, Dec 21, 2018 at 2:54 PM Maximilian Luz <notifications@github.com>
wrote:

[2018-12-22 12:36] qzed commented on #5
Clone this repo, go to the folder you've cloned it to and run `sudo sh setup.sh`. When you're asked if you want to install the latest kernel select `no`.

The `firmware-linux-nonfree` (or whatever it's called on the distro you're using) should be in the software repo of that distro. It shouldn't be that hard to find.

[2018-12-22 15:44] xander-petty commented on #5
This was also my first time patching a kernel and clonging from Github so I'm sympathetic to your situation. After some trial and error I was able to get it to work. Below is my shell history of what I typed leading up to getting this working. Again, I emphasize the trial and error because there is likely redundant commands and incorrect commands.
`sudo apt-get update
sudo apt-get install git buil

[2018-12-22 18:36] leonm1 commented on #28
As the original poster of the bounty, I concur with what @carrylook has said as well. It has definitely been a team effort, but @qzed looks to be MVP. Nothing wrong with taking it! As I said in the original bounty post, if you really don't need it then I think it should still be released to you for a charity of your choice.

[2018-12-22 20:48] TheKeyboardKowboy commented on #5
@qzed I have a surface laptop and am trying to get the keyboard working (most importantly).  Prior to finding your patch/module, I had installed the jakeday kernel (which got touchscreen working, etc).  I cloned your repo, cd'd into the module folder and ran 'dkms-install'.  Seemed to install ok, but I'm still not getting a working keyboard or battery module.  Did I do anything wrong?  Can I send

[2018-12-22 20:57] ChanceSDM commented on #5
A step by step tutorial for non computer people would also be much
appreciated! Sorry to take up all your time, I’d still love to donate!

On Sat, Dec 22, 2018 at 12:48 PM Todd <notifications@github.com> wrote:

[2018-12-22 23:12] niiku commented on #5
@ChanceSDM
If you tried setting up the ACPI module before 16.12.2018 you need make sure to uninstall it before retrying because qzed renamed it. This is necessary to prevent unwanted conflicts. If you did so simply go to the git repo which you cloned before this date (or `git checkout 33005a35f`), switch to the `module` directory and run `make dkms-uninstall` without doing a `git pull`.

This is a

[2018-12-23 02:31] TheKeyboardKowboy commented on #5
Thank you for the writep @niiku but I continue to get the error when building as stated in my message above.  If you have any insight for that issue that'd be great, otherwise I will wait for the fork to be merged into this repo.

[2018-12-23 04:52] xcg70 commented on #5
any update on fix?

[2018-12-23 12:11] qzed commented on #5
@niiku Thanks for the awesome writeup!

[2018-12-23 12:14] qzed commented on #5
@TheKeyboardKowboy The error you got indicates that you had the `bison` tool missing.

If anyone else has the same error, installing `bison` should fix this.

[2018-12-23 15:47] thmichel commented on #28
Thanks, works perfectly! Hope this will be integrated into the standard Fedora kernel some time...

[2018-12-23 20:34] nkkollaw opened #319 "[Surface Book 2] Headphones not working"
I've just installed the latest kernel (4.18). Headphones aren't working.

I only have one pair, so I cannot test with other ones, but they do work with Windows or stock Ubuntu.

Is this a known problem?

[2018-12-23 22:04] nkkollaw commented on #28
Hi, I downloaded and installed all deb files, and it looks like I'm running 4.18.20, but my battery is still not detected. Are there any additional commands I have to execute besides installing the deb files..?

[2018-12-23 23:18] ChanceSDM commented on #5
so i just installed Ubuntu over windows 10 and mint, so my entire drive in
now Linux, on a clean start. I was following your guide, but it says
"./setup.sh is not a command"? I tried without the . or the /, but still no
luck.

On Sun, Dec 23, 2018 at 4:21 AM Maximilian Luz <notifications@github.com>
wrote:

[2018-12-24 01:08] qzed commented on #5
@ChanceSDM Can you try `sudo sh setup.sh`?

[2018-12-24 01:11] qzed commented on #28
@nkkollaw You need to install [this](https://github.com/qzed/linux-surfacegen5-acpi) module (see "Testing" in the readme for details).

Alternatively you could wait a bit until it's merged into this repo, once that's done you'll only need the kernel. I'll try to get this done in the next couple of days.

[2018-12-24 01:36] qzed commented on #28
@thmichel

I hope so too! But it'll be a long way until then. There are currently three bugs in the kernel blocking this, and it may take a while to get this sorted out properly (the fixes in this repo are just quick-fixes). I'll start working on that once the module is integrated here.

[2018-12-24 01:40] qzed commented on #5
@ChanceSDM Also I'll try to get this integrated here as quick as possible, so if you want to wait a two or three days, then it should be much easier as you'll then only have to install the kernel.

[2018-12-24 02:38] qzed commented on #5
Nice!

[2018-12-24 02:45] etnguyen03 commented on #310
Sorry to hijack this but I have a SP4 that also experiences this problem - after suspend the Fn key is working but all other keys (including Caps lock) aren't, mouse isn't working, touchscreen isn't working, and [KDE's login box is weird](https://i.imgur.com/jVcRSi6.jpg).

Not sure what logs and other diagnostic info is helpful but I'd be willing to provide them.

[2018-12-24 08:01] perkylynx commented on #5
Hello Everyone! I made an account just to say Thank you to qzed, jakeday and all the other contributors, who made this possible! I bought a surface laptop for university, and I was quite sad when I found it the keyboard doesn't work out of box on linux. Since I mainly use Linux, I were prepared to give the laptop back, but the fix from you guys came out just in time. I used the precompiled kernel

[2018-12-24 15:50] qzed commented on #5
Can someone check if the keyboard still works in the latest [pre-release](https://github.com/qzed/linux-surface/releases/tag/v4.18.20-pre2)? This release has the module built-in, so you should uninstall the module before upgrading.

[2018-12-24 23:45] Squizzy commented on #5
will do as soon as I get some time

[2018-12-25 03:07] etnguyen03 opened #320 "[SP4] Hibernate doesn't turn off computer"
When I try to hibernate using

    sudo systemctl hibernate

the Surface (Pro 4) appears to turn off normally, but the SP4 is never turned off; only the display is. The keyboard Fn key and backlight still works.

If I restart using the power button the computer resumes from disk but the mouse, keyboard, and touchscreen freezes and doesn't work.

My `journalctl` logs are [here](https://gist.github.

[2018-12-26 06:58] remingtonlang commented on #255
@vonAlenberg I just discovered a few more cases of hissing or popping sounds on my SB2. Are you by any chance running tlp?

I came into an issue where switching from AC to battery I'd get some weird loud clicks.
https://linrunner.de/en/tlp/docs/tlp-faq.html#audio

I simply disabled tlp for the sound card( SOUND_POWER_SAVE_ON_BAT=0 ) it and it resolved that issue

There is one more case of hissing

[2018-12-26 14:36] niiku commented on #5
Hi @qzed, hope you're enjoying some days off :) I tried your latest pre-release but I got a some errors while installing the linux-image*.deb file. I attached the installation log.
[kernel-upgrade.log](https://github.com/jakeday/linux-surface/files/2710385/kernel-upgrade.log)
Please let me know what kind of information I can provide to make debugging easier.

So currently, **I do not recommend ins

[2018-12-26 15:31] niiku commented on #5
@qzed
Yes, they seem to be correct:
[code]

[2018-12-26 15:34] qzed commented on #5
Okay. I'm a bit confused at the moment as to what may cause that. I've just installed the same kernel again and I can't reproduce your problems. Could you try to uninstall all surface-linux kernels and try a clean install?

[2018-12-26 15:43] niiku commented on #5
I removed the 75 kernel using
[code]
and fall back to the default 18.04 kernel (4.15 something)
I retried install it the 85, but I still get the same error message(s)

[2018-12-26 15:45] qzed commented on #5
Okay, weird. Give me a few minutes and I'll build clean new one.

[2018-12-26 15:46] niiku commented on #5
Thank you! What Distro are you using?

[2018-12-26 15:47] qzed commented on #5
Currently debian

[2018-12-26 16:01] niiku commented on #5
I just spun up a Debian 9 VM and get the same error messages.

[2018-12-26 16:09] qzed commented on #5
I'm on buster (10). I've now grabbed a new config (debian default config with only adaptions for the patches) and am currently building.

[2018-12-26 16:38] qzed commented on #5
Ok, I've updated the [release](https://github.com/qzed/linux-surface/releases/tag/v4.18.20-pre2). Interestingly it's still number 85, so maybe something went wrong with the last build.

[2018-12-26 16:38] qzed commented on #5
Also tested it with a clean install.

[2018-12-26 16:45] niiku commented on #5
Thank you! Now the installation went through without issues and after a reboot everything's still working!

[2018-12-26 16:48] niiku commented on #5
So for others who want to test/use the kernel to get a working keyboard etc., you simply need to execute the following commands:
[code]

[2018-12-26 16:48] qzed commented on #5
So the keyboard is still working without the `surfacegen5_acpi` module installed? I've switched the bus type of that from USB to VIRTUAL, since it's actually a virtual device, this is the last major change and if that works I'll create a PR.

[2018-12-26 16:52] niiku commented on #5
When I installed the latest pre-release kernel the ACPI module was uninstalled. So when I run `dkms status` nothing is returned. So I assume the surfacegen5_acpi module is not installed/active.

[2018-12-26 16:52] qzed commented on #5
Awesome!

[2018-12-26 17:00] qzed commented on #194
Has anyone currently set up optimus/switcheroo and is willing to test if [this](https://github.com/qzed/linux-surface/releases/tag/v4.18.20-pre2) kernel makes any difference? This implements the ACPI module required for thermal events, but there might still be more stuff missing.

[2018-12-26 17:11] versipellis commented on #194
I have Optimus set up through Bumblebee I'd be happy to test.

On Wed, Dec 26, 2018, 09:00 Maximilian Luz <notifications@github.com wrote:

[2018-12-26 18:07] dbranham20 commented on #5
So when qzed's module is merged with this repo, for my understanding and anyone browsing here, how would we install the new jakeday kernel?

Is it as simple as uninstalling the qzed module, running git pull on this repo, and then running the setup script again?

[2018-12-26 18:11] qzed commented on #5
@dbranham20 As soon as the respective pre-compiled kernel is added to the releases, yes. You should also be able to uninstall the module after you've updated the kernel, that should make things easier.

[2018-12-26 20:40] qzed commented on #194
Awesome, just install the kernel and check if the GPU still downclocks/fans don't ramp up under some (extended) 3D load.

[2018-12-26 21:20] qzed commented on #303
Has anyone been able to to make some progress on this? Otherwise I'll have a look at this next, so we don't get stuck too far behind.

[2018-12-26 23:16] leonm1 commented on #303
I've worked on it; however, I got stuck with a kernel that panics on boot. I'm blind on exactly how to proceed. I reverted back to 4.18 for finals, and now I'm ready to take another look -- perhaps this time with guidance from a more seasoned kernel developer?

[2018-12-27 00:06] qzed commented on #303
Nice, I'm sure we can figure this out together! My plan is currently to look at what the IPTS patch does to understand why the changes it makes to existing files are required. So far I only have a bit of an overview:

- There is (at least) an IPTS _core_ part (`intel_ipts.c`), a _kernel_ part (`ipts-kernel.c`) for OpenCL based acceleration (probably of stroke smoothing, I don't know yet), an _HID_

[2018-12-27 02:49] jakeday commented on #303
@qzed I would't worry about it. I have a working 4.20 kernel with all of my patches. I'll merge your work in and release a 4.20 kernel in the next couple of days (likely tomorrow).

[2018-12-27 02:49] #303 closed

[2018-12-27 02:52] jakeday commented on #28
Sorry for not updating in awhile, I had some personal stuff that kept me from it. My vote is 100% the bounty should go to @qzed

[2018-12-27 17:29] legoman420 opened #322 "[Surface Book 1] Touchscreen randomly stops working"
The touchscreen randomly stops working and the only way i can get it to work again without a reboot is to rotate the screen.
Also when i try to remove the tablet from the dock it either freezes or turns itself off and then on a reboot i get a blackscreen when trying to boot in to linux again. I then have to use recovery mode to boot back in to linux.

[2018-12-27 18:05] qzed commented on #322
If by dock you mean detach the screen/clipboard from the base, then this is a known issue (#224). If you can provide me a DSDT/acpidump I'll have a look at it (just run `sudo acpidump > acpidata.dat` and upload the created file in the issue I referenced).

Also a dmesg log could be useful to see what could cause the other issues.

[2018-12-27 22:12] novo-redeunt commented on #5
Following the installation instructions of @niiku for the 4.18.20 pre2 kernel the status of both batteries is online now - so it works fine! (SB2 13 i5, Kubuntu 18.10). Thanks for the great work!

[2018-12-27 22:43] qzed commented on #294
I think we've got everything we need to know, if there's any specific issue feel free to open a new one.

[2018-12-27 22:43] #294 closed

[2018-12-27 22:43] #308 closed

[2018-12-27 22:55] qzed commented on #290
@Menci could you elaborate on what such a package would contain or what it would be used for?

[2018-12-27 23:01] qzed commented on #284
Seems like a bootloader/grub installation issue, see [here](https://askubuntu.com/questions/766355/error-unknown-command-hwmatch).

[2018-12-27 23:01] #284 closed

[2018-12-27 23:03] qzed commented on #282
Duplicate of #224, if you can provide me a DSDT/acpidump, I'll look into it.

[2018-12-27 23:03] #282 closed

[2018-12-27 23:11] qzed commented on #273
Should be fixed as side-effect of #321. If someone already wants to test that the PR really fixes the issue, try [this](https://github.com/qzed/linux-surface/releases/tag/v4.18.20-pre2) kernel.

[2018-12-27 23:13] qzed commented on #277
This is an issue with Gnome rather than the kernel. I doubt we can do much about that here.

[2018-12-27 23:13] #277 closed

[2018-12-27 23:19] qzed commented on #268
I'm closing this as there hasn't been any response for a while now. If you're still deciding, I think you'll probably have better luck elsewhere.

[2018-12-27 23:19] #268 closed

[2018-12-27 23:33] qzed commented on #211
Can be fixed via https://github.com/qzed/linux-surfacegen5-acpi/issues/7.

[2018-12-27 23:37] qzed commented on #247
Let's handle this in #259.

[2018-12-27 23:38] qzed commented on #105
For the record: Still not working (at least for me), continued in #259.

[2018-12-28 00:10] qzed commented on #304
This particular configuration issue should become irrelevant with #321.

[2018-12-28 00:11] nkkollaw commented on #319
Closing this as I have no idea how to reproduce.

[2018-12-28 00:11] #319 closed

[2018-12-28 00:20] nkkollaw commented on #266
Same here (I think).

Any solution..?

[2018-12-28 05:36] johnutz-self commented on #105
Repo'd for me last time I tried it as well.

On Thu, Dec 27, 2018, 3:38 PM Maximilian Luz <notifications@github.com
wrote:

[2018-12-28 09:04] alexanderi96 commented on #322
Same touchscreen problem with my surface pro 2017, on 4.18.20, I'll provide the log as soon as I get home

[2018-12-28 11:16] Menci commented on #290
@qzed perf, a performance analyzing tool, requires the matching version of linux-tools to be installed.

[2018-12-28 17:02] #5 closed

[2018-12-28 17:02] #273 closed

[2018-12-28 17:04] #261 closed

[2018-12-28 19:41] jakeday commented on #28
This has been merged in and is now working.

[2018-12-28 19:41] #28 closed

[2018-12-28 19:42] jakeday commented on #195
This has been merged in and is now working.

[2018-12-28 19:42] #195 closed

[2018-12-28 19:43] jakeday commented on #146
This has been merged in and is now working.

[2018-12-28 19:43] #146 closed

[2018-12-28 19:44] #211 closed

[2018-12-28 19:44] jakeday commented on #223
This has been merged in and is now working.

[2018-12-28 19:44] #223 closed

[2018-12-28 19:44] jakeday commented on #241
This has been merged in and is now working.

[2018-12-28 19:44] #241 closed

[2018-12-28 19:46] #166 closed

[2018-12-28 19:46] jakeday commented on #194
This is working with the latest builds after the changes are merged in.

[2018-12-28 19:46] #194 closed

[2018-12-28 19:49] jakeday commented on #246
Please ensure you are running the latest kernel and have re-run the setup.sh script. This has been addressed.

[2018-12-28 19:49] #246 closed

[2018-12-28 19:50] #298 closed

[2018-12-28 19:51] #249 closed

[2018-12-28 19:51] jakeday commented on #251
This has been fixed in the latest releases. Please make sure you run setup.sh script again.

[2018-12-28 19:51] #251 closed

[2018-12-28 19:53] jakeday commented on #255
This is resolved with the latest release.

[2018-12-28 19:53] #255 closed

[2018-12-28 19:53] jakeday commented on #256
This is a known issue with the nvidia drivers.

[2018-12-28 19:53] #256 closed

[2018-12-28 19:53] jakeday commented on #258
Resolved.

[2018-12-28 19:53] #258 closed

[2018-12-28 19:57] jakeday commented on #271
Resolved in latest setup.sh script changes.

[2018-12-28 19:57] #271 closed

[2018-12-28 19:57] jakeday commented on #274
Disabling power save is built into the wifi module now.

[2018-12-28 19:57] #274 closed

[2018-12-28 19:58] jakeday commented on #279
@divtodiv this would be a configuration issue with your setup and not a kernel issue. I've confirmed that it's working on the latest.

[2018-12-28 19:59] jakeday commented on #286
@Menci the dGPU in the performance base for the SB is not currently supported by the linux kernel.

[2018-12-28 20:00] jakeday commented on #287
@Menci yes, that is the accepted work around that fixes this.

[2018-12-28 20:00] #287 closed

[2018-12-28 20:01] jakeday commented on #289
Agreed, you'll need to read SIGNING.md

[2018-12-28 20:01] #289 closed

[2018-12-28 20:02] jakeday commented on #290
As mentioned before, this package is Ubuntu specific and will not be pre-compiled for release. You are free to compile the kernel from source using my guide and build this package as well if you need it on Ubuntu.

[2018-12-28 20:02] #290 closed

[2018-12-28 20:03] jakeday commented on #292
I changed the title of this issue and will leave it open! I'd love to see all of these changes upstreamed as well!

[2018-12-28 20:04] #293 closed

[2018-12-28 20:05] jakeday commented on #296
This is being tracked in other issues for touchscreen stops responding.

[2018-12-28 20:05] #296 closed

[2018-12-28 20:06] jakeday commented on #304
This is now irrelevant.

[2018-12-28 20:06] #304 closed

[2018-12-28 20:07] jakeday commented on #307
That would not be a kernel issue. Can you please post your question on the SurfaceLinux subreddit?

[2018-12-28 20:07] #307 closed

[2018-12-28 20:09] jakeday commented on #311
You can boot into your old kernel and then uninstall this package. It may be worth trying one of the newer kernels.

[2018-12-28 20:09] #311 closed

[2018-12-28 20:09] jakeday commented on #313
You need to sign your kernel. Please refer to the SIGNING.md file in this repo.

[2018-12-28 20:09] #313 closed

[2018-12-28 20:33] Squizzy commented on #5
just updated to qzed'sla test kernel following nliku's instructions, and seems to be working ok. right click doesn't seem to work much but I am not sure this is an ubuntu setting. No improvement on return to sleep mode for networking (as supposed, I guess not much work went into it)

[2018-12-28 20:38] miketessing commented on #5
hello @niiku and @qzed ,
firstly, thanks for the time and effort. Im a noob to the linux world.

Have a 'Surface Laptop 2'.
Installed Ubuntu Mate 18.10 alongside Windows 10.
Using the onscreen keyboard, entered each command as given above into the terminal.
Stuff got downloaded during the process.
Rebooted.

Booting into ubuntu failed, got the following error on screen:

error: you need to load th

[2018-12-28 20:54] qzed commented on #5
Seems like a signing problem, maybe look for signing related issues or [SIGNING.md](https://github.com/jakeday/linux-surface/blob/master/SIGNING.md).

[2018-12-28 21:59] niiku commented on #5
Hi @miketessing, either you sign the kernel yourself or you disable secure boot. I wrote a [small guide](https://github.com/jakeday/linux-surface/issues/5#issuecomment-449603305) a week ago, but I copy/paste the important parts again:

First, disable Secure Boot on Windows (@miketessing this might be the reason for your error):
https://www.appgeeker.com/recovery/disable-uefi-secure-boot-in-windows

[2018-12-29 00:42] divtodiv commented on #279
@jakeday thanks for replying I will try reinstall the OS

[2018-12-29 01:52] miketessing commented on #5
@niiku , im typing this on Surface Laptop 2's keyboard. Disabling Secure Boot in Windows 10 worked!!

The battery indicator, brightness control (which werent there earlier) are also working now, touchscreen and pen are not working(didnt need them anyways).

Thank you and @qzed @jakeday and everyone who supported this.

[2018-12-29 08:00] kitakar5525 commented on #242
I wonder if this issue (stop working *after a time*) is relevant to only *Skylake* devices (SP4, SB1) because I haven't seen this issue from the other devices.

Still something related to priority mechanism on Skylake GuC and IPTS GuC priority mentioned [here](https://github.com/jakeday/linux-surface/issues/31#issuecomment-366778166) ?

[2018-12-29 14:19] rafaroman18 commented on #5
I just installed everything with the @niiku "tutorial" and it's amazing!
Its working fine and Ubuntu 18.04 is so comfortable in this laptop. Thank you guys!!
P.S. speakers make some noise when you put headphones in and at the starting of the system and the Fn, Caps lights and keys backlight doesnt work, but at least are things not that significant (this is an almost 100% perfect Linux working devi

[2018-12-29 15:51] nkkollaw opened #323 "[Surface Book 2] Battery not detected despite new kernel"
Hello,

I've compiled and installed the kernel using `master` (so, with the `surface-acpi` component). However, my battery is still not detected.

When I run `acpi` I get nothing, and `acpi -V` prints:

[code]

Is there anything one must do to activate this feature after installing the kernel?

I'm not sure if this is an issue of mine, or an issue.

[2018-12-29 16:11] qzed commented on #323
Have you enabled the module in the kernel config? The relevant settings are
[code]

[2018-12-29 16:33] nkkollaw commented on #323
I have followed the instructions in the README and pached the config.

The only instruction I have (in `.config`) out of the ones you mentioned is:

[code]

Wouldn't they be enabled by default? I am also not sure how to pass options before compiling.

Maybe I could wait for an official release, it's just that it's a pain to keep my laptop plugged in the whole time :-)

[2018-12-29 16:48] qzed commented on #323
Yes, if you've enabled the first one, the rest should default to 'y'. I'd recommend you check (e.g. with `make xmenuconfig`) that the config variable and its dependencies are set correctly, manually setting them might not enable all dependencies. You can also check your current kernel if you have those options set (for debian-based systems the config should be at `/boot/config-VERSION` or somethin

[2018-12-29 16:55] nkkollaw commented on #323
in `/boot/config-VERSION` I have `CONFIG_SURFACE_ACPI=y`, but not the rest of the values (also, note that the value is set to `y`, not `m` like in your original comment.

Can I enable those modules via `modprobe`? Do you have precompiled kernel files in your repo? I had tried installing your .deb files, too, but they didn't work for me, either.

[2018-12-29 17:00] nkkollaw commented on #28
Not working here despite compiling kernel from `master` (sorry, I did open another issue #323, I didn't know I could comment on closed issues).

[2018-12-29 17:01] nkkollaw commented on #323
Maybe I could close this and move this conversation to #28 ..?

[2018-12-29 17:30] qzed commented on #323
[Those](https://github.com/qzed/linux-surface/releases/tag/v4.18.20-pre2) should work (the ones prior to them don't include the module inside of the kernel). You may want to make sure that that's actually the kernel you're booting into if it still doesn't work (grub by default boots into the newest kernel).

[2018-12-29 17:45] nkkollaw commented on #323
Yup. Yours works perfectly.

I guess the problem is me not being able to compile correctly, despite following the instructions in the README..?

[2018-12-29 18:13] qzed commented on #323
Yeah, the config patch hasn't been updated yet since the addition. I guess Jake will do that with the next release. Also I think we should add a note in the README that it's best to use one of the configuration tools to set these values, as the config patch won't apply in cases with a modified/different config anyways. Maybe a script would be the better way, but I'm not sure if this will handle th

[2018-12-29 18:13] #323 closed

[2018-12-29 21:34] qzed commented on #259
@drewwestrick As per #105, [this](https://bugzilla.kernel.org/show_bug.cgi?id=199153) should be the mentioned issue.

[2018-12-29 22:16] nkkollaw opened #324 "[Surface Book 2] slow/unreliable WiFi"
I'm experiencing extremely slow and unreliable WiFi.

It goes at full speed (6MB/s) at times, but other times it won't go faster than 50KB/s.

I cannot figure out if there's a connection with other components. It seems like Bluetooth has nothing to do with it.

Is this a problem with the kernel, or driver?

[2018-12-29 22:19] qzed commented on #259
I've had a look at this over the past two days and I've tracked down the error code of the `Tx status -71` and `Stop submitting intr, status -71` messages to [this](https://elixir.bootlin.com/linux/v4.18.20/source/drivers/usb/host/xhci-ring.c#L2306) line in `handle_tx_event` of the `xhci` driver. The error code `-71` is `-EPROTO`, which is caused by `COMP_USB_TRANSACTION_ERROR`. I haven't checked

[2018-12-29 23:12] alexmigf commented on #5
I follow @niiku instructions too on a Surface Laptop and Ubuntu 18.10.

When i close lid the computer shuts down, no way to return from suspension.

If i suspend before closing the lid when it returns i don't have Wi-fi.

[2018-12-29 23:47] qzed commented on #5
@alexmigf The lid causing a shutdown seems like a configuration issue. The WIFI issue is a known problem. You can try to avoid that by unloading the `mwifiex_pcie` before you suspend and re-loading it afterwards.

[2018-12-29 23:51] alexmigf commented on #5
Hi, I just installed gnome-tweaks and there has an option about lid suspension but I didn't change it, so it's stock. Maybe doesn't shutdown, but I can't recover it from suspension.

[2018-12-30 00:05] qzed commented on #5
Might go into hibernation then (I think that's the default if you've run setup.sh), that can look like it has shut down (bootloader at start etc., there should be a message at boot that indicates that it's loading the hibernation image if that's the case). It should keep your windows open/restore them though, but there could be another issue with hibernation, I think something like this has been d

[2018-12-30 00:12] alexmigf commented on #5
I tested with the 2 options from the setup.sh.

First i selected 'no' and when i closed the lid i couldn't recover it, but if i choosed suspension manually it would return but without Wifi.

Then i reinstalled and choosed 'yes' and now if i close the lid or manual suspension i can't recover from that state.

[2018-12-30 00:44] qzed commented on #5
Hmm, that's odd. I don't have much experience with hibernate as I'm using the default suspend (s2idle), although that also has some issues too (occasional graphics driver hangups). Maybe #266 applies?

This should have worked, I'm not sure why it didn't. There is a chance that the graphics driver has had a hangup. Also there is a 3 second delay before resuming. On the Surface Book 2 you can check

[2018-12-30 01:43] xander-petty commented on #5
You need to edit the file /etc/systemd/logind.conf
you need a line added "HandleLidSwitch=suspend"
Save and reboot and you should be fixed. At least that worked for me.

[2018-12-30 03:36] qzed commented on #259
According to the [xHCI spec](https://www.intel.com/content/dam/www/public/us/en/documents/technical-specifications/extensible-host-controler-interface-usb-xhci.pdf), 'USB Transaction Error' is

I'm not sure how to debug this.

[2018-12-30 10:31] Squizzy commented on #5
Using a surface2 and ubuntu 18.10, latest qzed kernel, ubuntu doesn't seem to recognise the right button on the touchpad as a anything other than the left button. I went into settings and tried to set the right button as the main, but no change, changing back again, no change. Am I the only one to have two left buttons rather than one left and one right? Have I missed a setting?

[2018-12-30 14:50] Squizzy commented on #5
@alexmigf  did you try this from Qzed?

[2018-12-30 15:41] qzed commented on #5
@alexmigf So the following does not work?

1. `sudo modprobe -r mwifiex_pcie`
2. suspend and resume
3. `sudo modprobe mwifiex_pcie`

[2018-12-30 16:52] rafaroman18 commented on #5
The same to me on Ubuntu 18.04

[2018-12-30 17:10] qzed commented on #5
@Squizzy @rafaroman18 that's Surface 2 (not Laptop, not Book), right? Anything interesting in the dmesg logs? Does this work normally with the default Ubuntu kernel?

[2018-12-30 17:18] rafaroman18 commented on #5
Mine is Surface Laptop 1

[2018-12-30 17:21] qzed commented on #259
usbmon and Wireshark may be a way forward. I'm currently looking at a usbmon dump and the initial communication seems to work. Although it looks like some responses are cut-off and thus requests are sometimes sent twice, not sure if that's an issue.

The first error I see is on a `CLEAR_FEATURE` response with `-ENOENT` for `U1_ENABLE`. After that, every request on the device fails with `-EPROTO`.

[2018-12-30 19:19] sultanoswing commented on #5
Try this to get the trackpad right-click working....workd for me.

https://itsfoss.com/fix-right-click-touchpad-ubuntu/

On Mon, 31 Dec 2018 at 05:52, Rafa Roman <notifications@github.com> wrote:

[2018-12-30 19:30] qzed commented on #259
Okay, so apparently `ENOENT` in the URB (USB Request Buffer) translates to `ETIMEDOUT` (at least in this specific instance, see [`usb_kill_urb`](https://elixir.bootlin.com/linux/v4.18.20/source/drivers/usb/core/urb.c#L695) and [`usb_start_wait_urb`](https://elixir.bootlin.com/linux/v4.18.20/source/drivers/usb/core/message.c#L64)), this is also apparent when I look at the recorded timestamps (5s ti

[2018-12-30 19:47] htrampe commented on #145
After getting the battery-reading work, let's do the next step for the cameras :). The last post from @denzilferreira looks interesting, but i'am not able to program in c. Someone else?

[2018-12-30 20:39] qzed commented on #259
Alright, seems like this is a power-management issue again. Just tried with only the `USB_QUIRK_NO_LPM` quirk, and that seems to do the trick. Writing a PR now.

[2018-12-30 20:52] qzed commented on #145
@htrampe I might have a look at that, now that I think I've got the ethernet on the dock working. WIFI is also still a major issue I haven't looked at, but IIRC Jake said he's disabled power-save in the driver which could fix that, so I guess I'll look at the cameras next.

[2018-12-30 21:33] qzed commented on #28
As you've all decided, I have now claimed the bounty. Thank you all! I really appreciate it! (Also I again want to empathize without your support I would not have been able to fix it!)

[2018-12-30 21:38] qzed commented on #5
@alexmigf Okay, that's weird... Can you upload a dmesg log?

[2018-12-30 22:06] Squizzy commented on #5
@sultanoswing yay worked! thanks.

[2018-12-30 22:21] alexmigf commented on #5
@qzed see here https://pastebin.com/BTq43qW8

Thank you!

[2018-12-30 22:36] qzed commented on #267
I haven't really looked into this, but this might be some sort of power management issue. Considering this:

it could make sense, as it's basically the same board doing both. Jake [mentioned](https://github.com/jakeday/linux-surface/issues/274#issuecomment-450418186) that he's disabling powersave in the wifi-module, so this might fix it.

[2018-12-30 22:38] alexmigf commented on #5
@qzed same result, see here https://pastebin.com/L4NbXQKN

One thing i notice is, the first time i close the lid and open the Wifi works, but if do that again the Wifi no more works.

[2018-12-30 22:46] qzed commented on #5
@alexmigf Hmm yeah, I have no idea what's going wrong here at the moment. At this point I think it's best you open a new issue. Sorry I couldn't provide more help.

[2018-12-30 22:47] nkkollaw commented on #267
Yup. Seems to be related to that. Using the mouse "wakes up" whatever component is misbehaving, and the thing starts working again.

I did try disabling power management via something like `sudo iwconfig wlan0 power off`, but it had no effect (if I issue `iwconfig` it does say that power management is off).

[2018-12-30 22:50] alexmigf commented on #5
@qzed I appreciated your help, i understand and thank you :)

[2018-12-30 22:52] alexmigf opened #326 "Wifi disconnects after 2nd suspension - Ubuntu 18.10"
Hi,

I have installed Ubuntu 18.10, but when i close the lid and resume for the first time the Wifi works, but when i do that a second time the Wifi no more works.

My log: https://pastebin.com/L4NbXQKN

Edit: It's a Surface Laptop 1

[2018-12-30 22:55] qzed commented on #5
I'll try to have a more in-depth look at it in the future (if it hasn't been fixed until then). There's also the WiFi speed issue, but I'm not sure if they are connected.

[2018-12-30 23:01] qzed commented on #326
Relevant excerpts in case pastebin deletes it:

Unloading before suspend:
[code]

Reloading after suspend:
[code]

[2018-12-30 23:08] #259 closed

[2018-12-31 00:44] jonas-schievink commented on #326
I have the exact same problem (identical error) on a Surface Pro 3 and stock Linux 4.19.12. This never happened with the patches in https://github.com/matthewwardrop/linux-surfacepro3/ so now I'm trying to forward-port the `wifi.patch` from there.

[2018-12-31 00:46] lynscott commented on #28
Hi, just to

Just for clarity, these updates are merged into the latest kernel just released(like 8mins ago)? Eagerly awaiting the acpi-module update. Much thanks to you an all contributors for the work on this.

[2018-12-31 00:48] jakeday commented on #326
@jonas-schievink can you try with my latest patchset and prebuilt kernel? Should work great now!

[2018-12-31 00:49] jakeday commented on #28
@lynscott yes, they are merged into the latest prebuilt!

[2018-12-31 01:10] jonas-schievink commented on #326
@jakeday Wow, thanks! I'll try it out tomorrow (builds take a while)

[2018-12-31 04:50] icamps opened #327 "[SP4] Pen not working"
Hello @jakeday

Thank you for your work!

Maybe I am arriving later to this, but...

I installed the latest Ubuntu (18.04) in my SP4, then I followed the steps and now I am able to boot from  `4.18.20-surface-linux-surface` kernel.

My issue is that the Pen is not working. I read other messages here but anything help me.
The output from `sudo cat /sys/kernel/debug/ipts/status` is:
[code]
Do you ha

[2018-12-31 04:55] recolic commented on #5
I also noticed this problem on my Surface Laptop 2.

[2018-12-31 09:32] nkkollaw commented on #274
@jakeday, is this included in the 4.18.20 release, or next release?

[2018-12-31 11:01] jakeday commented on #274
@nkkollaw it's in the 4.18.20 release!

[2018-12-31 12:11] jonas-schievink commented on #326
@jakeday That patch worked perfectly

[2018-12-31 12:12] alexmigf commented on #326
Great! I will test on mine in the next couple of days.

[2018-12-31 14:52] qzed commented on #327
I have no idea about the pen issue, but you could check multitouch with [evemu](https://wiki.ubuntu.com/Multitouch/Testing/Evemu), specifically `evemu-record`. This should show one slot per finger when you touch the screen. Unfortunately touch integration in most Linux DEs is not quite there yet, so it heavily depends on the application if gestures, e.g. zooming with two fingers works. (See also [

[2018-12-31 14:55] qzed commented on #5
@recolic Sorry to hear that, hope you get it back! We've moved this discussion to #326, and it might be already fixed with the latest release.

[2018-12-31 17:47] victhebeast commented on #326
@jakeday patch broke WiFi on the surface pro 2017

[2018-12-31 17:49] victhebeast opened #328 "WiFi connected with no internet (UFW/iptables)"
Updated to the new patch 4.18.20 and wifi connects to network but no internet on surface pro 2017. It was working with the 4.18.16 just fine. I'm running Ubuntu 18.10 latest updates.

[2018-12-31 17:52] jakeday commented on #328
Can you get me a log, please?

[2018-12-31 18:53] alexmigf commented on #326
Ok, i can confirm that it's fixed with last patch.

To get the lid close working with suspension i had to do:

`sudo nano /etc/systemd/logind.conf`

And replace HandleLidSwitch=**hibernate** with **suspend**

I want to thank everyone involved on this amazing repo that turn this possible.

[2018-12-31 19:03] victhebeast commented on #328
So after playing around I found out it is ufw that's the culprit. It was working before the patch but the only rule I had was block incoming/allow outgoing with the exception of allowing port 22 on my home networking. I disabled it, reset the rules, and tried to re-enable but i'm getting ufw-init problems.

[2018-12-31 23:23] rosinx opened #329 "Build kernel module?"
Hi jakeday,
Thanks for creating this awesome kernel! I had a question,is it possible to build a kernel module for this particular kernel? And if so, do you think you could show me how to do it?
Thanks alot!

[2019-01-01 03:44] sir-vancelot commented on #328
I am having this issue on the SB2 as well. UFW is having the same troubles though I couldn't say if it's the culprit.

[2019-01-01 03:50] victhebeast commented on #328
@sir-vancelot I disabled ufw for time time being and I had full internet connectivity on both wired (surface dock) and built in wifi. While ufw was on, it was connected to wifi and I could do non internet tasks (ssh to local computer on the network). I did a full complete reset (wiped partition, reinstalled Ubuntu all over) but I didn't have time to fully set it up because new years. I'll see more

[2019-01-01 03:51] victhebeast commented on #328
woops wrong button

[2019-01-01 10:11] rm1138 commented on #250
I also has the same problem, with fresh install Ubuntu 18.10.
Tried the latest 4.18.20 kernel and 4.18.16.

[2019-01-01 11:01] scotty-c opened #330 "Cant start docker daemon due to iptables"
I am running Debian 9 on a surface book 2 with the 4.18.20-surface-linux-surface kernel and cant start the Docker daemon due to failing with the following error
[code]
I have tested with the backports 4.18 kernel and that does not have the issue with the daemon starting, but a whole heap of other stuff doesnt work.

Any help would be appriciated and thanks for all the hard work you put into this p

[2019-01-01 12:50] sphh commented on #328
I can confirm @victhebeast finding: Enabling `ufw` on my Surface 2017 with Linux Mint 19.1 keeps me from connecting to the internet. Disabling `ufw`, WiFi works fine.

[2019-01-01 12:51] sphh commented on #330
Is this connected to #328?

[2019-01-01 15:03] JamesBr0wn opened #331 "Installation on Manjaro"
Hello @jakeday
Thank you for your work!
I wonder how to install this kernel on manjaro / surface pro 2017. I tried the steps in "Compiling the Kernel from Source", but could not see any built kernels after it says "All done! Please reboot.", and reboot also didn't help.. Besides,  after the installation, the system would shut down automatically when it's supposed to suspend.

[2019-01-01 15:52] qzed commented on #330
@sphh seeing as UFW is a frontend for iptables, probably in some way.

[2019-01-01 15:53] qzed commented on #328
@victhebeast, @sphh are there any details as to why those lines are failing?

[2019-01-01 16:13] qzed commented on #331
The README (specifically `make deb-pkg`) is for Debian-based systems, so strictly following this will give you `.deb` packages. If you want a kernel package for your distribution, I'd recommend you have a look at [this](https://wiki.archlinux.org/index.php/Kernel/Arch_Build_System) (I assume this is also relevant for Manjaro).

With regards to the shutdown instead of suspend: If you've selected th

[2019-01-01 16:21] qzed commented on #329
That works just like on any other kernel. Do you have any specific issues, e.g. does some existing kernel module fail to build or do you want to create a new one?

[2019-01-01 16:22] victhebeast commented on #328
@qzed dmesg log:
[code]

[2019-01-01 16:34] JamesBr0wn commented on #331
@qzed Thanks a lot. I will try that later.
By the way, are your "linux-surfacegen5-acpi" patches contained in this repository, or I have to patch them myself.

[2019-01-01 16:37] qzed commented on #331
As of the 4.18.20 release, they are fully integrated, so you only need to apply the patches of this repo!

[2019-01-01 16:51] #331 closed

[2019-01-01 16:52] JamesBr0wn commented on #331
Thanks.

[2019-01-01 17:10] qzed commented on #331
Glad to be able to help! Also there are some existing PKGBUILDs for Arch, e.g. [this one](https://github.com/martinnyborg/arch-surface-jakeday-kernel), that altough it's a bit outdated might help you.

[2019-01-01 17:30] samvtran commented on #330
A couple observations from my Arch install:

I get the following error when I try to start docker with the new 4.18.20-surface-linux-surface kernel:
[code]
Based on that I'd suspect the issue is the [`CONFIG_IP_NF_NAT`](https://git.kernel.org/pub/scm/linux/kernel/git/stable/linux.git/tree/net/ipv4/netfilter/Kconfig?h=v4.18.20#n282) option (responsible for the `iptable_nat` module) that's missing f

[2019-01-01 17:47] qzed commented on #330
I guess that would explain it! Thanks! It seems like there are also other options in the config (`CONFIG_NF_CONNTRACK_IPV4`, `CONFIG_NF_TABLES_IPV4`, `CONFIG_NF_TABLES_ARP`) that should be enabled?

[2019-01-01 17:49] qzed commented on #328
@jakeday Could this be due to [`CONFIG_NF_CONNTRACK_IPV4`](https://github.com/jakeday/linux-surface/blob/9b218f92455842e5185812e213044c5770bdda47/configs/4.18/config#L1322) being disabled in the kernel config?

[2019-01-01 18:12] jakeday commented on #328
@qzed Yep, and a few other config options. I'm adjusting and re-compiling now.

[2019-01-01 18:20] samvtran commented on #330
Looks like Jake is recompiling now, so hopefully that adds all the necessary flags :crossed_fingers:, but I ran the Docker [kernel compat script](https://github.com/moby/moby/blob/master/contrib/check-config.sh) and it's flagging three "generally necessary" options that are missing:
- `CONFIG_IP_NF_NAT`
- `CONFIG_NF_NAT_IPV4`
- `CONFIG_IP_NF_TARGET_MASQUERADE`

[2019-01-01 18:47] jakeday commented on #328
Pushed changes and uploading release now.

[2019-01-01 18:47] jakeday commented on #326
Awesome! And thanks for pointing out the default lid switch, I've been meaning to update that too!

[2019-01-01 18:47] #326 closed

[2019-01-01 18:50] jakeday commented on #328
Release has been published!

[2019-01-01 19:04] rosinx commented on #329
I tried to run this command, sudo apt-get build-dep linux-image$(uname -r) but received an error "Unable to locate source package". Was trying to create a new kernel module which ended up working using the linux 4.2.0 kernel.

[2019-01-01 19:06] samvtran commented on #330
Looking good here with [4.18.20-2](https://github.com/jakeday/linux-surface/releases/tag/4.18.20-2) :sunglasses:

[2019-01-01 19:09] qzed commented on #329
`apt-get build-dep linux-image$(uname -r)` should install the build-dependencies, the latter (`linux-image$(uname -r)`) shlouldn't be required as you've already installed that (or rather the version you need) when you installed this kernel.

[2019-01-01 19:13] rosinx commented on #329
Ok that makes sense. Thanks!

[2019-01-01 19:49] #330 closed

[2019-01-01 19:49] jakeday commented on #328
@victhebeast just pushed the support for ipv6 as well. Compiling now and will upload shortly.

[2019-01-01 19:49] #328 closed

[2019-01-01 19:56] jakeday commented on #322
This issue is related to the changes to the priority contexts, specifically with the breakout of the guc clients, after ekrnel series 4.15. I'm fixing this in 4.20.

Let's continue this in issue #242

[2019-01-01 19:56] #322 closed

[2019-01-01 19:57] jakeday commented on #270
This is due to a timing for loading the clients after a reset/power cycle. I'm handling this in the upcoming 4.20 kernel.

[2019-01-01 19:57] jakeday commented on #242
This issue is related to the changes to the priority contexts, specifically with the breakout of the guc clients, after kernel series 4.15. I'm fixing this in 4.20.

[2019-01-01 19:59] jakeday commented on #329
Closing this as the question has been answered.

[2019-01-01 19:59] #329 closed

[2019-01-01 20:01] jakeday commented on #327
@icamps Did you run the setup.sh script? Is touch working for you? Can you check the xorg log to verify the pen has been detected? And I have to throw this out as it's happened to me, but is the battery dead in your pen?

[2019-01-01 20:03] jakeday commented on #306
If someone with the LTE models can get us some logs and device lists, we can look into this!

[2019-01-01 20:05] jakeday commented on #267
This is fixed in the 4.18.20 releases.

[2019-01-01 20:05] #267 closed

[2019-01-01 20:11] jakeday commented on #314
@battaglia01 based on your comments, the kernel itself is working as you can properly disable the backlight by interacting with the intel_backlight sys class. That would point to this being a configuration issue with your distro. I would recommend looking into what packages you're running with the backports you've used.

[2019-01-01 20:11] #314 closed

[2019-01-01 20:30] scotty-c commented on #330
Thanks for pushing the changes so quickly.

[2019-01-01 21:47] condemnedmeat commented on #242
This is terrific. Thank you.

[2019-01-02 01:43] JamesBr0wn commented on #331
Found a good  repo for arch based systems, maybe adding a link of it to the readme file could be helpful for arch users. https://github.com/dmhacker/arch-linux-surface. @qzed

[2019-01-02 02:21] SuperRoboWizard opened #332 "[SP4] WiFi Won't Connect"
Trying to connect to WiFi results in an endlessly spinning circle in the UI, and repeated batches of the following message in dmesg:
[code]
If it's relevant, I'm on OpenSuse Tumbleweed, with the 4.18.20 kernel built from source of course, and the firmware files manually copied. I have yet to notice any functional differences between the Surface kernel and the stock 4.19.11 kernel, including touchs

[2019-01-02 07:46] bitfactory-justin-kouwenhoven commented on #258
@jakeday
How is this resolved? Has the patch been added?

[2019-01-02 08:16] tmarkov commented on #320
Does it happen every time? I have observed this happening to be (SB), but only rarely. Usually, holding down the power button will turn off surface for me, and then when I turn it on, it will resume from hibernate.

I have also had a case once where shutdown didn't properly shut it down: keyboard didn't light up, but I kept hearing noises from it until I held down the power button.

[2019-01-02 11:49] dondon00 commented on #332
Same here. It's asking for the password all the time, and tell me it's not correct. Using Surface Go. Just manual installed the 4.18.20-2 version and WiFi worked again.

[2019-01-02 11:57] kitakar5525 commented on #243
I can also confirm that buttons are not working on SB1 with Performance Base if kernel is compiled with 0003-buttons.patch.

Here is decompiled DSDT from mine:
- [Disassembled DSDT from Surface Book 1 with Performance Base i7/16GB/512GB/GTX965M](https://gist.github.com/kitakar5525/7221bd545cbea68ef228ef8d9071b4d5)

[2019-01-02 13:42] drewwestrick commented on #259
@qzed Nice work on this! Tested the latest code with your merge and so far the Ethernet is working great.

[2019-01-02 15:34] qzed commented on #243
Thanks!

Pretty much as I expected, the SB1 uses the same device identifiers (`VGBI`/`MSHW0040`) for the power button, and the GPIOs registered under it are used for the base state. As far as I can see, the right way to differentiate between them is to use the `OMPR` (OEM Platform Revision) which can be queried with the `DSM` in the newer devices (5th gen.) but not in the SB1. This should be `5` f

[2019-01-02 15:51] kitakar5525 commented on #242
I compiled Arch Linux kernel for linux-lts 4.14.91 ([AUR (en) - linux-lts414](https://aur.archlinux.org/packages/linux-lts414/)) with [cameras.patch](https://github.com/jakeday/linux-surface/blob/d27b67bd4d8c816069944bec22ada3e896417a4b/patches/4.14/cameras.patch), [ipts.patch](https://github.com/jakeday/linux-surface/blob/d27b67bd4d8c816069944bec22ada3e896417a4b/patches/4.14/ipts.patch) and [wifi

[2019-01-02 16:16] qzed opened #333 "Help Requested: Testing for button-patch"
To make sure that the fix for #243 doesn't break anything, it'd be nice if some of you could help test the latest button driver (especially on Pro2017, Pro6, Laptop, Laptop2).

What you need to do to help:
1. Get the latest button-driver module (https://github.com/qzed/linux-surfacegen5-button-driver)
2. Build it (`cd module` and `make clean all`)
3. Make sure `soc_button_array` is not loaded (`su

[2019-01-02 16:36] ChanceSDM commented on #5
Hey guys! So Ubuntu said there's an update available this morning, but
before I install it, would that potentially remove keyboard support again?
I just started school again, and really wouldn't want to go through the
trouble of re-installing a new kernel and stuff.

Thanks!

On Mon, Dec 31, 2018 at 6:55 AM Maximilian Luz <notifications@github.com>
wrote:

[2019-01-02 16:38] qzed commented on #331
@JamesBr0wn Thanks for the link! Looks great!

[2019-01-02 17:02] qzed commented on #5
@ChanceSDM It might. The thing is: The kernel does not get uninstalled, but the update might install a newer version (e.g. 4.19.x) which grub will then boot by default. So, if you have no keyboard to change this, it's probably not a good idea.

To change this behavior, you can edit `/etc/grub/default/` after you've installed the update and change the `GRUB_DEFAULT` to e.g. `GRUB_DEFAULT="1>2"`, wh

[2019-01-02 17:23] qzed commented on #224
Same root cause as #243, will be continued there.

[2019-01-02 17:23] #224 closed

[2019-01-02 17:41] versipellis opened #335 "[SB2] Lid Close ACPI Error"
Latest kernel, shutting the lid throws these two lines repeating, along with the hissing:
[code]

On one occasion while testing the lid close crashing, it threw an error after this page about CPU core temps reaching 58C and shutting down as a result.

[2019-01-02 18:07] qzed commented on #335
This is a known issue. It's caused by the device querying the lid-state even though the embedded controller is still suspended. Due to the way this is implemented in the DSDT/ACPI, this check repeats until it succeeds, which it will only once the controller has resumed, causing the CPU to clock up. This should however be only for a short period, and 58°C shouldn't be a critical temperature at all

[2019-01-02 18:43] tmarkov commented on #242
I, on the other hand, did not find the IPTS patch any more stable on 4.14 and 4.9. Though it's hard to properly benchmark, since it happens randomly. I have, at times, successfully watched the video on 4.16 without losing touch.

[2019-01-02 20:12] etnguyen03 commented on #320
It appears that it happens every time. While I can hold the power button down for ~10 seconds and hard-restart, and upon restart it attempts to resume from hibernate, but the mouse and keyboard are frozen until I REISUB or hard-restart.

[2019-01-02 22:31] sphh commented on #333
Thanks for working on this. Some observations:

- Power button was not working with jadeday's precompiled kernel 4.18.20-1.
- After removing `soc_button_array` and replacing it with your version (as described in the first post), the power button started to work.
- Power button works with precompiled kernel 4.18.20-3.
- Power button still works after removing and replacing `soc_button_array` with y

[2019-01-02 23:41] SuperRoboWizard commented on #332
Just finished compiling and installing 4.18.20-2, and it still doesn't work for me. No WiFi, no touch.

[2019-01-03 01:21] etnguyen03 commented on #333
On a Surface Pro 4:

* Power button was working on the kernel found in Arch Linux's [`linux-surface4`](https://aur.archlinux.org/packages/linux-surface4/) kernel on version 4.18.8-2
* Power button still works after doing `modprobe -r soc_button_array` and `insmod surfacegen5_button.ko`

`dmesg` log:

    SurfaceGen5 Button MSHW0040:00: OEM Platform Revision 0

[2019-01-03 09:11] versipellis commented on #335
Gotcha, have any temporary solutions in the meantime? Disable lid-close actions?

[2019-01-03 11:35] kitakar5525 commented on #333
Built and installed `surfacegen5_button.ko` on Surface Book 1 with Performance Base kernel 4.18.20

- The power/volume buttons are working on kernel 4.18.20 if the kernel is built without `0003-buttons.patch`.
- Removed `soc_button_array` and buttons still work
- Loaded `surfacegen5_button.ko`
- dmesg says
[code]
- buttons still work

[2019-01-03 11:43] xgenvn commented on #56
Hi, I'm on the Surface Pro 4, Ubuntu 18.04.1, latest kernel:
[code]
It seems I have same problem that the Hibernation is actually shutting down and I can not recover from last state.
Touchscreen sometimes drops, wifi also drops once/twice.
I setup the swap space for 4GB. The installation is on the same drive with Windows.
Is there any solution I can try to get the hibernation/suspend working?

Tha

[2019-01-03 12:15] oleid commented on #56
How do you hibernate? I'm asking, since it works fine here for on my SP4 on debian testing.
Does `systemctl hibernate` work for you?

[2019-01-03 12:36] xgenvn commented on #56
Hi, I have just tested it but unfortunately the system could not recover from last state.

I take a look on `dmesg` and see this, not sure if it's related to my issue:
[code]

[2019-01-03 12:40] kitakar5525 commented on #242
For me, the video test is:
- linux-lts 4.14.91
  finished the video without stopping twice and additionally, daily use about 2 hours without stopping.
- linux 4.15.18
  one time stopped after about 2min, the other time finished without stopping.
- linux 4.16.18
  stopped immediately
- linux 4.18.20
  stopped immediately

So, certainly, changes between 4.14 and 4.16 broke the touch.

[2019-01-03 13:21] kitakar5525 commented on #145
ov5693 and atomisp (, which is needed for ov5693 for now) modules once existed in staging tree until 4.17, removed in 4.18 due to a lack of progress.
I happened to use linux-lts-4.14.91 with cameras.patch, but ov5693 is not working.

[code]

Just for your information.

[2019-01-03 13:41] thekswenson commented on #320
This happens on my SP4 often, but not always.

[2019-01-03 13:52] carlhua commented on #5
I am still stuck on 4.15 kernel. Whenever I use the setup.sh to install the newest kernel, it simply doesn't boot. I am using Xubuntu however, anyone experiencing the same issue? @qzed  your advice is appreciated. with the 4.15 kernel, I have no ethernet (wifi only) and no keyboard. Minimally I would like to get keyboard working.

[2019-01-03 14:09] oleid commented on #56
Does hibernate work four you using a recent mainline kernel? I.e. https://kernel.ubuntu.com/~kernel-ppa/mainline/v4.19.13/

[2019-01-03 14:23] qzed commented on #335
You could do that, or switch to the powersave governor (that should prevent overheating). I'll try to figure out some solution to stop it shutting down, it _really_ shouldn't do that. I think the least intrusive way to fix this is to detect the query and rate-limit it.

[2019-01-03 14:38] carlhua commented on #5
@qzed , nope. just dies. I uninstalled the patched kernel and installed Ubuntu's official kernel 4.18.20. It works fine, just doesn't have any of the support. I will manually apply the patch and let you know.

[2019-01-03 15:21] carlhua commented on #5
@qzed , So I downloaded the 4.18.16 kernel myself, installed it. Applied jakeday's patches and yours. Now it boots but keyboard and eth don't work - similiar to 4.15.x.

Thank you for the hard work, I will continue monitoring. I have surface laptop. If you want any data, let me know I am happy to dump it to you.

[2019-01-03 15:23] qzed commented on #5
@carlhua You only need to apply Jake's patches, since they are merged now. Also make sure you're using a config similar to his.

[2019-01-03 15:55] versipellis commented on #335
Like, permanently setting the CPU power management to the powersave governor, or setting lid-close to do that?

[2019-01-03 16:01] qzed commented on #335
Either you can do that manually or automatically prior to lid close/suspend, or permanently if you don't need the extra performance, which it will impact (as a temporary workaround of course, I'm working on this right now). The choice is up to you.

The thing is: It really shouldn't shut down, even if you're in performance mode, sure its constantly running on one core, but only for a fairly short

[2019-01-03 16:11] versipellis commented on #335
It threw the temperature error when I had a bunch of firefox tabs open.
With a clean boot, it happens with no load (besides gnome) on lid-close but
no temperature error. How would you do it prior to lid close/suspend,
rather than _on_ lid close/suspend? (Also, suspend and hibernate don't
work, but that's a separate issue I've already opened :P )

[2019-01-03 16:17] qzed commented on #335
I think you could hook into ACPI events. Also what do you mean by "suspend is not working", This particular error should only occur when you resume from suspend.

[2019-01-03 17:25] qzed commented on #335
PR #336 should fix the overheating issue by delaying subsequent base-state queries (required for the lid-state). Fixing the underlying issue, namely that the lid state (and thus base-state) is queried before the EC is resumed is probably impossible without patching the DSDT itself.

To expand on that a bit: It seems like MS has had the same problem, due to which they chose that in case the EC is s

[2019-01-03 17:54] oleid commented on #320
What's the difference between Surface Pro 4 and SP4? Just wondering...

Does your device turn power off when hibernating using a recent mainline kernel? Also, what distro are you using?

[2019-01-03 18:08] SkyWallkeRed commented on #5
@qzed
Hello, I have a Surface Laptop and i was looking for comparability of my machine with linux so i found this repo, after reading this i am not sure if after changing my OS my keyboard will work or is it still buggy .
and what distro is most recomanded  for a clean install, versions etc..

[2019-01-03 18:43] qzed commented on #145
Yeah, unfortunately it won't be that easy. I've had a look at this over the past couple days and I still don't quite understand things as good as I'd like to get started.

Here's a rough overview: OV5693 is a camera sensor with an I2C interface. This is in fact the actual camera sensor, but it doesn't directly provide the images. The I2C interface is for stuff like setting the exposure etc., the a

[2019-01-03 18:49] qzed commented on #5
@SkyWallkeRed Directly after installing any distro you need to have a USB keyboard to install this kernel. You can pretty much use any distro, but the easiest will be anything Debian-based (I'm currently on Debian 10, but Ubuntu or something else will do fine). There's also an Arch repo with prebuilts (https://github.com/dmhacker/arch-linux-surface) if you want to go that route.

[2019-01-03 19:13] qzed commented on #145
Also the CIS-2 interface and ISP combined are sometimes also referred to as IPU (Image Processing Unit), which doesn't really further understanding when it comes to what handles what. [Here's](https://software.intel.com/en-us/node/721499) a somewhat similar device setup, which can help us figure this out.

[2019-01-04 12:57] etnguyen03 commented on #320
Yes, turns off and resumes properly using 4.20.0.

Arch.

[2019-01-04 14:12] thekswenson commented on #320
I'm trying to test this from scratch so reinstalled Ubuntu 18.10 and ran the install script.

Do I need to do an additional step besides running the install script in order to get hibernate to work?  I forget, but I seem to remember that something like a boot parameter must be set.

[2019-01-04 14:24] xgenvn commented on #56
@oleid I install `ukuu` then update to latest mainline kernel, which is: `4.20.0-042000-generic`.
After enabling swap in grub entry (like I did before), I can restore the state. Bluetooth and Wifi are both working fine.

[2019-01-04 15:43] thekswenson commented on #320
I found it:  i had to tell grub about the swap partition.

[2019-01-04 16:57] thekswenson commented on #320
I've reinstalled Ubuntu 18.10, run the install script, and followed the steps to let grub know about the swap partition.

The surface kernel:
- will usually hang while hibernating (holding the power button will then power the machine off), other times will behave normally.
- will resume with wifi working, but no touch or pen input.
- when subsequently shutting down the machine it will again hang u

[2019-01-05 02:15] arprince opened #337 "Touchpad tap to click and two finger scroll"
Hi. I have a surfacebook 1 and just updated to the most recent kernel and settings today. Ton of improvements btw, I love it. Only problem is the touchpad no longer recognizes tap to touch and i cant invert my two fingered scrolling. These used to be settings in org gnome desktop peripherals touchpad, But when i change them nothing happens.

[2019-01-05 14:13] #335 closed

[2019-01-05 14:16] jakeday commented on #332
Are you saying that my prebuilt 4.18.20-2 works and 4.18.20-3 does not?

[2019-01-05 15:40] nkkollaw opened #338 "Modules required by Docker missing"
For all devs that use `linux-surface` and Docker, unless I'm missing something the latest kernel is missing a few modules that Docker requires to function, specifically:

- CONFIG_NF_NAT_IPV4: missing
- CONFIG_IP_NF_TARGET_MASQUERADE: missing
- CONFIG_IP_NF_NAT: missing

This stops Docker from starting. I'm using https://raw.githubusercontent.com/moby/moby/master/contrib/check-config.sh to check f

[2019-01-05 15:42] jakeday commented on #338
@nkkollaw These are enabled in the latest kernels and in the example config file.

[2019-01-05 15:42] #338 closed

[2019-01-05 15:43] jakeday commented on #337
@arprince Thanks for pointing this out! However, I'm going to close this as it's a config issue and not a kernel issue.

[2019-01-05 15:43] #337 closed

[2019-01-05 15:49] nkkollaw commented on #338
I'm running the latest kernel, and they don't seem enabled, though. I'll try installing again!

[2019-01-05 17:08] zw0scura commented on #5
Hello, after I installed the newest kernel 4.18.20-3 to get the Keyboard working on my Surface Laptop 1 the Notebook dont boot. I get the error:

``nvme nvme0 failed to set APST feature``

Any idea? Thanks!

[2019-01-05 17:21] qzed commented on #5
@zw0scura No idea, but can you open a new issue? This seems to be caused by the NVME drive and not the keyboard.

[2019-01-05 18:54] SuperRoboWizard commented on #332
I can't use the prebuilt kernel, since I'm on OpenSUSE. I have tried rhe -1 and -2 versions, neither of which worked. I have yet to try the -3 version. It will take a while to compile, so I probably won't have an answer for you for that one until tomorrow.

[2019-01-05 19:07] SavellM commented on #332
WiFi on my surface go is too continually asking for password. Saying it's incorrect when it isnt.
Any specific workaround?

[2019-01-05 21:55] SoleSensei commented on #266
same

[2019-01-05 22:11] qzed commented on #333
Thanks guys! Only Pro6, Laptop, Laptop2 to go. I think Pro6 and Laptop2 should be pretty similar to their predecessors, so it would be great if someone with a Laptop (1) could test this.

[2019-01-05 22:12] SoleSensei commented on #255
@jakeday same issue
laptop surface. lastest kernel release.
Hissing speakers 2 seconds sound while booting.
Laptop switched off if cover is closed with the same sound.

[2019-01-05 22:13] nkkollaw commented on #266
In the README it says that suspend isn't working, can this have something to do with that? I experience the same problem.

[2019-01-05 22:14] qzed commented on #5
It would be awesome if any of you guys could help out with #333. Just some small testing that won't take long. Especially if you have a Laptop (1). Thanks!

[2019-01-06 11:20] doomdevelop opened #340 "Can I run apt sugested kernel update ?"
Hi , I have SP 2017 and I am running your kernel on ubuntu 18.10
I did install as the description setup.sh
Will update of kernel via apt overriding the current surface kernel ?
Thank you
andrzej

[2019-01-06 12:56] mindwarpstudios commented on #333
Surface Laptop (1)

uname:
`Linux sfclap01 4.18.20-surface-linux-surface #23 SMP Tue Jan 1 15:18:40 EST 2019 x86_64 x86_64 x86_64 GNU/Linux`

dmesg output during insmod:
`Jan  6 13:43:01 sfclap01 kernel: [  183.709267] SurfaceGen5 Button MSHW0040:00: OEM Platform Revision 4`

Power Button does NOT have same functionality after:
`sudo modprobe -r soc_button_array`
`sudo insmod surfacegen5_button.ko

[2019-01-06 14:46] qzed commented on #340
The way this (normally) works is that the surface kernel is installed in parallel to the default distribution kernel. Updating the distribution kernel will only do that: update the distribution kernel. It won't override the surface kernel.

The only thing that can happen though is: It may change the kernel which boots by default. Assuming you are using grub, you can then manually load the kernel f

[2019-01-06 14:52] qzed commented on #333
@mindwarpstudios Thanks!

No, you did everything correct! I just assumed that the SB2 would have the lowest revision number (with 5), and used that to differentiate between Pro4 and the newer devices. Thanks to you I know now that that's not the case and precisely this is what I wanted to find out with this issue!

I'll fix this and then create a PR.

[2019-01-06 15:35] qzed commented on #286
@kitakar5525 If you want to try something: When I was looking over the DSDT of the SB1 for the button issue I found [this](https://gist.github.com/kitakar5525/7221bd545cbea68ef228ef8d9071b4d5#file-dsdt-dsl-L15917) somewhat interesting debug message. This code path can be triggered by a `_DSM` call, so that might be worth looking into.

To me it looks like this code powers-up and "links" the dGPU,

[2019-01-06 20:01] Catley94 opened #342 "SB2 Wifi off into Aeroplane made after going into standby."
I've noticed that the wifi on the device stops working after going into standby or if the computer has been on and used for an hour or so. I have to restart to fix this issue. Wondering if there is a hotfix?

Thanks,

[2019-01-06 21:54] deb75 opened #343 "[SB2] `kworker` process with latest kernel"
Hello,

I installed the latest kernel (4.18.20) on `debian/buster` and I get somme `kworker` processes which are running constinuously at a high rate :
[code]
Everything was running smooth before with kernel 4.18.16. Does someone face the same issue ?

Regards

[2019-01-06 22:11] qzed commented on #343
Are you sure you've booted into the right kernel? The `kacpi_notify` thread running constantly usually indicates that an unpatched kernel is in use.

[2019-01-06 22:15] qzed commented on #342
The WiFi driver crashing after standby is a known problem. Unloading the module `mwifiex_pcie` before going into standby and reloading it afterwards should fix the issue. The other issue, I believe, should have been fixed with the latest release.

[2019-01-07 05:45] joshuadwilson commented on #5
Hello! I installed Pop_OS onto my Surface Laptop last night and I have been reading through this thread since then... my keyboard does not work either. I went through the installation steps multiple times and my keyboard still doesn't work. What am I doing wrong? Is there another set of instructions I should be following?

Thanks for all your hard work on this!

[2019-01-07 07:53] qzed commented on #343
Alright, had to make sure.

I assume you have the config from this repo applied and there are no indications as to what's going wrong in the dmesg log?

Can you also make sure the required drivers have probed correctly, i.e. run
[code]
and make sure this is `surfacegen5_acpi_ssh` for the first and `surfacegen5_acpi_san` for the second one?

[2019-01-07 09:50] qzed commented on #5
@joshuadwilson The surface-acpi module has been integrated into this repo, so there's no need to install it separately. Just install the latest release from this repo.

[2019-01-07 16:09] xgenvn commented on #332
Using the -3 release but wifi drops randomly, I'm switching to latest mainline kernel and wifi seems a lot better. Need to drop touch support for now.

[2019-01-07 16:37] qzed commented on #5
Ah, sorry I misunderstood then. You're booting into the surface kernel, right? Can you run
[code]
and if so, what does that output?

[2019-01-07 17:35] joshuadwilson commented on #5
When I run the first command above I get this:

`ls: cannot access '/sys/bus/acpi/devices/MSHW0084:00/physical_node/driver': No such file or directory`

And this from the second command:

`ls: cannot access '/sys/bus/acpi/devices/MSHW0096:00/physical_node/driver': No such file or directory`

I have a feeling I didn't do something right when installing the kernel.

[2019-01-07 17:54] qzed commented on #5
@joshuadwilson That's and indication that the drivers don't probe/are not attached to the devices.

There's not that much that you can do wrong during installation. Normally, installing the three .deb files is sufficient. What does `uname -a` give you? If you think that something during installation went wrong, try re-installing the .deb files and then manually updating initramfs (should be `sudo

[2019-01-07 19:11] joshuadwilson commented on #5
Running `uname -a` returns the following:

`Linux pop-os 4.18.0-13-generic #14-Ubuntu SMP Wed Dec 5 09:04:24 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux`

I have a feeling the problem was during `sudo dpkg -i linux-headers-[VERSION].deb linux-image-[VERSION].deb linux-libc-dev-[VERSION].deb`... I don't think I knew where to download those .deb files. Forgive me, I am very new to Linux.

[2019-01-07 19:45] qzed commented on #5
@joshuadwilson `4.18.0-13-generic` indicates it's the kernel that comes with the distribution. This should be `4.18.20-surface` (or something like this) when you have the kernel installed and booted properly.

[code]

No worries, I'm sure we'll get this figured out! You can download the files to any place you want, that doesn't really matter.

Also you can check if you've installed the kernel by r

[2019-01-07 21:55] doomdevelop commented on #340
Ok thank you for the explanation .
Just to more questions please to make it clear
I am going to use only surface kernel any way ,  if I like to get latest kernel (or latest security update) I will need to build again surface kernel  with the script setup.sh for that, right  ?
Is the power status integrated in to the surface kernel already (I saw some comments but not sure if it was about that)? Or

[2019-01-07 22:18] joshuadwilson commented on #5
@qzed So, I started from scratch and walked through the install steps again, adding the `update-initramfs` command after installing the .deb files. I restarted and the keyboard still doesn't work. When I run `dpkg --list | grep linux-image`, I get this:

[code]

But when I run `uname -a`, I get:

[code]

It seems like everything installed correctly, but it's still showing the generic kernel as the

[2019-01-07 22:56] qzed commented on #5
@joshuadwilson

Yes, this can happen. If you're installing a new kernel flavor, it doesn't directly replace the other kernels you have installed, rather it lives parallel to it and you can choose via the bootloader into which to boot. Usually a newer kernel is set to boot by default tough.

As far as I can see, `grub` should be the bootloader you're currently using (this seems to be the default on

[2019-01-07 22:59] qzed commented on #340
Either that or (potentially wait and) grab a prebuilt from the releases.

Yes, fully integrated, no need to build the module.

[2019-01-07 23:43] joshuadwilson commented on #5
So, I am not dual-booting Windows and Linux, I chose to erase the entire drive and install only Linux. I think, because of this, it does not run GRUB when I start the laptop, it just brings up the screen to unlock the encryption on the drive. Could this be part of my problem?

[2019-01-08 00:03] doomdevelop commented on #340
Great ! Thanks again !

[2019-01-08 03:52] kyuridenamida commented on #5
@joshuadwilson
Can this help you?
https://www.onmsft.com/news/how-to-disable-secure-boot-on-surface-pro-devices

[2019-01-08 04:06] joshuadwilson commented on #5
Hello! Yes, I did that before I installed Linux over top of Windows.

[2019-01-08 04:54] joshuadwilson commented on #5
Would it make sense to try and do this?
https://support.system76.com/articles/grub/

[2019-01-08 08:37] qzed commented on #5
@joshuadwilson Ah, I see.

It might, but let's check something else first: I've done a bit of research and it seems that from 18.04 on Pop_OS uses systemd-boot. If you have 18.04 or later, you can try to call `sudo bootctl list` to list all bootloader entries. If that doesn't show the kernel, try to call <´ sudo bootctl update` and try again. If that does not show the kernel, it might be required

[2019-01-08 15:10] joshuadwilson commented on #5
Ok, I'll try this out today and update with the outcome. Thanks!

[2019-01-08 15:11] carlhua commented on #5
when I did the command, I also saw

ls: cannot access '/sys/bus/acpi/devices/MSHW0084:00/physical_node/driver': No such file or directory

I ran setup.sh and at the last step I selected not to download the newest kernel. I assume it then patches the current one?

[2019-01-08 16:00] qzed commented on #5
No, you need to select `yes` here, otherwise it won't do anything. If you've run the setup script you can also manually install the kernel later.

This also happens with the latest version?

[2019-01-08 17:33] qzed commented on #5
@carlhua Well, to patch a kernel you need to get the source, apply the patches, compile it, and then install it. There's no way to patch an already compiled kernel. You can get the config and source of your current kernel tough and compile it yourself. Seeing as you are on version 4.18.16, I don't think that makes any difference though as the latest is 4.18.20, so there aren't many changes. If you

[2019-01-08 17:36] carlhua commented on #5
Okay. @qzed I will try with the new kernel today.

[2019-01-08 18:47] carlhua commented on #5
@qzed  Thanks. I tried with the newest kernel with xubuntu 18.04.

Ethernet now works fine
Keyboard works fine.

Thanks for the help.I am unsure why originally it didn't work. I did do an upgrade from 16.04 to 18.04

[2019-01-08 19:08] qzed commented on #5
@carlhua Awesome! Yeah, it seem to be a bit quirky sometimes.

[2019-01-08 19:43] krifisk commented on #303
Any ideas about the differences to 4.19? Since that is a Longterm stable release ( https://www.kernel.org/category/releases.html ) I'd really appreciate a working 4.19 patchset

[2019-01-08 20:30] jakeday commented on #303
I have a working 4.20 kernel with IPTS, I just need to finish up the issue with power management. I usually like to wait until a x.y.1 release is out prior to pushing patches, so expect it around that time.

[2019-01-08 20:31] jakeday commented on #303
Also to note, the patch for 4.20 should apply almost cleanly to 4.19 as well if we want to support that going forward too.

[2019-01-08 20:41] krifisk commented on #303
Sounds good, thanks for quick response to both of you :)

[2019-01-09 00:09] joshuadwilson commented on #5
@qzed I followed the steps you have above and was able to get it to boot to a screen where I could choose the kennel I wanted, but the path/kernel names you provided (I.e. vmlinuz-linux-surface) to add to the config file were wrong and the bootloader couldn't find them to load it. Is there another path I should look in to find those files?

[2019-01-09 00:49] qzed commented on #5
@joshuadwilson These files should be at the same location than the normal `vmlinuz-linux` file. This should be in `/boot` as far as I know, you could check if the kernel files are there and if the names I provided are correct. If the `vmlinuz-linux` file is not there, you could check in the .conf file for the default kernel and see if there's some prefix before the file name and try to find it wit

[2019-01-09 01:35] etnguyen03 commented on #320
I managed to figure out how to get the surface to shut down by adding

    [Sleep]
    HibernateMode=shutdown

to `/etc/systemd/sleep.conf.d/hibernatemode.conf`. However now when it resumes from hibernate the touchscreen, mouse, and keyboard are all frozen (except for SysRq apparently). I believe this has been reported; has a fix been found yet?

[2019-01-09 04:12] joshuadwilson commented on #5
So, the `vmlinuz.efi` and `initramfs-linux.img` files for the default kernel is in `boot/efi/EFI/folder_with_POP_OS_name/`, but there is no linux-surface folder in the `EFI` folder, nor is there an `.efi`/`.img` file for it that I can find. I feel like we are so close!

[2019-01-09 04:34] joshuadwilson commented on #5
@qzed If it helps, here is a screenshot of the contents of my `/boot` folder:
![screenshot from 2019-01-08 22-31-13](https://user-images.githubusercontent.com/30786636/50876961-4fb7a100-1395-11e9-9fc4-b4c9dec6e373.png)

Here is a screenshot of the contents of `/boot/efi/EFI`, where the folders for the default kernel are:
![screenshot from 2019-01-08 22-31-55](https://user-images.githubusercontent.

[2019-01-09 09:45] qzed commented on #5
@joshuadwilson The .efi files are files that can be directly loaded from your UEFI bios. You can pack kernels into efi files, but I haven't really seen that being used anywhere.

The kernel files are versioned in your case, which means that the two files should be `/boot/vmlinuz-4.18.0-surface-linux-surface` and ´/boot/initrd.img-4.18.0-surface-linux-surface. This is a bit of a nuisance now, becau

[2019-01-09 18:49] Catley94 commented on #342
I see, I will wait for a fix then :)

Thanks,

[2019-01-09 19:09] jasonnewyork opened #344 "Surface Laptop Keyboard Support Status Update"
I just installed Ubuntu 18.04 and the keyboard still doesn't work on the Surface Laptop. I found the thread (https://github.com/jakeday/linux-surface/issues/5) but it really didn’t seem like anyone has been consistently successful – and even though it looks like a fix was submitted to the 4.14-rc6 branch it doesn’t look like it made it as I think Ubuntu 18.04 has the 4.15 kernel version.

What is

[2019-01-09 20:04] qzed commented on #344
@jasonnewyork

Yes, support for that is not yet upstream.

At this point the discussions there are mostly related to custom kernel update/install procedure, as far as I know there are no major issues with keyboard support other than https://github.com/qzed/linux-surfacegen5-acpi/issues/8, but feel free to point out if I'm missing something.

I wasn't aware of this, do you have a link?

For the Lap

[2019-01-09 20:17] qzed commented on #340
You're welcome! Feel free to ask if you have any more questions.

[2019-01-09 20:17] #340 closed

[2019-01-10 03:48] jasonnewyork commented on #344
Ok installed your kernel with the patch and I now have the keyboard working with one exception. The patch does not work if you opt to encrypt the filesystem when you install Ubuntu. When this is selected you have to enter a password early in the boot sequence - and at that point where you enter the password the appropriate keyboard driver hasn't been loaded. I worked around this by not enabling en

[2019-01-10 04:19] versipellis commented on #344
I'm not sure if there's a separate issue for it, but I know the keyboard drivers on load are a known issue. Add `hid_multitouch` to `/etc/initramfs-tools/modules` and it should work.

(I came across that trying to do FDE with LUKS when switching from ecryptfs)

[2019-01-10 08:54] doomdevelop commented on #320
Hi , I have also problem with hibernation .

[code]

How can I safely resize swap file ?
My Distro is Ubuntu 18.10.

[code]

[2019-01-10 11:09] qzed commented on #344
@jasonnewyork If that doesn't work I'll probably be good to have a new issue for documentation purposes.

[2019-01-10 11:31] nkkollaw commented on #267
Are you sure you are actually running that kernel?

`uname -r`

[2019-01-10 11:32] skywideopen commented on #267
Yes:

`4.18.20-surface-linux-surface`

[2019-01-10 12:38] #243 closed

[2019-01-10 14:37] nkkollaw commented on #267
Yes, I had the same impression actually. I use my mouse virtually the whole time.

[2019-01-10 15:16] GMory opened #345 "[SB2] Additional monitors through Surface Dock not working"
I've gone through the other issues related to this, including [#155](https://github.com/jakeday/linux-surface/issues/155), [#123](https://github.com/jakeday/linux-surface/issues/23), and [#309](https://github.com/jakeday/linux-surface/issues/309), but haven't found a solution.

Curiously, my multi-monitor setup through the dock worked just fine with the default kernel prior to loading this kernel.

[2019-01-10 16:04] versipellis commented on #345
I know you said you've looked at the other issues already, but what are you
using for hardware connections to your dock?

On Thu, Jan 10, 2019, 23:16 Alex Gomory <notifications@github.com wrote:

[2019-01-10 16:08] GMory commented on #345
Yeah both monitors have HDMI to MiniDP, which I think was what fixed things for you. I tried disconnecting them for a minute and replugging them back in as suggested in another thread too.

[2019-01-10 16:27] GMory commented on #345
OK so I restarted and loaded into windows, then restarted and back into ubuntu and it works now :| Hah, solutions like this are some of my favorite.

[2019-01-10 16:27] #345 closed

[2019-01-10 16:34] qzed commented on #345
If that's reproducible (getting it fixed by booting into Windows and then directly to Linux) it looks a lot like the ethernet issue. Is the display output of the Dock USB based? If so, it might be worth a try adding the power-management quirk for that too.

[2019-01-10 18:40] joshuadwilson commented on #5
@qzed I messed with this all night last night and decided to install Deepin and try it on that repo. I am very happy to report that I am typing this comment on my Surface Laptop keyboard! Thank you a ton for all the time and work you put into helping me figure this out.

[2019-01-10 18:42] JamesCreasySkur commented on #5
I was able to take just my laptop to an offsite meeting and not lug my usb keyboard with me thanks to the keyboard working, Thank You! Battery status also working, mostly.

[2019-01-10 20:05] qzed commented on #5
@joshuadwilson Nice that you got it to work! Sorry it took this long, unfortunately I'm not that experienced with systemd-boot and Pop_OS.

[2019-01-10 20:08] qzed commented on #5
@JamesCreasySkur Awesome! If you encounter any concrete/reproducible problems with the battery status let me know over at the surface-acpi repo ([link](https://github.com/qzed/linux-surfacegen5-acpi)). There are some odd quirks from time to time which seems to happen due to the EC not wanting to communicate properly, but I haven't found out what causes them yet.

[2019-01-10 20:10] qzed commented on #5
@jakeday What's your opinion on a pinned "General Discussion" issue or a gitter chat or something like this to handle these kinds of smaller things?

[2019-01-10 21:50] aakroytor opened #346 "Touchscreen on Surface Laptop 2 not working"
Hello! After following the setup instructions, the keyboard on my Surface Laptop 2 works--but the touchscreen doesn't! There doesn't even seem to be a touchscreen input listed in xinput:
ak@ak-Surface-Laptop-2:~$ xinput
⎡ Virtual core pointer                    	id=2	[master pointer  (3)]
⎜   ↳ Virtual core XTEST pointer              	id=4	[slave  pointer  (2)]
⎜   ↳ MSHW0092:00 045E:0933 Mouse

[2019-01-10 22:08] jakeday commented on #5
@qzed I like the idea of using gitter. I setup a community for us here: https://gitter.im/linux-surface

[2019-01-11 04:57] kitakar5525 commented on #286
I installed [acpi_call](https://github.com/mkottman/acpi_call)  and issued `echo '\_SB.PCI0.RP05.HGON' > /proc/acpi/call`, I got following errors in dmesg:

[code]

🤔 I'll try more with acpi_call.

[2019-01-11 10:21] nkkollaw commented on #267
OK, I can confirm that I'm still experiencing this problem.

@jakeday, I think this issue should be reopened.

[2019-01-11 15:11] qzed commented on #286
@kitakar5525 I don't think you can go any further with `acpi_call`. It looks like it's going wrong [here](https://elixir.bootlin.com/linux/v4.18.20/source/drivers/i2c/i2c-core-acpi.c#L609), due to `AttribRawBytes` (defined as protocol in the [I2C OpRegion](https://gist.github.com/kitakar5525/7221bd545cbea68ef228ef8d9071b4d5#file-dsdt-dsl-L16331) being accessed via [`SCMD`](https://gist.github.com/

[2019-01-11 15:20] qzed commented on #286
It might also help to find out what exactly is being given to the driver. I couldn't recognize anything, but if somebody else wants to try: Have a look at [this](https://gist.github.com/kitakar5525/7221bd545cbea68ef228ef8d9071b4d5#file-dsdt-dsl-L16419-L16435).

[2019-01-11 22:40] doomdevelop commented on #320
For any one looking how to resize swap file , [here](https://askubuntu.com/questions/1075505/how-do-i-increase-swapfile-in-ubuntu-18-04) good explanation

[2019-01-11 23:20] doomdevelop commented on #320
For any one looking how to resize swap file , [here](https://askubuntu.com/questions/1075505/how-do-i-increase-swapfile-in-ubuntu-18-04) good explanation

[2019-01-12 05:51] rosinx commented on #346
I'm having a similar issue on Surface Book 1

[2019-01-12 07:51] kitakar5525 commented on #286
@qzed Thank you for pointing out the problems! I'm at least glad to know it will not be easy…

[2019-01-12 22:13] joaocortes opened #347 "login in surface pro 3 with dock attached"
I am running `fedora 29` on `surface pro 3`.
I patched release `4.18.20` of git://git.kernel.org/pub/scm/linux/kernel/git/stable/linux-stable.git
with the all patches of release `4.18.20-4` of this repo.
I installed both the modules and the kernel. The first boot failed, and after  following  instructions at #167 I managed to arrive at the login page. However, after logging in with the surface doc

[2019-01-13 05:46] phillpeters commented on #266
I'm having this same issue.  I said yes to the option of having suspend be replaced with hibernate when installing the kernel (4.18.20).  When I choose suspend from the Quit options, the computer just performs a complete shutdown.

[2019-01-13 05:51] phillpeters commented on #255
Surface Book 2 Linux Mint 19.1 4.18.2
I'm hearing a static hiss from my speakers a few seconds after grub2 screen (dual booting with windows 10).  Persists until I log in.

[2019-01-13 05:56] ZZZXXX0110 opened #348 "Surface Pro 6 not connecting to WiFi access points with authentication after suspend, but works with open AP."
Surface Pro 6 running Kubuntu 18.10.

After suspend, wifi does not connect to any AP that requires authentication (including both WPA-PSK and WPA-EAP), but does work with open access point. A reboot remedies it until next suspend.

I have tried "modprobe -r mwifiex_pcie/modprobe mwifiex_pcie" and restarting NetworkManager.service after suspend, neither fixes it.

[2019-01-13 12:38] LoPablo commented on #279
Having the same problem. Before installing the kernel auto rotation works fine. After installing, the auto rotation symbol in the GNOME 3 menu is gone and there is no setting related to it visible anymore. I even tried reinstalling Ubuntu and only install the kernel to see if it had to do anything with any other settings or configurations.

[2019-01-13 16:45] andreatulimiero opened #349 "Hibernation with swapfile not working"
Since I forgot to create a partition for the swap, I'm trying to setup the hibernation with a swapfile instead
I'm using an SP4 i5 version with 8Gb of RAM.
I created a swapfile of 8Gb (as it was suggested on some forums), then added the `resume` command with the `resume_offset` of the swapfile to `/etc/grub/default` and I updated the bootloader.
However, when I try to launch `pm-hibernate`, in the

[2019-01-13 20:11] thmichel opened #350 "Lots of evbug messages in Journal"
On my Surface Book 2 I get lots of the following errors in the journal:

Jan 13 21:07:27 tomlinux.vbmichel.local kernel: evbug: Event. Dev: input51, Type: 0, Code: 0, Value: 0
Jan 13 21:07:27 tomlinux.vbmichel.local kernel: evbug: Event. Dev: input51, Type: 2, Code: 0, Value: -7
Jan 13 21:07:27 tomlinux.vbmichel.local kernel: evbug: Event. Dev: input51, Type: 0, Code: 0, Value: 0
Jan 13 21:07:27 t

[2019-01-13 21:38] doomdevelop commented on #349
Hi, I could fix issue with hibernate, look in my [comment](https://github.com/jakeday/linux-surface/issues/320#issuecomment-453680046) , maybe it can help with you issue.

[2019-01-13 21:53] deb75 commented on #343
Hi,

I have no such file `/sys/bus/acpi/devices/MSHW0084:00/physical_node/driver`.

Here is the content of `/sys/bus/acpi/devices/MSHW0084:00` :
[code]

Also : `ls -l /sys/bus/acpi/devices/MSHW0091:00/physical_node/` gives :

[code]
The file `driver_override` constains `(null)`

I recompiled the kernel 4.18.20 with latest patches, I still have the issue.
I noticed that the `surface_acpi` module wa

[2019-01-13 22:55] deb75 commented on #343
My bad, there was something missing  in my kernel configuration.

[2019-01-13 22:55] #343 closed

[2019-01-13 23:02] qzed commented on #343
Nice that you got it working! Just out of curiosity: what was missing?

[2019-01-13 23:08] qzed commented on #350
As far as I know, this is a config/distro issue, I had the same problem on Debian a while back, but not on Arch. Since the `evbug` module is just used for input event debugging, you can simply blacklist it, i.e. edit/add `/etc/modprobe.d/blacklist` and add the line
[code]
without any implications.

[2019-01-13 23:13] qzed commented on #348
Maybe connected to #332. I have the same problem on a SB2, but I can avoid that by unloading the module before a suspend. I can confirm that if this happens, re-loading the module does not fix this, it does not block as with the previous WiFi suspend issues though.

[2019-01-13 23:19] qzed commented on #286
Sorry I can't help you more at the moment. I've still planned to find out the missing SB2 features via logging on Windows, maybe we can use the same approach here, but I have to get that working properly first.

[2019-01-14 02:05] versipellis commented on #335
@qzed Was this resolved in the latest kernel release? Just patched up and it appears to still be happening.

[2019-01-14 02:19] qzed commented on #335
@versipellis It will still emit warnings, it won't overheat though.

[2019-01-14 02:37] versipellis commented on #335
Gotcha. But the lid-close shutdown matter still happens, so I'm not sure why this issue was closed.

[2019-01-14 02:39] qzed commented on #335
So you're saying it still overheats? That should be impossible now.

[2019-01-14 03:09] versipellis commented on #335
It just shuts down. It doesn't overheat. Tested on cold boot.

[2019-01-14 03:10] qzed commented on #335
Okay, that might be a configuration issue then. Anything interesting in the logs? Have you replaced suspend with hibernate?

[2019-01-14 03:34] versipellis commented on #335
`syslog`:
[code]

[2019-01-14 06:34] versipellis commented on #335
I ran another test, making sure that the laptop was completely cool. I get the same behavior as before, hissing static followed by a black screen, and then this ACPI error:

`surfacegen5_acpi_san MSHW0091:00: ETWL(0x01, 0x02): RQST(19, 2, 0) error: 6`

No thermal errors this time.

[2019-01-14 08:39] WangZhihua1998 opened #351 "Surface Pro 2017: Pen goes wrong after rotation"
I'm testing on Ubuntu 18.10. After rotating the screen, the cursor of the pen goes to the wrong place. If the pen moves horizontally, the cursor will move vertically.It seems as if the pen won't "rotate" with the screen. And If I rotate it back, the pen will work fine as usual.

[2019-01-14 12:07] qzed commented on #335
[code]
That's a different error, before it was `RQST(17, ...)`. `RQST(19, ...)` is a request related to graphics, but that's a wontfix for now as I don't know what exactly that request should achieve. It's currently unsupported and thus silently ignored as indicated in the line before:
[code]

Also the warnings caused by the lid/base state request are now correctly 1s apart:
[code]

It looks like

[2019-01-14 12:09] qzed commented on #351
Installing the [patched libwacom package](https://github.com/jakeday/linux-surface/tree/master/packages/libwacom) should fix that.

[2019-01-14 15:30] versipellis commented on #335
`xxx@Hyde:~$ cat /sys/class/thermal/thermal_zone4/type
GEN6`

This is all coming off of a clean install of Ubuntu and Jakeday kernel, using the options specified in the setup.sh to replace suspend with hibernate.

I wonder if the graphics is related to using the nvidia 390.87 drivers. I didn't have any issues with this prior to the latest jakeday kernel.

[2019-01-14 15:49] qzed commented on #335
`GEN6` is dGPU temperature. Let's focus on the shutdown issue first, that might mess some stuff up, which might cause the dGPU to misbehave.

in that case it should hibernate when you close the lid. I'm not sure why it also enters suspend. Do you have something else installed that could trigger this, like acpid? What happens if you change the lid close action in the settings?

[2019-01-14 16:03] chylee opened #352 "download speed in kubuntu 18.10 not good compared windows 10"
I have tested the internet speeds on my surface pro 4 were I have both windows and kubuntu installed.
I have 300Mbps download and 20 Mbps upload internet connection but what I get from the tablet using kubuntu is Download 1.94 Mbps & Upload 15.4 Mbps and under windows 10 Download 38.3 Mbps Upload 18 Mbps. Both the upload and download is worse in kubuntu than in window but download in kubuntu is te

[2019-01-14 17:41] versipellis commented on #335
Ha, I found the culprit of the dual hibernate-suspend issue: Gnome tweak tools had an option for on-lid close suspend. Disabled that and the problem stops occurring. Cheers!

[2019-01-14 17:48] markfromarch commented on #306
Which logs, output do you need? I´am an arch linux user with a Surface Go LTE.
btw. Thank you!!! This GIT is a lifesaver.

[2019-01-14 19:34] ZZZXXX0110 commented on #348
Interestingly, I just received an update to the network-manager package today, and after updating, the wifi connection after recovering from suspend can now be fixed by "sudo service network-manager restart".

And more interestingly, after executing this command, subsequent suspend does NOT break the wifi anymore lol

So I put this command into /etc/rc.local to force restart network-manager anyway

[2019-01-14 20:47] andreatulimiero commented on #349
@doomdevelop thanks for pointing me out your solution.
However I tried to follow the steps you listed but I'm still having the same problem.
By the way, how do you put your device in hibernation? Do you launch  the `sudo pm-hibernate` or do you do you use the suspend button after having overwrite the suspend mode with the hibernation?

[2019-01-14 21:44] LoPablo commented on #279
So I just had time Tim reinstall again today and again, after installing the kernel with the script, auto rotation is gone.
It seems to be connected with the iio-sensor-proxy service no longer being able to find any bio devices. When running the command _udevadm info --export-db_ mentioned in the iio-sensor-proxy readme on GitHub, before kernel installation there are several iio devices present. A

[2019-01-15 01:21] ZZZXXX0110 commented on #348
Very strangely, unloading the wifi modules "mwifiex_pcie" and "mwifiex" before suspend and both unloading and reloading them ("cycling") after suspend is already scripted in /lib/systemd/system-sleep/sleep, which is supposed to include commands executed before and after suspend (according to: https://manpages.ubuntu.com/manpages/cosmic/en/man8/systemd-suspend.service.8.html).

However, I noticed t

[2019-01-15 01:48] ZZZXXX0110 commented on #348
I also noticed that, this wifi problem can be reproduced, without going into suspend, simply by executing "sudo systemctl restart NetworkManager.service". This line is included in "/lib/systemd/system-sleep/sleep" and thus was originally scripted to be executed after waking up. But simply commenting out this line alone doesn't seem to prevent the problem.

[2019-01-15 01:58] divtodiv commented on #279
guys, i cant explain why... but i just boot in to ubuntu after 3 weeks and the auto rotation works just fine... without any modify

[2019-01-15 07:55] qzed commented on #335
Nice! Is there still any issue with the dGPU? If so I think you should open a new issue.

[2019-01-15 08:47] versipellis commented on #335
Doesn't appear to be so. Nothing crashed, so I didn't bother checking the
logs. I can take a look at that tomorrow to see if there's any issues in
the background though.

On Tue, Jan 15, 2019, 02:55 Maximilian Luz <notifications@github.com wrote:

[2019-01-15 09:16] andreatulimiero commented on #349
@doomdevelop I set the hardware power button to put the device in hibernation and at least the device powers off (it takes some time, first the screen turns off, and then after 20-30seconds the keyboards turns off as well with the rest of the device)
However, when I turn it back on, everything is like no hibernation was done
It is true, however, that after turning it on after having hibernated it,

[2019-01-15 09:24] markfromarch opened #353 "Surface Go LTE"
I´am an arch linux user (Windows 10 is still on the disk) with a Surface Go LTE.

As Jake mentioned: Which output, logs do you need to get the LTE chip working under linux?

Thank you!!!

[2019-01-15 09:45] andreatulimiero commented on #349
@doomdevelop I think I fixed.
The issue was that while in `/etc/initramfs-tools/conf.d/resume` I had `resume=UUID=<UUID>`, in  `/etc/default/grub/` I had `resume=<UUID>`. (I also uninstalled `pm-utils` and `uswsusp` and updated the initramfs for safety -- as pointed out in [this](https://askubuntu.com/questions/1053134/hibernation-in-18-04) Question/Solution)
Thank you really much for your help.

[2019-01-15 09:45] #349 closed

[2019-01-15 09:58] sphh commented on #349
@andreatulimiero could you please tell us where you kept the `resume` option: in `/etc/initramfs-tools/conf.d/resume` or `/etc/default/grub`? Thanks.

[2019-01-15 10:39] qzed commented on #335
Okay, I guess this was a quirk from the parallel suspend/hibernate then.

[2019-01-15 12:01] SoleSensei commented on #255
@phillpeters it seems we'll need to open new issue fo SL/SL2 with this problem

[2019-01-15 12:03] SoleSensei opened #354 "[SL/SL2] Speakers hissing while booting"
Laptop surface. Lastest kernel release.
A static hiss from my speakers a few seconds after grub2 screen (dual booting)
#255 #101

[2019-01-15 12:04] andreatulimiero commented on #349
@sphh I kept the `resume` option in both of them, namely:
`/etc/default/grub/`:
[code]
`/etc/initramfs-tools/conf.d/resume`:
[code]

[2019-01-15 12:06] SoleSensei commented on #354
and when i closing laptop cover - laptop is switching off with the same hiss sound
i think it is hibernate problem

[2019-01-15 12:09] SoleSensei commented on #101
#354

[2019-01-15 14:59] jpeletier commented on #259
@qzed @jakeday  Awesome work!! this is my first message over Ethernet with my SB2.

[2019-01-15 15:50] RussH commented on #332
you may want to look here - https://bugs.archlinux.org/task/59052, seems to be a regression in latest kernel

[2019-01-15 17:07] RussH commented on #332
Wifi issues - this seems to be a Marvell driver issue, as it looks like our issue is being discussed in bugzilla.kernel.org here; https://bugzilla.kernel.org/show_bug.cgi?id=109681. Seems to be in need of some folks contributing debug logs etc.

[2019-01-15 17:46] jonas2515 commented on #351
This is actually a bug in Mutter that should be fixed in the next release (3.32).

[2019-01-15 19:45] qzed commented on #351
@jonas2515 Ah, thanks for the info!

[2019-01-15 22:00] deb75 commented on #343
I used to cleaning the kernel configuration from all not necessary device drivers and also from all what does not concern the SB2.

It appears that I removed one of the `surface-acpi` module dependency.
I was lacking the serial device bus.

[2019-01-15 22:07] qzed commented on #353
See #306

[2019-01-15 22:07] #353 closed

[2019-01-15 22:11] qzed commented on #343
Ah, I see, thanks!

[2019-01-16 07:09] ge9 commented on #320
I'm using SP4 and lubuntu 18.04.
"HibernateMode=shutdown" and "sudo systemctl hibernate" didn't work for me.
"shutdown method = shutdown" (in /etc/uswsusp.conf) and "s2disk" worked (shutdown&resume).
However, after lubuntu resumed, wifi and touchscreen were not working.

[2019-01-16 14:21] chylee commented on #352
No at first I get 1.87Mbps download 10Mbps Upload when I tried testing it again to confirm results I get 12.3Mbps download & 13.8Mbps upload and again after that D 3.39Mbps U 20Mbps so all over the place

[2019-01-16 16:47] Guillaume-CHR opened #355 "Surface Pro 2017 - The application of this method did not work"
Dear Jakeday,

First of all thank you for your GitHub :)

I run the steps described in your [README](https://github.com/jakeday/linux-surface#instructions) and get the "All done, please reboot" message.
I rebooted but none of the features (battery, touch-screen, volume buttons) are working...
Is there any specific steps I've missed??

For info, I have the Ubuntu (full Ubuntu) version 18.04.1 on a

[2019-01-16 20:22] nkkollaw commented on #352
Do you have a blueetooth mouse and does moving the mouse make the connection improve?

[2019-01-16 23:49] chylee commented on #352
Yes I have a bluetooth mouse connected to surface pro and moving the mouse around while running the speed test doesn't improve the bandwidth. No matter how I move the mouse I could get between 2 to 25 Mbps in download speed between tests

[2019-01-17 07:51] nkkollaw commented on #352
I see. It's not power saving, then.

[2019-01-17 10:18] chylee commented on #352
Not sure exactly what you mean. I do have power management on. The tablet is plug into the mains when I running the speed tests if that helps

[2019-01-17 15:32] fellnerse commented on #267
It's slow for me as well. Just upgraded to 4.18.20.

[2019-01-17 15:34] chylee commented on #352
I assume that power saving mode is activated when I disconnect the power supply from the tablet. Since I have been using this tablet connect to mains I thing that the problem I'm having maybe not to do with that. How would I know for sure?

[2019-01-17 17:59] Predatux opened #356 "Surface Pro 4. Faults found"
I have installed Kubuntu version 10.10 with kernel 4.18.20.
The bugs I find are the following:
The touch screen is disconnected from time to time (there is already open incident). I would like to comment that many touch screen disconnections are said to occur when chrome is opened. I had problems in Linux with the composer, which also fell constantly when opening opengl applications. Is it possibl

[2019-01-17 18:22] chylee commented on #356
I have the similar problems with touch under kubuntu 18.10 stop working while I'm interfacing using touch I have to use 'xset dpms force suspend' for to touch returns with out restarting though sometimes touch returned after I left it alone for a while. Looking on the internet and found that In KDE has not implemented screen rotation.

[2019-01-17 21:05] LoPablo commented on #279
So I found out another thing. This time I booted up my surface with the linux-surface kernel the auto rotation function was indeed present and I was able to rotate the screen by rotating my device.

I looked up the status of the iio-sensor-proxy service and it indeed was running. And there were iio devices present when issuing the _udevadm_ command mentioned above.

But: As soon as I happily plugg

[2019-01-17 21:44] Badorio opened #357 "Surface 3 (non-pro) sound not working with latest kernel (4.18.20-4)"
Sound worked fine before installing the kernel. I installed Ubuntu Budgie 18.04, sound worked. Stopped working after installing the 4.18.20-4 patched kernel.
Everything else seems to work fine.

[2019-01-18 01:12] remingtonlang commented on #279
Its been awhile since I've run Windows on my SP17 but if memory serves me Windows does the exact same thing, rotation is shutoff if a typecover is present. That indicates to me its firmware and possibly something out of our control.

[2019-01-18 03:38] rwx777 commented on #354
My surface laptop has the same issue. And it keeps hissing from SL speakers when switching audio output to the HDMI. SL1/ 941c0e8/ kernel 4.18.20.

[2019-01-18 08:46] rednag opened #358 "Surface 3 Pro can't boot with latest"
First of all, thanks to your work. Without you many Surface users would not try either to run dual boot or productive linux systems.

Device: Surface 3 Pro
OS: Ubuntu 18.04
Kernel: 4.15.0-39

Tested 4.18.20-4, installed with your setup-script. After installation I was not able to boot anymore, it stopped while initializing CTR i8042.

[2019-01-18 10:30] SoleSensei commented on #354
### Some tweaks to fix (Ubuntu 18.04):
#### Disable suspend on lid close
1. Open the `/etc/systemd/logind.conf` file in a text editor as root, for example:
[code]
2. Add lines (or change if uncommented) `HandleLidSwitch=ignore` and 'HandleLidSwitchDocked=ignore'
3. Restart service
[code]
#### Disable screen on lid close
1. Run
[code]
2. Open `/etc/acpi/lid.sh` in text editor
[code]
3. Copy-Paste
[

[2019-01-18 10:36] SoleSensei opened #359 "[SL] Suspend on lid close - shutting-down laptop"
Surface Laptop.
Suspend on lid close.
#266

[2019-01-18 10:38] SoleSensei commented on #359
### Some tweaks to fix lid shutting-down (Ubuntu 18.04):
#### Disable suspend on lid close
1. Open the `/etc/systemd/logind.conf` file in a text editor as root, for example:
[code]
2. Add lines (or change if uncommented)
[code]
3. Restart service
[code]
#### Disable screen on lid close
1. Run
[code]
2. Open `/etc/acpi/lid.sh` in text editor
[code]
3. Copy-Paste
[code]
4. Replace `your_username` wi

[2019-01-18 21:20] btearle commented on #354
I have the same issue. It goes away after the desktop loads, but I just realized it comes back whenever I plug headphones in (the hissing still coming from the computer speakers, not the headphones.)

[2019-01-18 21:33] btearle opened #360 "Surface Book 2: Lag when not charging"
After updating to 4.18.20 on my SB2 running 16.04, there's a noticeable system lag as soon as I unplug the power. Scrolling through a webpage / resizing windows / mouse movement all stutter much more when the computer is running on just battery. Doubled checked 4.18.16 and there's no similar issue there.

[2019-01-18 22:38] RussH commented on #358
Hi @rednag this may be issue as #167 can you try the fix?

[2019-01-19 15:39] joaocortes opened #361 "build kernel for fedora"
I am building the kernel, using fedora repo git://git.kernel.org/pub/scm/linux/kernel/git/jwboyer/fedora.git.
I am trying to use `git am` command to apply the patches from patches/4.18.

 git am  ../linux-surface/patches/4.18/*
Applying: surface-acpi
Applying: resume-delay
Applying: buttons
Applying: cameras
Applying: ipts
Applying: hid
Applying: sdcard_reader
Applying:
fatal: empty ident name (fo

[2019-01-19 15:41] jakeday commented on #361
I'll take a look at it, but you can use this:

patch -p1 < patchfile.patch

[2019-01-19 16:08] joaocortes commented on #361
Thank you.
I know that, but I am trying to use the standard tool for building `rpm` packages in `fedora`, which calls `git am`.

[2019-01-19 20:05] jakeday commented on #346
@aakroytor Can you run "uname -r" and tell me which kernel you are using? Same for you please, @rosinx

[2019-01-19 20:47] choeffer commented on #251
See https://www.reddit.com/r/SurfaceLinux/comments/ah30w8/surface_go_remove_not_existing_battery_from_gnome/ I added some more infos

[2019-01-19 23:00] dotvezz commented on #354
I'm getting the same behavior now. It had been okay before the acpi module, but now the static/hiss noise starts up every time I change the battery charging state (plug/unplug the charger) and every time I connect headphones.

The amixer command on the [Archwiki page](https://wiki.archlinux.org/index.php/Microsoft_Surface_Book_2#Audio) had worked for me before, but doesn't seem to do anything now.

[2019-01-20 02:03] awmartin commented on #279
The SP4 can indeed rotate with Windows and the typecover connected. That's a key device feature, to flip the type cover around and use it as a tablet. Windows enables you to "lock rotation" to keep the screen at a desired orientation, but it can be disabled manually while in "tablet mode."

With Ubuntu 18.10, I experience the same issue where auto-rotation doesn't work with a typecover attached, b

[2019-01-20 10:01] rwx777 commented on #354
@SoleSensei
Yes, it shutdown directly. I need to press power again to open it. However, I have not tried the tweak yet.

[2019-01-20 12:19] dfghj44444 opened #362 "Cant awake after sleep"
As the title,I have a Surface Pro 6 ,when sleeped, the ketboeard or the key never worked.I tried install tlp or laptop_mode ,just not work,so every time it sleep ,I press(shortly) power on and then it boot with run a disk check, I think my harddisk will reduce its life time.

[2019-01-20 13:02] andreivolt commented on #145
I'm also interested in camera support - and props to @qzed for the research you've done. You're saying it "won't be that simple", since this is OSS I suspect someone will tackle it at some point (someone with kernel experience so not me :)), what are the odds you'd put on availability say 3 to 6 months for now?

Basically I'd like to know if there's hope or just to forget about it, seeing it's als

[2019-01-20 17:07] aakroytor commented on #346
Sure:
4.18.20-surface-linux-surface

[2019-01-22 07:36] ZZZXXX0110 opened #363 "Pen side button recognized as middle mouse click instead of right mouse click."
On Surface Pro 6 running Kubuntu 18.10, each click of the pen side button (with or without the tip touching the screen, but is close to the screen) is registered as a middle mouse button click.

It would have been incredibly more convenient and useful, however, to have the side button click registered as right mouse click, particularly for tablet usage, since in most DE there's no native way to is

[2019-01-22 12:52] jakeday commented on #363
@ZZZXXX0110 That's a configuration change for Kubuntu. You can map the button to whichever action you like.

[2019-01-22 12:52] #363 closed

[2019-01-22 13:03] jakeday commented on #355
@Guillaume-CHR Can you confirm the kernel is running with "uname -r"? Also, did you get any output from the script detecting your device and installing firmware?

[2019-01-22 13:05] jakeday commented on #350
I agree with @qzed

[2019-01-22 13:05] #350 closed

[2019-01-22 13:07] jakeday commented on #362
@dfghj44444 Don't install tlp, it will cause several issues. Can you clean it up and see if you still get issues? If you do, please provide us some logs.

[2019-01-22 14:19] Guillaume-CHR commented on #355
@jakeday Yes it is running and its output is "4.19.0-041900-generic". Dunno if it's the correct one.
My device has been detected as a surface (not sure if the model was retrieved but I don't remember so). Some things where install (packages) but can't recall which ones. I can relaunch it if you wish so I can get the out

[2019-01-22 14:55] jakeday commented on #355
@Guillaume-CHR That means you are not running the linux-surface kernel. The generic 4.19 kernel is         getting selected by default as it's a higher version. You can set the 4.18.20 kernel as default, or in the grub boot menu select advanced options and pick the kernel.

[2019-01-22 14:55] #355 closed

[2019-01-22 14:57] jakeday commented on #358
You need to add the grub boot command as mentioned in #167. Also, wifi should be fixed in the current release.

[2019-01-22 14:57] #358 closed

[2019-01-22 14:58] jakeday commented on #357
@Badorio can you get us some log files and the device list (aplay --list-devices) so we can debug?

[2019-01-22 15:00] jakeday commented on #356
The auto rotation works for the iio-sensors, but you likely need to configure them. The touchscreen issues are tracked under #242

[2019-01-22 15:00] #356 closed

[2019-01-22 15:00] jakeday commented on #352
This should be improved in 4.18.20-5. You can also try using the new mwlwifi module by blacklisting mwifiex and mwifiex_pcie.

[2019-01-22 15:01] #351 closed

[2019-01-22 15:03] jakeday commented on #332
This should be fixed in 4.18.20-5, as well as using the updated marvell firmware I pushed. You can also try the new mwlwifi module by blacklisting mwifiex and mwifiex_pcie.

[2019-01-22 15:03] #332 closed

[2019-01-22 15:05] jakeday commented on #346
Can you get me the output of "lsmod | grep -i ipts"? Also can I see your xorg log output?

[2019-01-22 15:16] kitakar5525 commented on #357
I had this issue on kernel 4.18. But now my Surface 3 has sound on 4.20. Not tested on LTS 4.19.

[2019-01-22 15:22] Norswear commented on #357
how to install the jakeday's kernel? I have tried several times but after the installing steps and reboot，it cannot enter the OS, it shows the error like this: [cherryview-pinctrl INT33FF:00: Failed to request GPIO]
plz help me, thx @jakeday

[2019-01-22 15:23] Norswear commented on #357
surface 3 non pro, elementary OS 5.0

[2019-01-22 15:54] RussH commented on #348
This behaviour is reproducible on a Surface Pro 3 running KDE Neon.
Linux russh-Surface-Pro-3 4.18.20-surface-linux-surface #32 SMP Tue Jan 22 09:13:31 EST 2019 x86_64 x86_64 x86_64 GNU/Linux

[2019-01-22 16:53] nkkollaw commented on #352
@jakeday: Is this not the same as #267? I know that one was closed but I'm still experiencing the same problem (I've been adding a few comments, no idea if you receive a notification for closed issues and that's why I'm mentioning it again here).

[2019-01-22 17:14] ZZZXXX0110 commented on #363
You're right. It seems unique to KDE that the right mouse button is number 3 and middle button is number 2.
As a reference for anyone else need help on this, I solved this problem by manually remapping the key for the button of "ipts 045E:001F Pen Pen (0)" device following the instructions here: https://wiki.archlinux.org/index.php/Libinput#Manual_button_re-mapping
This setting does not seem to pe

[2019-01-22 21:12] qzed commented on #145
@andreivolt Sorry it took me so long to answer, unfortunately I'm a bit busy at the moment.

I hope that the big parts will be supported by Intel (i.e. IPU and CIS2-interface, as mentioned there seems to be some development at the moment), and I think we should then be able to fill in the missing parts. I'd really like to have working cameras myself, but I can't give you any credible estimate. I j

[2019-01-22 21:14] qzed commented on #360
I don't experience this, but you could try and play around with the cpu governor.

[2019-01-23 04:59] paulhutchings commented on #354
Disabling the on-board audio via UEFI is the only way to get rid of it (of course, then you have no audio though). My guess is it's either activating the mic and boosting the gain like crazy resulting in the feedback, or it's just booting the gain on the speakers like crazy and what you're hearing is the noise floor.

[2019-01-23 06:08] Norswear commented on #357
oh i found the way to fix it！add `GRUB_CMDLINE_LINUX_DEFAULT:"i915.enable_guc=0"`

[2019-01-23 09:45] andreivolt commented on #145
@qzed no problem and thank you for that estimate, it seems you've got a skeleton of a solution, it seems improbable that it won't happen at some point, which is great news after reading elsewhere it's not likely to ever happen

Thanks again for all your work here!

[2019-01-23 15:07] RussH opened #364 "Surface Pro 3: No Wi-fi after hibernation [Workaround in place]"
Surface Pro 3 no wifi after resume from Hibernation. Using latest Kernel on KDE Neon and a WPA2 wi-fi network

russh@russh-Surface-Pro-3:~$ uname -a
Linux russh-Surface-Pro-3 4.18.20-surface-linux-surface #32 SMP Tue Jan 22 09:13:31 EST 2019 x86_64 x86_64 x86_64 GNU/Linux

[    8.650154] mwifiex_pcie 0000:01:00.0: info: MWIFIEX VERSION: mwifiex 1.0 (15.68.7.p154)
[    8.650156] mwifiex_pcie 0000:0

[2019-01-23 21:37] ZZZXXX0110 commented on #348
The new version 4.18.20-5 does not solve this problem. However, the old workaround mentioned above is still valid.

[2019-01-23 22:40] RussH commented on #364
As per #348 I can still connect to an open wi-fi access point after resume.

[2019-01-24 08:24] DolceTriade opened #365 "Surface Pro 6: Power/Volume buttons do not work."
As noted, pressing the power buttons or volume buttons does not do anything, nor is there any evidence that the kernel is processing any events via /dev/input/* or dmesg. This also means that the power button cannot be used to wake the device after sleeping. Holding down the power button for over 30s will still perform a hard shutdown.

I see the surface pro 3/4 buttons show up, but they produce n

[2019-01-24 11:48] qzed commented on #365
Can you upload a DSDT?

[2019-01-24 12:58] jakeday commented on #364
@RussH This will be fixed in my next release today.

[2019-01-24 13:47] jakeday commented on #364
@RussH Can you give 4.18.20-6 a try? Both with the mwifiex and mwlwifi drivers.

[2019-01-24 16:03] KatsuoRyuu commented on #303
Sorry for bumping.
I might be mistaking, or is this 4.20 merged into the patches already?
My distro (Gentoo) no longer had 4.18, at all. Which means I should either use custom kernel, be very careful not cleaning up my system ;-)
So would just like to see/hear what status it ;-)

[2019-01-24 16:09] RussH commented on #364
so here's the summary;

downloaded the new release (thanks!) Linux russh-Surface-Pro-3 4.18.20-surface-linux-surface #33 SMP Thu Jan 24 08:25:13 EST 2019 x86_64 x86_64 x86_64 GNU/Linux

Three tests;
1.works fine through hibernate/resume when using WICD and mwifiex. wi-fi resumes automatically.
2. reinstalled NetworkManager and it's back to the same behaviour, after resume it won't connect to a WPA

[2019-01-24 17:05] jakeday commented on #364
@RussH I'll have to look into item 2. For item 3, are you saying it connects fine normally, but when resuming you get the issue?

[2019-01-24 17:43] RussH commented on #364
Hey Jake - yep. same user experience as before. Sorry!

[2019-01-24 17:43] jakeday commented on #303
@KatsuoRyuu No worries! I finished (hopefully) the changes and left it compiling when I went to work today. I'll test it out tonight, and hopefully release soon!

[2019-01-24 19:13] ZZZXXX0110 opened #366 "Right mouse click emulation on touch screen."
Anyway we can have touch screen register long press and emulate right mouse click? That would be greatly helpful since most DE don't provide native right mouse click for touch screen.

One way this could be implemented is through some kind of configuration file in /usr/share/X11/xorg.conf.d/, I think. But what exactly is the name of the driver used for the touchscreen on Surface devices? Is it "ip

[2019-01-24 19:15] ZZZXXX0110 commented on #365
I see the same output with "libinput  list-devices", with SP3/4 button showing up. However, my Surface Pro 6 with Kubuntu 18.10 has its power and volume buttons working prefectly.

[2019-01-24 19:40] dbranham20 commented on #346
I have the same output for `uname -r`. Here is my lsmod output. Not sure how to get the xorg log output!

[lsmod.txt](https://github.com/jakeday/linux-surface/files/2793296/lsmod.txt)

[2019-01-24 20:03] snluu commented on #348
@jakeday Thanks for working on the patch. I followed [this guide ](https://denzilferreira.github.io/microsoft-surface-pro-4-and-fedora-28/) to build the kernel for Fedora 29. Do I follow the same steps to rebuild the kernel or is there an easier way to apply the 4.18.20-6 patch?

[2019-01-24 20:44] dbranham20 opened #367 "Linux kernel update in Update Manager - SL2"
I am currently running the latest releases of this repository. There is an update in the Update Manager in Linux Mint 19 for "Firmware for linux kernel drivers." Is it safe to update? How can we decide if future kernel updates are safe to install? Attached is a screenshot of some of the changelog for the update. I wasn't sure how to copy the entire changelog because it is quite long.

![linux-firm

[2019-01-25 01:18] jakeday commented on #366
This is a config change and not a kernel issue. Can you please post this over at https://gitter.im/linux-surface/support?

[2019-01-25 01:18] #366 closed

[2019-01-25 01:19] jakeday commented on #367
It's safe to update and won't cause any conflicts with the kernel.

[2019-01-25 01:19] #367 closed

[2019-01-25 04:52] JamesBr0wn commented on #365
Same problem on surface pro 2017, archlinux. Similar output like @DolceTriade's.
Device:           Surface Pro 3/4 Buttons
Kernel:           /dev/input/event1
Group:            1
Seat:             seat0, default
Capabilities:     keyboard
Tap-to-click:     n/a
Tap-and-drag:     n/a
Tap drag lock:    n/a
Left-handed:      n/a
Nat.scrolling:    n/a
Middle emulation: n/a
Calibration:      n/a
Scroll

[2019-01-25 04:54] JamesBr0wn commented on #365
And also these errors with dmesg (don't know whether they are related):
[   22.726683] surfacegen5_acpi_ssh serial0-0: recv: invalid start of message
[   22.828279] surfacegen5_acpi_ssh serial0-0: recv: invalid start of message
[   22.928472] surfacegen5_acpi_ssh serial0-0: recv: invalid start of message

[2019-01-25 05:05] JamesBr0wn commented on #365
With this DSDT file below:
[dsdt.zip](https://github.com/jakeday/linux-surface/files/2794711/dsdt.zip)

[2019-01-25 05:43] LuchaoQi commented on #359
Same problem on SP6 (Ubuntu 18.04), hope we could get this done. Btw, really appreciate your work. @jakeday

[2019-01-25 06:04] justinthomas commented on #360
@btearle are you using the Nvidia GPU? I've noticed that the GPU clock is throttled significantly when power is disconnected. You can monitor using `nvidia-smi dmon`.

[2019-01-25 06:40] Norswear commented on #357
Here is the result:
[code]
It seems like we lost the surface 3 's sound card, the rt5645? @jakeday

[2019-01-25 07:07] DolceTriade commented on #365
Hm, I have Arch Linux as well. Perhaps this is a Arch Linux specific problem? Do I need to export the gpios to make the gpio-keys inputs show up?

I used this repo to build the kernel: https://github.com/dmhacker/arch-linux-surface

Attached is the DSDT.
[dsdt.zip](https://github.com/jakeday/linux-surface/files/2794983/dsdt.zip)

[2019-01-25 11:10] RussH commented on #364
Hi @snluu  for moving to wicd, follow this; https://help.ubuntu.com/community/WICD
To move to the new driver, Jake previously commented that we just need to blacklist existing drivers, so create a blacklist file as per below, and reboot
[code]

[2019-01-25 11:14] qzed commented on #365
@JamesBr0wn @DolceTriade The messages for `MSHW0091`/`ssh`/`san` are related to the embedded controller, the buttons are completely independent from that. Unfortunately it sometimes has some hick-ups but if you don't see `communication timed out` more than two times in succession, it should be fine.

I'm on Arch myself (SB2), so it's not directly an Arch problem. I'm currently on a custom compiled

[2019-01-25 12:12] DolceTriade commented on #365
Wow, that worked! I think the surfacepro3_button module is interfering. If I blacklist the surfacepro3_button module from being loaded, then my volume/power buttons work on boot.

Thanks a lot qzed!

I created an entry called buttons.conf in /etc/modprobe.d with:
[code]

Having both stanzas is probably overkill, but whatever. (I had them both because I had a typo initially... and was wondering why

[2019-01-25 12:17] qzed commented on #365
Yeah, seems like it's interfering. There's a check in the button patch that should prevent this from happening, however. Can you do the other steps too and give me a platform revision?

[2019-01-25 13:43] JamesBr0wn commented on #365
During the unloading, no new messages.
After reloading by "modprobe soc_button_array", it shows:
[   55.523896] input: gpio-keys as /devices/platform/gpio-keys.7.auto/input/input53
[   55.524168] input: gpio-keys as /devices/platform/gpio-keys.8.auto/input/input54
@qzed

[2019-01-25 14:10] qzed commented on #365
@JamesBr0wn anything when you unload all modules and then reload `surfacepro3_button`?

[2019-01-25 15:34] jakeday commented on #357
I'll fix it for the next release.

[2019-01-25 15:36] JamesBr0wn commented on #365
As follows:
[   73.845694] ACPI: \: failed to evaluate _DSM (0x1001)
[   73.845844] input: Surface Pro 3/4 Buttons as /devices/LNXSYSTM:00/LNXSYBUS:00/MSHW0040:00/input/input62
[   73.846179] surface_pro3_button MSHW0040:00: Surface Pro 3/4 Buttons [VGBI]

[2019-01-25 18:02] Badorio commented on #357
I'm not sure if it is still necessary, but here is what I have:

`
**** List of PLAYBACK Hardware Devices ****
card 0: Audio [Intel HDMI/DP LPE Audio], device 0: HdmiLpeAudio [Intel HDMI/DP LPE Audio]
  Subdevices: 0/1
  Subdevice #0: subdevice #0
card 0: Audio [Intel HDMI/DP LPE Audio], device 1: HdmiLpeAudio [Intel HDMI/DP LPE Audio]
  Subdevices: 1/1
  Subdevice #0: subdevice #0
card 0: Audio [

[2019-01-25 19:58] alexStrickner00 commented on #364
same problem here with a surface pro 2017

[2019-01-25 20:58] qzed commented on #365
Okay, I can see the same messages on my machine. Interestingly the buttons work for me even when I load `soc_button_array` after `surfacepro3_button`. Is this different for you?

[2019-01-25 21:01] qzed commented on #365
Also these messages shouldn't be there in the first place.

[2019-01-25 21:15] qzed commented on #365
Okay, it seems like the check was wrong, I've fixed it and I'm writing a PR now. I think this should then fix the issue.

[2019-01-26 07:20] DolceTriade opened #369 "Surface Pro 6: Wireless interface disappears and locks up after suspend"
I want to start by saying that this is not like other issues that have been reported before where the WiFi is simply not connected after waking up from suspend. In this case, the wireless interface actually disappears from the list of interfaces that Linux shows. Furthermore, attempts to remove the mwifiex_pcie module hang forever. Lastly, I also cannot shutdown the system successfully because it

[2019-01-26 08:55] hadrienk opened #370 "Question regarding the kernel config file"
I am wondering why is a config file present in the repo? Is it so the the modules added by the patches are enabled?

Regardless, I am wondering if anyone would be interested I making config files tailored for SB that remove useless config options? I am thinking of this mainly to speed up compilation time.

[2019-01-26 15:02] nkkollaw commented on #352
which for those who are wondering means to edit `/etc/modprobe.d/blacklist.conf` as root, and add:

[code]

[2019-01-26 19:02] snluu commented on #364
OK, reporting back. I switched to Ubuntu 18.04 from Fedora 29, and this issue seems to be gone (on a surface pro 4).

On a fresh install + following the steps on this repo. I did put `yes` for switching from suspend to hibernate during the setup and let the script download the latest kernel. Thanks @jakeday. Check you paypal :-)

[2019-01-26 23:21] phunyguy commented on #194
This actually isn't working for me.  I have a self-compiled 4.18.20 kernel with the patches applied, and the surface-acpi module enabled. It still downclocks severely.. What am I doing wrong?

# lsmod | grep surface
surfacepro3_button     16384  0
surface_acpi           36864  0

[2019-01-27 05:15] brendandburns commented on #292
@qzed I just saw this. Send mail to bburns [at] microsoft [dot] com and I'll see if I can connect you with the surface hardware team...

No promises, it's a giant corp and I'm on the Azure side, not the Surface side, but I will try.

(and I run these kernels on my daily driver for my Azure work so... :)

[2019-01-27 12:20] hadrienk commented on #194
I can confirm as well. The output of nvidia-smi shows:

[code]

[2019-01-27 15:35] hadrienk commented on #194
Actually, looking at tear out pictures of the surface book 2 it seems there's only one fan, connected to the cpu and cards via a heat sink.

The result of `sensors` does not report any fan information either. I have tried to trigger the fan on windows but couldn't manage so far. I will give it another go later.

When compiling the linux kernel I've noticed that the frequency on the CPUs throttles

[2019-01-27 16:02] jakeday commented on #303
Quick update, the 4.19 patches are done and working great! I'm building now for the changes to 4.19.18 (I was testing with 4.19.17) and will upload once it's complete this morning!

[2019-01-27 19:26] dmitryam opened #371 "surface 3 non pro video patches are not working"
I tried installing the packages. unfortunately they are not working due to uncompatible video. the system boots only via recovery mode and seems to go to framebuffer mode rather than to i915. the resolution is only 800x600. The stock ubuntu video drivers seem to work.
Other features like battery seem to work

[2019-01-27 19:47] ZZZXXX0110 commented on #369
Probably connected to [https://github.com/jakeday/linux-surface/issues/348](url), also if you're using KDE and latte-dock, you might need to restart latte-dock with "latte-dock -r" in order for the wifi icon to show up, after the network manager get's started by the sleep script.

[2019-01-27 21:49] qzed commented on #194
With regards to the GPU only: Haven't tried it myself yet as I haven't had any time to do so, but [some guy on reddit](https://www.reddit.com/r/SurfaceLinux/comments/ad684r/surface_book_2_is_the_perfect_linux_laptop_thanks/edt26ja) apparently managed to get it working.

[2019-01-27 21:57] qzed commented on #194
@hadrienk With regards to the fans: I'm not sure if they are directly controllable at all. Also it depends on the model (13" vs. 15" and with/without GPU) what fans you have. The 13" has no fan in the clipboard part, which means the CPU is completely passively cooled. If you have a model with a GPU, there's also a fan in the base for that.

On the ACPI side I haven't found anything related to fan

[2019-01-27 22:05] qzed commented on #365
Should be fixed with the 4.19 release.

[2019-01-27 22:05] #365 closed

[2019-01-27 22:10] jakeday commented on #371
You need to add either i915.enable_ipts=0 or i915.enable_guc=0 to your boot command for your device. I added a note to the readme for this.

[2019-01-27 22:10] #371 closed

[2019-01-27 22:11] jakeday commented on #370
I added a config file so you can see how the prebuilt kernel is compiled, as well as compare it for the required modules for your distro. Maintaining a patch was not feasible due to constant changes per minor release.

Also, please ask questions like this on the gitter community.

[2019-01-27 22:11] #370 closed

[2019-01-27 22:39] qzed commented on #292
@brendandburns Awesome, thanks!

Nevertheless much appreciated!

[2019-01-28 02:08] DolceTriade commented on #369
@ZZZXXX0110 Hm, I did look at the issue before posting this one, but it seems different. In this one, the wifi interface literally disappears from Linux and it looks like its because a kernel thread locks up somehow. I'll try to do other things next time I reproduce it. I'll add that it doesn't happen 100% of the time, but maybe 10% of the time.

[2019-01-28 14:47] Norswear commented on #357
EVERYTHING works well in newest 4.19 patched kernel！！！thx very much！（ without running the setup.sh，otherwise the sound will turn to very strange and crackling.）

[2019-01-28 14:48] Norswear commented on #357
EVERYTHING works well in newest 4.19 patched kernel！！！thx very much！（ without running the setup.sh，otherwise the sound will turn to very strange and crackling.） @jakeday

[2019-01-28 15:38] vonAlenberg opened #372 "{Feature Request] Battery management"
@jakeday Looking at all those issues I assume you have a lot to do. However I'd like to ask the following:

_Would it be possible to implement a switch for choosing, which battery gets drained first?_

I always thought both batteries would be used equally, which is already quite uncool. Now I saw this:
![battery-usage](https://user-images.githubusercontent.com/26161253/51846829-ab34d900-231a-11e9-

[2019-01-28 15:50] Scarzer commented on #372
This is a bit weird of a topic but it can be talked about [here](https://docs.microsoft.com/en-us/windows-hardware/drivers/powermeter/software-defined-batteries). I'm not sure how transferrable this would be though :X

Microsoft did some really cool stuff regarding defining multiple batteries in an operating system

[2019-01-28 16:52] jakeday commented on #357
@Norswear Awesome, thanks! The crackling is due to the config files for pulse audio in the repo. I've switched them to be example files and they can be removed in the setup script now too.

[2019-01-28 16:52] #357 closed

[2019-01-28 18:04] RussH commented on #364
Also reporting.. unfortunately still exactly the same on the Surface Pro 3.

[2019-01-28 18:10] jakeday commented on #242
I have this fixed for the next 4.19 kernel. I'll upload it tonight.

[2019-01-28 18:10] #242 closed

[2019-01-28 18:24] snluu commented on #364
@RussH This is just using the default script setup + NetworkManager. Are you still using WICD?

[2019-01-28 18:57] joaocortes opened #373 "Ethernet does not connect, surface dock, surface pro 3, fedora 29"
I am running fedora 29 on a surface pro 3, and I can't get the surface dock ethernet adapter to connect.
I patched the kernel in git://git.kernel.org/pub/scm/linux/kernel/git/jwboyer/fedora.git  4.19.15 release with the 4.19 patches.
The attached file [log_190128.txt](https://github.com/jakeday/linux-surface/files/2804412/log_190128.txt) contains the relevant portion of the system logs.
It seems t

[2019-01-28 21:08] RussH commented on #364
@snluu nope I had network manager with default script. Couldn't get WiFi to survive a suspend/resume cycle as before. If anyone with a SP3 can confirm this is working, I'll happily reinstall from scratch to check.

[2019-01-29 01:30] jakeday commented on #242
The patch has been pushed and the kernel uploaded.

[2019-01-29 02:33] k4ever commented on #31
How do you get the screen to auto rotate on the SP4 in Linux? Is there a script for it? Been Googling for the last 15 minutes and can only find scripts for the SP3. Using jakeday's 4.19.18 kernel in Ubuntu 18.04.

[2019-01-29 05:00] jtsen commented on #346
I'm having a similar issue with SP5. Any help would be appreciated.
uname -r returns: 4.15.0-43-generic.
and "lsmod | grep -i ipts" returned nothing.

[2019-01-29 08:12] fridgecow commented on #31
GNOME 3 has this utility built in, although it occasionally crashes for me (accelerometer stops working?)

On 29 January 2019 02:33:31 GMT, k4ever <notifications@github.com> wrote:

[2019-01-29 14:04] k4ever commented on #31
Is there a script for other desktops or are there other desktops that support this natively? GNOME 3 is a mess. I have it installed and sure rotation works, but everything else is just plain awful! It even somehow breaks Touchegg's tweaks. I would much rather go back to Windows than use GNOME..

[2019-01-29 14:11] fridgecow commented on #31
I believe so - when I search "KDE autorotate" a few things come up. For
lighter DEs I imagine a separate script would be necessary - but one
written for the SP3 is likely to work without much adjustment.

On 29/01/2019 14:05, k4ever wrote:

[2019-01-29 16:19] condemnedmeat opened #374 "Touch and pen issue persists"
#242

I'm sorry to say that despite your hard work, in 4.19.18-2 touch intermittently will crash still. I haven't used the latest kernel for very long but my initial impression is that it is no better or worse than using one of the 4.18.7 kernals I was previously using.

My experience continues to be it most obviously crashes as a result of visiting a site that will load new information as you scr

[2019-01-29 16:27] KatsuoRyuu commented on #303
That's awesome! Will try it on my Gentoo system, I'll update my compile server with the new patches. I'll probably be able to test it all out this weekend

[2019-01-29 17:05] krifisk commented on #303
I upgraded yesterday using the updated patches on sys-kernel/gentoo-sources-4.19.18 and everything is working nicely :)

[2019-01-29 17:32] kitakar5525 commented on #374
Oh... I can still reproduce this issue on SB1. Touch stopped at about 10min browsing on dailymail.co.uk with the display is in portrait orientation. Though I think this is much more stable than before.

And as before, there are no useful logs.

[2019-01-29 18:35] qzed commented on #194
Okay, so I got this working, at least mostly. I am able to run stuff (at least glxgears) on the dGPU via bumblebee and the latest nvidia (official) driver. Seems to run fine, the GPU fan ramps up properly and temps are stable at about 56°C while above 1200fps. If anyone can tell me how I'd go about monitoring the GPU clock, I'd be happy to check that too (same if you got some other good validation

[2019-01-29 18:38] qzed commented on #372
I'm not sure if this is even possible, I haven't found anything in the ACPI related to this. Anyone know if this is possible on windows?

Also if it's possible, then most likely via the surface-acpi module, not sure if we want to move the issue there.

[2019-01-29 18:40] oliverwood93 opened #375 "Updating"
Hi Jake, I installed one of your previous kernels/builds maybe like 2 months ago, how can I go about updating to your new release/update?

Thanks in advance.

[2019-01-29 18:42] qzed commented on #372
@vonAlenberg AFAIK the extra is the battery in the base. The behavior I've observed is it de-charges both batteries until ~80%, after which the clipboard battery stays at ~80% and the base battery de-charges until some threshold. This can also be observed on Windows.

[2019-01-29 19:25] dbranham20 commented on #375
The easiest way to do this, and the way I did it, is by simply going to the [releases](https://github.com/jakeday/linux-surface/releases) page and downloading/installing each of the .deb files on the latest release! They should just open and install within your software manager

[2019-01-29 20:05] #375 closed

[2019-01-30 07:48] dsbrooks commented on #374
Same. Installed the latest kernel and touch crashes after a while

[2019-01-30 09:06] tmarkov commented on #374
I would assume @kitakar5525 was experiencing a different issue on 4.16+ (which I don't think I was, as it wasn't less stable for me), and which Jakeday fixed. But I can again confirm I have reproduced this on the original 4.9 code.

[2019-01-30 10:10] kitakar5525 commented on #374
@tmarkov I think you are right.

We could not set priority to `GUC_CLIENT_PRIORITY_HIGH` in `guc_client_alloc()` on 4.16+, which is fixed on latest commit 1143fca. This change made significant stability for me. (Originally, This change was proposed on [here](https://github.com/jakeday/linux-surface/issues/31#issuecomment-366778166).)

But as you point out, the real problem is in original IPTS code

[2019-01-30 11:13] kitakar5525 commented on #374
By the way, I created IPTS *patch* from original repository [ipts-linux-org/ipts-linux-new](https://github.com/ipts-linux-org/ipts-linux-new) for reference.

- [Original IPTS for v4.9-rc3 in patch form](https://gist.github.com/kitakar5525/afec871899ccd3a682b62046b8c3ace6)

[2019-01-30 11:39] jakeday commented on #374
I'm really going to need some logs for debugging here. I can't reproduce this on an SB1, SB2 or Surface Laptop.

[2019-01-30 13:00] btearle commented on #360
Yep was using the Nvidia GPU. You're right, disconnecting the power immediately pulls the clock down to 139 MHz. Know of any way around this to force it back up to a normal speed?

Everything behaves normally when i switch over to the intel GPU (or if I plug the power back in).

[2019-01-30 14:08] RussH commented on #364
Success!  Back to Network Manager and tried a few things, and it's working.
- I re-enabled IPv6
- I disabled KWallet (I'm on KDE)
- I saved the WPA2 password directly in the 'Wifi-Security' tab of Network Manager.

Looks like this was a KDE issue rather than a jakeday kernel issue :-)

[2019-01-30 17:01] condemnedmeat commented on #374
Here is dmesg. I switched on without the keyboard attached, began browsing. I was reading a twitter feed at the time and I tapped a tweet to look at a still image, touch crashed simultaneously as the tweet was brought up.

20mins has elapsed since the last event before touch crashes and I now attach the keyboard.

[Wed Jan 30 15:50:45 2019] usb 1-7: new full-speed USB device number 3 using xhci_hc

[2019-01-30 22:08] gliitch opened #376 "[FEATURE REQUEST] Porting Windows 10 Onscreen Keyboard"
As the title states, would it be possible to port over the touchscreen keyboard that is found in %ProgramFiles%\Common Files\microsoft shared\ink\TabTip.exe ?

As it is so much easier to use than anything linux has.

Thanks

[2019-01-30 22:15] #376 closed

[2019-01-30 23:32] justinthomas commented on #360
I found a workaround, but I certainly cannot endorse it as I do not know the ramifications. I compiled the kernel from scratch and disabled the ACPI_AC module so that the NVIDIA driver no longer knows when the AC is (dis)connected. It works quite well; the battery indicator still shows whether or not the battery is charging, but it doesn't show that the AC adaptor is connected once the battery is

[2019-01-30 23:52] dsbrooks opened #377 "Battery Indicator not working on Surface Pro 4 after 4.19 update"
After updating to the latest kernel release (4.19) my battery indicator has stopped working when it was working previously. I'm not sure what files you'd need to diagnose this, so please let me know.

[2019-01-31 05:35] tkimmm commented on #68
Hi jakeday and andrew-ws,

Firstly, thank you for the work that you have been doing on this project.

I'm exhibiting very similar issues as andew-ws described

SP2017 running i3 manjaro on 4.18 and tried 4.19 too

I've done several fresh installs trying to troubleshoot and narrowed down the issue to the IPTS drivers/patch is causing the WLAN to crash and no longer be detected as an available conne

[2019-01-31 05:40] tkimmm opened #379 "SP2017 IPTS patches breaks wifi randomly"
Hi jakeday.

Firstly, thank you for the work that you have been doing on this project.

I'm exhibiting very similar issues as andew-ws described https://github.com/jakeday/linux-surface/issues/68

SP2017 running i3 manjaro on 4.18 and tried 4.19 too

I've done several fresh installs trying to troubleshoot. And I suspect the IPTS drivers/patch causing the WLAN to crash and no longer be detected as

[2019-01-31 06:16] tkimmm commented on #379
I've noticed an update to 4.19.18-2 stating "fix touch screen lag and crashing in ipts module".

I think the arch installation instructions are slightly out date https://github.com/dmhacker/arch-linux-surface so I will have an attempt at recreating the configuration sh manually and report back on my results.

[2019-01-31 08:39] #364 closed

[2019-01-31 12:03] jakeday commented on #379
@tkimmm I'm not seeing any correlation between ipts and mwifiex, and your log doesn't suggest it either. It's more likely to be how mwifiex handles deep sleep vs ps_mode in the kernel. I'll push another change to adjust this.

[2019-01-31 12:05] jakeday commented on #374
I'll make some tweaks to the ipts module to address this.

[2019-01-31 12:39] joaocortes commented on #373
I (loosely) followed the instructions on https://medium.com/@zax_myth/installing-fedora-27-linux-on-surface-pro-4-5d5c84f86a15. I got the impression that repeatedly pressing `RET` after calling `make oldconfig` would be enough to effectively use the patched source. Answering `m` (whenever possible) got me a good .config file, which solved the issue

[2019-01-31 12:39] #373 closed

[2019-01-31 15:49] RussH opened #380 "New release 4.19.19-1 breaks wifi after resume on Surface Pro 3"
The latest release https://github.com/jakeday/linux-surface/releases/tag/4.19.19-1 breaks wi-fi after resume. Wi-fi doesn't come back up. Errors below;
` 46.557966] PM: hibernation exit
[   47.309447]  sdb: sdb1
[   56.634574] mwifiex_pcie 0000:01:00.0: mwifiex_cmd_timeout_func: Timeout cmd id = 0x1e, act = 0x0
[   56.634580] mwifiex_pcie 0000:01:00.0: num_data_h2c_failure = 0
[   56.634583] mwifi

[2019-01-31 17:21] jakeday commented on #380
@RussH To be clear, this was happening before the 4.19.19-1 release as well right?

[2019-01-31 17:36] #266 closed

[2019-01-31 17:36] jakeday commented on #270
Can someone please test this with the 4.19.19-1 release? You'll need to run the setup.sh script again.

[2019-01-31 17:38] jakeday commented on #310
This should be working now, and progress is tracked in #270

[2019-01-31 17:38] #310 closed

[2019-01-31 17:39] jakeday commented on #300
Tracked in #316

[2019-01-31 17:39] #300 closed

[2019-01-31 17:40] jakeday commented on #320
This is partially fixed, with the rest being tracked in #270

[2019-01-31 17:40] #320 closed

[2019-01-31 17:40] jakeday commented on #342
Can you please test this in the 4.19.19-1 release? You'll need to run the setup.sh script again.

[2019-01-31 17:47] jakeday commented on #346
@jtsen You're not running the linux-surface kernel. Please install the kernel, run the setup.sh script, and ensure you're booting to the correct kernel.

[2019-01-31 17:48] jakeday commented on #348
Can you test this again with 4.19.19-1? You'll need to run the setup.sh script again.

[2019-01-31 17:48] #362 closed

[2019-01-31 17:52] jtsen commented on #346
@jakeday I successfully installed the newest version of the kernel and everything is working now. Thank you so much! This is awesome.

[2019-01-31 19:41] ZZZXXX0110 commented on #348
Tried 4.19.19-1. Not quite sure what you did but with this version in the /lib/systemd/system-sleep/sleep everything is commented out, and as a result it doesn't even wake up from suspend :/

I tried to get everything uncommented, without changing anything, and this problem is not solved in 4.19.19-1. I still have to do "service network-manager restart" twice as a work around.

[2019-01-31 21:06] RussH commented on #380
No just the latest kernel.. I can boot to your previous one and it's fine.

[2019-01-31 21:36] tmarkov opened #381 "Can't wake up from suspend using lid or power button"
I just installed the latest kernel and I notice that lid and power button don't wake mu SB1 from suspend.
Edit: The system can't wake up at all. Even this fails:
[code]

I do have the appropriate wakeup files in sysfs and they are enabled.
[code]

I had working suspend and wakeup in 4.16. I'll do some testing to check which release breaks it.
Edit: suspend seems to be working in 4.18.20-6, so it's

[2019-01-31 22:12] jakeday commented on #381
@tmarkov I'm curious, what happens if you use the same latest kernel but go back to the older /lib/systemd/system-sleep/sleep script?

[2019-01-31 22:16] jakeday commented on #380
@RussH I meant to mark it as pre-release, which I just did. This is due to the suspend/resume functionality I'm working on for intel_ipts and mwifiex modules. I'm hoping to finish them soon, but you should be able to just restore the old copy of the /lib/systemd/system-sleep/sleep script to get it working again.

[2019-01-31 22:19] tkimmm commented on #379
Thanks for the feedback @jakeday, I ended up doing anoter fresh install with 4.18.

And (knock on wood) have yet to see the Wifi die, not entirely sure why and frustrating that I can't reproduce, the only discerning difference from before to now were the recent patch updates before installing the build files.

I suppose the only lesson learnt was that the compilation instructions for Arch based di

[2019-01-31 22:33] tmarkov commented on #381
@jakeday  Indeed, if I remove the ipts modules before suspend, SB wakes up normally. If I don't, it doesn't wake up.

[2019-01-31 22:43] jakeday commented on #381
@tmarkov That's perfect, actually. I was pretty sure that's what it was. I'm still working on finishing up the suspend/resume of the ipts module so we can handle this properly. Thanks for testing!

[2019-01-31 22:48] RussH commented on #380
Sorry! Entirely down to my mistake then!

[2019-01-31 22:48] #380 closed

[2019-02-01 01:56] tgm4883 commented on #279
This isn't a kernel issue (the reason it still shows up when using the script to only install the kernel is that the script installs other things without prompting the user), I've been able to narrow it down to an issue with the udev rule (although an odd one if you ask me) for the keyboard covers. Specifically, this line

https://github.com/jakeday/linux-surface/blob/master/root/etc/udev/rules.d/

[2019-02-01 09:04] sphh commented on #316
Just a thought: Have you updated the firmware of the dock to the latest version? I had a similar problem with my Surface Pro 2017: Ethernet was working, but the external monitor was somewhat unreliable:

- Mini DisplayPort to DisplayPort did not work.
- I got a picture with a Mini DisplayPort to HDMI adapter. Adapter for 1280x1024 worked. Another adapter for 4096x2160 30Hz worked. Because of obvio

[2019-02-01 10:35] mjakl commented on #270
I tried the kernel using the Arch repo (updated recently) and I ran the setup.sh.

I'm running a SB2 15'' and Hibernate is only able to resume into X when I disable the Touchscreen (still). Resume works in principle (to the console), but X is broken. I haven't played with removing and installing the modules after resume, though.

Though, I'm getting new errors on startup:

[code]

I'm not sure whe

[2019-02-01 11:08] tkimmm commented on #379
Ok, it broke again.

I was doing all my work in a vm so it wasn’t due to changing a system setting. The only feedback I can give is that when working on the Ethernet connection then dropping to wifi seemed to be fine. However working without a previously recognised Ethernet causes the network manager to fail and doesn’t recognise network connections.

Resetting network manager and nm-applet doesn’

[2019-02-01 16:39] tmarkov commented on #270
I did a bunch of power cycles (pci remove/rescan), and some suspend/resumes, and it seems the issue is resolved :). I'd wait a few more days to be sure, as in the past I couldn't reproduce it very reliably, but I'm very optimistic.

[2019-02-02 19:38] tkimmm commented on #379
So after googling around and testing I'm coming up to the fourth hour without a wifi drop/crash. All credits to  PJ_Julius in this comment https://bugs.launchpad.net/ubuntu/+source/linux/+bug/1730924/comments/101

I tried a few other solutions (adjusting NetworkManager.conf, soft unblocking/blocking etc)  without result. It seems ASPM doesn't seem to play nice with the wifi card, causing dropping

[2019-02-03 03:14] dsbrooks commented on #377
After much fiddling, this turned out to be a bad power adapter cable! Will close.

[2019-02-03 03:14] #377 closed

[2019-02-03 21:19] Catley94 commented on #342
Just installed, will let you know!

However just had an odd experience, shut the screen after installing the kernel and rebooting (did this to turn it to standby, and it will not turn on at all. I pressed keyboard keys, the power button, moving the mouse. Had to end up holding the power button and volume up key on the head of the surface book 2 to force restart it. However, I will monitor this.

[2019-02-04 12:36] jakeday commented on #374
Can you test this with the latest 4.19.19 kernel?

[2019-02-05 13:51] kitakar5525 commented on #374
This issue is still happening for me. And I am not sure if the commit a3a3ed3 changed the situation.

[2019-02-05 17:26] condemnedmeat commented on #374
Yes is crashing still. It is difficult to say it is better or worse.

Some additional info is that as has been mentioned before and is worth mentioning again is that rotating the screen often kicks touch into working. Here is dmesg in that eventuality, where the previous event 15 minutes before is omitted as irrelevant.

[Tue Feb  5 03:34:42 2019] ipts mei::3e8d0870-271a-4208-8eb5-9acb9402ae04:0F:

[2019-02-06 11:28] benob opened #385 "Surface Go doesn't disable touchpad while typing"
This is an issue and its solution.

When using libinput (for instance with archlinux/gnome), the surface type cover of the surface go is not detected as an external nor internal touchpad. This results in the touchpad not being associated with the keyboard for the "disable touchpad while typing" feature.

After some research, libinput can be given a quirk to force the type of touchpad:
Create a fil

[2019-02-06 14:21] bassjacob commented on #250
I can confirm that [rm1138's patch](https://github.com/jakeday/linux-surface/issues/250#issuecomment-450741197) works, even when applied to the file at `/etc/udev/rules.d/98-keyboardscovers.rules` and not to the file in the kernel source.

while using the latest stable kernel, I applied that patch the file in `/etc` and rebooted and all seems to be working

[2019-02-06 17:28] condemnedmeat commented on #374
Touch crashing for those who can't repeat it. Note the flickering prior to crashing. Touch usually crashes for me while simultaneously interpreting I have clicked on something which I definitely haven't. In this case an image is brought up but it could otherwise be a link taking me away from the page I'm on.

https://vimeo.com/315696472

[2019-02-07 16:01] dbranham20 commented on #346
Any luck with this? Need anything else as far as logs or testing goes?

[2019-02-07 23:13] AnMaillard opened #386 "Touchscreen not working at all on SB2 (arch)"
Hi,
  I have a new SB2 on wich I recently installed arch on dual boot with windows. I installed the kernel but I still can't manage to get the touchscreen detected. I am using Gnome (with wayland), and intel_ipts is listed by lsmod, however xinput --list does not recognize the touchscreen :

[code]

Am I missing something ? Thanks a lot for your help !

[2019-02-08 02:12] jakeday commented on #386
I don't maintain or test the arch packages, so I can't say whether or not they are causing an issue. However, can you let me know what uname -r says, as well as the output of running setup.sh?

[2019-02-08 02:30] AnMaillard commented on #386
I actually installed an ubuntu in the end, and here the touchscreen works out of the box with the script ! I juste have one question : when I detach the screen and rotate it, the touchscreen doesn't rotate, basically if I rotate it by 180 degrees, drawing on the bottom of the screen will draw on the top of the screen : is it a known issue ? In any case, thank you so much for having made this !

[2019-02-08 12:01] jakeday commented on #385
@benob Can you please retest this with the latest 4.19.20-1 kernel?

[2019-02-08 12:02] jakeday commented on #386
@AnMaillard You need to install the patched libwacom package (included in this repo) for that to work.

[2019-02-08 12:02] #386 closed

[2019-02-08 12:03] jakeday commented on #379
@tkimmm Can you test the latest 4.19.20-1 kernel without that workaround?

[2019-02-08 12:03] #379 closed

[2019-02-08 12:04] chambln commented on #386
I have this problem too on Arch. Surface Pro 2017 model.

    $ uname -r
    4.19.19-1-surface

I compiled the kernel following [dmhacker's repo](https://github.com/dmhacker/arch-linux-surface) and installed with `sudo pacman -U linux-surface-*.tar.xz`. I then tried his pre-compiled version but still it doesn't work.

[2019-02-08 12:05] jakeday commented on #372
From what I've noticed, this behaves the same way as Windows and it's as designed. I don't think we should change this even if we could.

[2019-02-08 12:05] #372 closed

[2019-02-08 12:06] jakeday commented on #352
Has anyone tested this?

[2019-02-08 12:10] jakeday commented on #270
This is resolved in 4.19.20-1 based on feedback received.

[2019-02-08 12:10] #270 closed

[2019-02-08 12:11] #327 closed

[2019-02-08 12:12] jakeday commented on #374
Can you give this a try with 4.19.20-1? I'm curious is cleaning up some things helped with this.

[2019-02-08 12:19] jakeday commented on #346
@dbranham20 Can you get me the output of these two commands?

sudo dmidecode

ls sys/bus/acpi/devices

[2019-02-08 12:24] sergiusens commented on #352
I have, I do not have better dmesg output that I was looking at while running, this is what I got when trying to reboot (same messages, the capture method is just precarious)

![dsc_2598](https://user-images.githubusercontent.com/1146853/52478168-47fd3f00-2b83-11e9-986f-11a8635fef1d.JPG)

This is with `4.19.18-surface-linux-surface`

[2019-02-08 14:29] condemnedmeat commented on #374
Used just under 1 1/2 hrs. By comparison, less flickering. Still crashed. I'll need to keep using it to judge how much better it works on that other site that regularly crashed touch.

[2019-02-08 14:40] dbranham20 commented on #346
Here you go!

[devices.txt](https://github.com/jakeday/linux-surface/files/2845508/ls.txt)
[dmi.txt](https://github.com/jakeday/linux-surface/files/2845509/dmi.txt)

[2019-02-08 14:47] jakeday commented on #346
Perfect, I'll have this fixed over lunch today!

[2019-02-08 15:09] kitakar5525 commented on #374
Setting touch mode to ”single touch” twice can fix touch input into ”single touch” mode, and then setting touch mode to ”multi touches” once can fix touch input into ”multi touches” mode.

[code]

If you want to automate it, you need about 0.5 sec sleep:

[code]

Below 2 cases do not fix touch input.

[code]

[code]

[2019-02-08 17:17] jakeday commented on #346
Make sure you are on the latest kernel, and run the updated setup.sh script and you should be good to go!

[2019-02-08 17:29] jakeday commented on #381
@tmarkov This is fixed with the latest kernel and latest setup.sh script.

[2019-02-08 17:29] #381 closed

[2019-02-08 17:31] jakeday commented on #369
@DolceTriade Can you try this again with the latest kernel and setup.sh script?

[2019-02-08 20:43] MaxBanister commented on #346
Do I have the same problem? Here are the output of those two commands:

[devices.txt](https://github.com/jakeday/linux-surface/files/2846781/devices.txt)
[dmidecode.txt](https://github.com/jakeday/linux-surface/files/2846783/dmidecode.txt)

[2019-02-08 21:58] jakeday commented on #346
@MaxBanister Yep!

[2019-02-09 00:13] DolceTriade commented on #369
Yes, I haven't tried this recently, but I've had a 100% repro rate when I hibernate to disk.

[2019-02-10 17:09] nkkollaw commented on #352
I did. Wifi stops working completely here. I un-blacklisted the modules and it works again.

[2019-02-10 18:04] sergiusens commented on #352
FWIW, I went ahead and blacklisted the the new module and now have speeds comparable to my other devices.

[2019-02-10 19:38] nkkollaw commented on #352
@sergiusens : you mean you blacklisted `mwlwifi`..? It's not enabled by default on my machine.

[2019-02-10 20:54] #346 closed

[2019-02-10 22:08] dbranham20 commented on #346
Installed the latest kernel and ran the setup script (said no to all of the options) and everything works great! Thanks

[2019-02-10 22:10] jakeday commented on #346
Awesome, thanks for confirming!

[2019-02-11 08:00] natask opened #387 "mod-able driver for surface pen"
any plans for a good driver for surface pen that handles side buttons?

[2019-02-11 13:25] kitakar5525 opened #388 "ipts: commit 5b7dd5a breaks screen lock on GNOME from resuming"
After the commit https://github.com/jakeday/linux-surface/commit/5b7dd5a7a9967c34f04c7108f5c7fbe326e261e2, my SB1 is not usable after screen lock on GNOME. `xset dpms force off` is not affected by this issue.

I understand this is still work-in-progress. Until this is done, I revert the commit like this:

[code]

#### How to reproduce

- `sudo su -c "echo 'screen lock on GNOME' > /dev/kmsg"; dbus-

[2019-02-11 15:18] kitakar5525 commented on #388
journalctl output from kernel 4.19 with non-modified [0005-ipts.patch](https://github.com/jakeday/linux-surface/blob/5b7dd5a7a9967c34f04c7108f5c7fbe326e261e2/patches/4.19/0005-ipts.patch).

[code]

[2019-02-11 17:35] jcklpe commented on #360
Hey guys. Sorry to butt in. I was just wondering what ya'll's experience running Linux on your surface books has been like? I checked in a couple of months ago thinking about switching and I read that everything worked except the Nvidia gpu. Is that still true? I intend to use the machine to do graphic intensive stuff like 3d modeling and vr and I wanted to see if that was possible yet.

[2019-02-11 21:31] tmarkov commented on #387
The side button on my pen is being detected as is, it's just that it detects middle click rather than right click. Perhaps there is a way to configure that?

[2019-02-11 22:52] natask commented on #387
I have the old surface pen with two side buttons. one of them works for me on xorg too. it is mapped as middle click as you said. interestingly, the other also works on wayland, although I don't know what button it simulates (tested in stylus labs). wayland has it's own drivers for the pen.

[2019-02-12 01:15] tkimmm commented on #379
Sure, have disabled on 4.19.20 and will let you know how it goes

[2019-02-12 10:27] RussH opened #389 "Pen not detected under Wayland"
I have the old surface pen with two side buttons. one of them works for me on xorg too. it is mapped as middle click as you said. interestingly, the other also works on wayland, although I don't know what button it simulates (tested in stylus labs). wayland has it's own drivers for the pen.

_Originally posted by @natask in https://github.com/jakeday/linux-surface/issues/387#issuecomment-462527395

[2019-02-12 16:42] nathanielhobbs commented on #96
I am running into a similar issue after trying to upgrade to the latest kernel.

Can you offer any resources for how to update the patch files for dkms?  I've done some googling, but feel a little out of my depth and am not sure how to go about doing this.

[2019-02-13 03:29] karthikeyaparunandi opened #391 "very slow shutdown"
Hi,
Whenever I shutdown Ubuntu 16.04 on my surface book-2, it takes a long time to shut down. Apart from that, the light dims away in about 30 seconds giving an impression that it is actually shut down. However, when I place it in my bag with lid closed, I feel the heat on my back and upon opening the lid, I find that it is not shut down yet. Is there something I can do to fix this problem? Or in

[2019-02-13 05:29] natask commented on #389
when I run xinput on wayland, I get wayland-stylus:15, wayland-eraser:15, wayland-keyboard:15 and so on as devices recognized by Wayland. I conjecture that these are all supported natively on Wayland through some driver. I am running ubuntu 18.04 if that makes any difference.

[2019-02-13 13:46] didibaba commented on #96
Hi @nathanielhobbs,

Please first try update linux kernel to 4.15 and install the latest linux-surface kernel. Using 'apt-get' to install the nvidia driver with version 396. I have also tried version 410 and 415, but my SB2 would suddenly crash and shut down. No idea about this so far.

Hope this will  help. ;-)

[2019-02-13 15:25] mace07 commented on #354
Confirming same issue with SL1, newest kernel. Hiss will occur during boot for a few seconds and end with a pop. Will intermittently occur again when booted and logged in. I've found that just starting to play an mp3 file will produce the pop and stop the hissing, until it occurs again.

[2019-02-13 20:15] Soundwubz opened #392 "[Surface 3] ACPI Errors after signing 4.19.20-surface-linux-surface Kernel"
After following all of the instructions in the readme to install the 4.19.20 surface kernel on my Surface 3 (non-pro), I moved onto following the instructions for signing the kernel. Everything worked up until rebooting after updating grub for the new signed kernels. Now I cannot get to grub at all and a ton of ACPI errors are thrown. Please advise. See image below:
![img_1933](https://user-images

[2019-02-13 21:00] RDRichardson opened #393 "Surface Pro 6 Touch not working MINT 19.1 and UBUNTU 18.04 USB Boot"
I have tried to boot from USB for both UBUNTU 18.04 and MINT 19.1.  The tablet boots, but none of the touch functions work.

[2019-02-13 22:13] nathanielhobbs commented on #96
@didibaba Thanks for the info!  I am currently running jakeday kernel 4.18.16 with nvidia driver version 390.  That works for the machine learning tasks I'm working on (cuda, cudnn, everything works without any gpu under-clocking issues).

Am I to understand you are recommending booting into the standard linux kernel, updating it to version 4.15, rebooting into that version, and then installing th

[2019-02-14 00:07] HongorBat commented on #5
one stupid question so i want to use mint linux. can i install kernel and all the stuff from here to make my keyboard work in mint linux  or do i have to use ubuntu?

[2019-02-14 03:01] RoyCao1995 opened #394 "Can you publish a complete surface installation package directly?"
My device is new surface pro. I'm a novice and I can't operate by readme.
thank you！

[2019-02-14 04:10] versipellis commented on #394
I'm confused.. how much more complete of a package than running a single setup.sh file can you get?

[2019-02-14 09:53] niiku commented on #5
@HongorBat Linux Mint is based on Ubuntu. And Ubuntu is based on Debian. The provided kernel should work for any Debian based distro. So yes, you can apply this kernel to Linux Mint and your keyboard should work afterwards.

[2019-02-14 11:00] tmarkov commented on #391
You can press escape during shutdown. This will drop you to terminal that will show what's going on with the shutdown and if something is blocking it. Alternatively, after the reboot you can look at the last messages of the previous boot syslog:
`journalctl --boot=-1`
Or you can post the log here.

[2019-02-14 11:29] didibaba commented on #96
Hi @nathanielhobbs,

You can uninstall the old NV driver. Reboot to the standard Linux kernel and update it. Install the jakeday kernel. Using APT get to install the new nv driver.

[2019-02-14 12:22] jakeday commented on #393
@RDRichardson You are installing this kernel and running the setup.sh script after installing your distro, right? What does "uname -r" return?

[2019-02-14 12:23] jakeday commented on #394
@RoyCao1995 I don't understand either. You just need to run the setup.sh script. I won't be making a package that can be installed for all the configs as it varies from system to system.

[2019-02-14 12:23] #394 closed

[2019-02-14 16:33] RDRichardson commented on #393
Jake,

I am entirely new to loading Linux unto a dual-boot device, such as Surface Pro 6.  My application software currently runs on MINT 17 a PC.  I want to port it to a tablet running one of the latest versions:  either MINT 19.1 or UBUNTU 18.04.  I targeted the Surface Pro 6 based on my studies of what people say have successfully run Linux.  Initially I want to test with a USB boot to verify e

[2019-02-14 23:15] HongorBat commented on #5
Okay thanks a lot. How about manjaro linux?

[2019-02-14 23:16] ighorn1 commented on #392
Hi I have the same problem I tried to add acpi=off and now I have blank screen, the Ubuntu is not starting

[2019-02-14 23:21] niiku commented on #5
Manjaro is based on Arch. Here's a repository providing this kernel pre-build for Arch Linux.
https://github.com/dmhacker/arch-linux-surface

[2019-02-15 08:43] tmarkov commented on #393
The official USB doesn't have touch, and if you installed it, you won't have touch out of the box, and the wifi will fail frequently, necessitating restart to use it again. To fix those you'll need to install the custom kernel and firmware from this repo. But right now you can't just test, you'll need to take a leap of faith, install everything, and then find out if the system is good enough for y

[2019-02-15 19:33] omnicons commented on #360
They added proper support for the GPU recently, yes.

[2019-02-15 22:52] jcklpe commented on #360
Full full support with no throttling? That's great news!

[2019-02-16 02:12] Piscean commented on #5
It works great with mint.

[2019-02-16 18:20] jakeday commented on #393
@RDRichardson As mentioned, the live linux distros do not ship with this custom kernel. You'll need to install the distro then install this kernel for it to work.

[2019-02-16 18:20] #393 closed

[2019-02-16 20:16] jakeday commented on #388
Fixed in 4.19.23-1.

[2019-02-16 20:16] #388 closed

[2019-02-16 20:19] jakeday commented on #354
Can someone please test this on 4.19.23-1?

[2019-02-17 02:47] gloveboxes commented on #354
Hey there , hiss on startup and login on Surface Laptop 2 still there...

[2019-02-17 06:35] ZZZXXX0110 opened #395 "GPU hang caused by IPTS after hibernation"
After resume from hibernation, the screen is very slow and shortly it freezes, dmesg shows the following:

[code]

Device: Surface Pro 6
OS: Kubuntu 18.10
Problem occurred on both version 4.19.20-1 and version 4.19.23-1.

Perhaps a regression of this older problem?
https://github.com/jakeday/linux-surface/issues/310

[2019-02-17 06:41] ZZZXXX0110 commented on #395
On installing the custom kernel, I selected "no" for "replacing suspend with hibernation", as suspend works perfectly fine. Did I perhaps missed any hibernation script because of that?

I also tried to manually create a script in /lib/systemd/system-sleep to remove ipts module before hibernate and reinsert it after recover, but still get the same problem with the same error messages.

[2019-02-17 07:51] rwx777 commented on #354
Surface Laptop 1, just install 4.19.23-1, still hissing. Should I give the log file or something? maybe it will help.

[2019-02-17 19:15] ZZZXXX0110 commented on #395
And just as mentioned in the older bug report https://github.com/jakeday/linux-surface/issues/310, adding "i915.enable_guc=" to 0 or 2 in grub allows to recover from hibernation normally without freeze, but this boot parameter prevents the touch screen from working.

[2019-02-17 19:22] condemnedmeat commented on #374
Issue persists in yesterday's release, probably no better or worse.

[2019-02-17 20:38] ZZZXXX0110 commented on #395
Also, hibernate worked normally for a few times without freezing, and then subsequent hibernation starts to cause freezing every time.

[2019-02-17 21:09] tmarkov commented on #352
I also have slow wifi on Surface book (1). Here's a newtwork speed history when downloading a large file:
![network_history](https://user-images.githubusercontent.com/14000949/52919240-dc486e00-3308-11e9-8799-c72cbb54af45.png)

I tried using mwlwifi. I can connect to wifi, but the whose system freezes before I even manage to open speedtest.net and requires hard restart.

I'm using Debian Testing.

[2019-02-17 21:29] tmarkov commented on #352
It is indeed much more stable after adding mwlwifi to /etc/modprobe.d/blacklist.conf (which, on my system, did get loaded automatically, even though it was using mwifiex):

![net-history2](https://user-images.githubusercontent.com/14000949/52919511-cc7e5900-330b-11e9-8356-c258774751e1.png)

[2019-02-17 22:29] nkkollaw commented on #352
I don't get why on my machine I cannot get rid of this problem.

I guess I should do a clean install... :-/

On Sun, Feb 17, 2019, 22:29 tmarkov <notifications@github.com> wrote:

--
Niccolo.

[2019-02-17 23:35] xttjsn opened #396 "Automatic wakeup from both hibernate and suspend"
I am having automatic wake up (around 10-20 seconds) after `sudo systemctl hibernate` and `sudo systemctl suspend` as well as just closing the lid. I have followed #183 and called `echo XHC > /proc/acpi/wakeup`, but my surface book will still wake up automatically.

Here's [journal.txt](https://github.com/jakeday/linux-surface/files/2873539/journal.txt) and my [/proc/acpi/wakeup](https://github.co

[2019-02-18 01:57] ZZZXXX0110 commented on #395
I manually added /lib/systemd/system-sleep/hibernate script from the repo, modified to make it only run before and after hibernation but not with suspend, but still get the same freezing problem after hibernation.

[2019-02-18 10:13] tmarkov commented on #396
What distro and desktop environment are you using? That happened to me on Ubuntu with Unity, and I was unable to fix it, but hasn't been a problem with Debian or Ubuntu Gnome.

[2019-02-18 12:18] SoleSensei commented on #354
@jakeday
Tested. Surface Laptop. Hissing on boot.

[2019-02-18 12:29] kitakar5525 commented on #369
From the comment on Ubuntu launchpad
- [Comment #99 : Bug #1730924 “Wifi does down “crash” in Surface Pro 4” : Bugs : linux package : Ubuntu](https://bugs.launchpad.net/ubuntu/+source/linux/+bug/1730924/comments/99)

We can avoid this type of lockup if we disable dump and reset:

[code]

[2019-02-18 12:56] kitakar5525 commented on #369
And for crashing after suspend itself, I found a way to reset wifi card using [acpi_call](https://github.com/mkottman/acpi_call).

`RP12` and `00:1d.3` can be different from device to device.

[code]

`00:1d.3` is PCI bridge connected by Wi-Fi card.

[code]

DSDT of SB1 about `RP12` is:

[code]

[2019-02-18 13:06] kitakar5525 commented on #369
Or simply disable d3cold for Wi-Fi and remove/reload `mwifiex_pcie` module after suspend works for SB1.
However, I think it is not power-efficient to disable D3 state.

[code]

[code]

[code]

[2019-02-18 13:54] kitakar5525 commented on #369
Of course, we can disable D3 state of Wi-Fi card by kernel side. but I don't like to do so because I observed higher power consumption during suspend. I prefer to reset the Wi-Fi card by `acpi_call` for now.

[code]
(This example has another problem; applies quirk to all Marvell Wi-Fi 88W8897 card, even to devices which are not affected by this issue like Surface 3.)

[2019-02-18 14:26] kitakar5525 opened #397 "surface3-power: Newer version available"
Hi! Firstly, thank you for supporting even Surface 3.

There is an updated version of battery status reading module for Surface 3 available. I tested this module with all the other patches in your repository and it is working with no problem on 4.19.

- [[v3] platform/x86: surface3_power: MSHW0011 rev-eng implementation - Patchwork](https://patchwork.kernel.org/patch/10584079/)

[2019-02-18 15:12] kitakar5525 commented on #123
Sorry to comment on an old closed issue, but I want to share my update.

I wrote my findings here:
- [NVMe SSD not working after s2idle](https://github.com/kitakar5525/note-linux-on-surface-book-1#nvme-ssd-not-working-after-s2idle)

#### summary

I made two patches to fix suspend by kernel side. These patches fix resume from suspend by not allow that NVMe disk to enter D3 state and then, improve p

[2019-02-18 15:50] kitakar5525 commented on #123
Just sharing the findings, I don't make a PR because I'm not sure I'm doing the right thing🤔

[2019-02-18 17:27] kalenpw commented on #392
Having the same issue on my Surface 3. You should still be able to access grub by tapping esc during boot until grub appears then go to advanced options and select a different kernel

[2019-02-18 19:54] jakeday commented on #397
Updated, thank you!

[2019-02-18 19:54] #397 closed

[2019-02-18 19:54] jakeday commented on #391
This should be fixed in the latest release.

[2019-02-18 19:54] #391 closed

[2019-02-18 19:55] jakeday commented on #396
Suspend should work better with the latest kernel. Can you give it a try?

[2019-02-18 21:35] versipellis commented on #396
@jakeday Are you recommending using hibernate or suspend with your kernel these days?

[2019-02-18 22:32] ighorn1 commented on #392
Thank you gor you answer, the jakeday surface kernel is not working on surface 3 non pro

[2019-02-19 00:03] DolceTriade commented on #369
Excellent comments! This doesn't happen very often with me for the new kernel when I close the lid (this used to happen like 25% of the time on the old build) but suspend to ram and suspend to disk appear broken for me on the new kernel. Since I don't see any new regressions related to this, I assumed this was a "me" problem. I've been trying to fix it whenever I get a chance but haven't had much

[2019-02-19 08:41] RevMadamsPlus commented on #392
This really needs reopening. This is still the case with the latest kernel. There is a workaround posted to enable boot with the latest kernel but still leaves non-pro Suface 3 users with a huge boot delay. Can this be addressed? Everything else except some sound issues seems to be working (ok so cameras like everyone else) .......?

[2019-02-19 09:09] DolceTriade commented on #369
Ok, I upgraded again to 4.19.23 and that appeared to fix suspend and hibernate and I haven't been able to reproduce the wifi locking up. I'll close this now. Thanks!

[2019-02-19 09:09] #369 closed

[2019-02-19 11:19] kitakar5525 commented on #369
Sorry, maybe I said the wrong thing. I can reset Wi-Fi card just removing the PCI bridge which is connected by Wi-Fi card and then, rescan the PCI devices. No need to use `acpi_call`.

[code]

(Current `/lib/systemd/system-sleep/sleep` in this repo does not work for my Surface Book with Performance Base, too.)

[2019-02-19 13:21] Soundwubz commented on #392
I had closed the issue thinking that there would not be much support for the non pro Surface 3, but apparently I was wrong lol. By default, installing Ubuntu 18.04, leaves me without a sound output device and no battery indicator. I really want to see the Surface 3 get some decent support for once.

[2019-02-19 15:13] jakeday commented on #396
@versipellis Suspend. I should probably update the setup.sh script.

[2019-02-19 15:16] jakeday commented on #348
Can you try with the latest 4.19.23-2 and latest setup.sh script? Use suspend as well.

[2019-02-19 16:48] RevMadamsPlus commented on #392
There is a solution to the sound issue. Sound is there. This worked for me - install pavucontrol. Open it in terminal. It will say at first that it can't connect to Pulseaudio. Wait a bit..... it will. Maybe reboot a couple of times and try again. After it connects..... go to Settings/Sound and what was blank before should now be populated. What seems to be happening is that Sound defaults to Inte

[2019-02-19 16:49] RevMadamsPlus commented on #392
Now we just need the ACPI errors fixing...... anyone?

[2019-02-19 17:43] markfromarch commented on #306
Which files / logs do you need? I would really love to get the LTE going.

Thank you!!!

[2019-02-19 18:15] Soundwubz commented on #392
I've gotten the sound to work after running pavucontrol, however after reboots and logging out and back in, the sound always breaks again. I haven't been able to find any issues that reference re configuring files. Could I get a link to an issue

[2019-02-19 18:27] Soundwubz commented on #392
It seems that the only way to solve the little issues with the Ubuntu, like the audio and battery indicator. There needs to be a workaround for the ACPI errors so that the Surface 3 can boot this kernel.

[2019-02-19 18:27] RevMadamsPlus commented on #392
Yes, well, just happen to be here playing about. It does keep breaking..... but hey the sound works! OK so when you reboot and it doesn't work, are you logging into Ubuntu or 'Ubuntu Wayland'? I just booted up - autologin - and no sound. I logged out (just Ubuntu) and logged immediately back in, but to 'Ubuntu Wayland' and hey presto - sound. How are you testing sound? The Speaker Test in Settings

[2019-02-19 18:30] RevMadamsPlus commented on #392
PS my battery indicator works fine...... but I'm booting the latest kernel despite ACPI errors.

[2019-02-19 18:37] RevMadamsPlus commented on #392
This is one edit that helped keep sound alive
**sudo gedit /etc/pulse/default.pa**  and put this (or edit existing entry) ate the end of the file, and save;
**set-default-sink output 1**
I think it help because the HDMI output is entry 0 and so the default.

[2019-02-19 18:42] RevMadamsPlus commented on #392
To boot the latest kernel and not be stopped by the ACPI errors do this;
**sudo gedit /etc/default/grub**
and add this or edit existing entry;
**GRUB_CMDLINE_LINUX="i915.enable_guc=0"**
I knew I'd find it somewhere - this may get your battery indicator running!

[2019-02-19 18:44] Soundwubz commented on #392
I'll have to test this out later tonight. Been working on this over my lunch break lol. Will report my results tonight.

[2019-02-19 18:48] RevMadamsPlus commented on #392
I'm in Spain eating chocolate coated peanuts and drinking whisky in front of a log fire! Going offline now - catch up tomorrow. Good luck!

[2019-02-19 18:53] ZZZXXX0110 commented on #348
Tried the latest 4.19.23-2, still getting the same problem after suspend with /lib/systemd/system-sleep/sleep as is. Doing "service networkmanager restart" twice after resume still works as a workaround.

[2019-02-19 19:03] ZZZXXX0110 commented on #395
Problem still present on latest version 4.19.23-2.

[2019-02-19 19:09] RevMadamsPlus commented on #392
Aaargh - couldn't resist trying one more thing -
**sudo gedit /etc/pulse/client.conf**
Set the bottom of the file to read like this - NOT THE WHOLE FILE - just from default-sink;

default-sink = 1
; default-source =
; default-server =
; default-dbus-server =
; autospawn = yes
; daemon-binary = /usr/bin/pulseaudio
;extra-arguments = --log-target=syslog
; cookie-file =
; enable-shm = yes
; shm-size-

[2019-02-19 19:13] ighorn1 commented on #392
Hi thanks

This worked fine for me thank you

[2019-02-19 19:29] kalenpw commented on #392
Adding i915.enable_guc=0 I can now boot on 4.19.20, but I still don't have a working battery indicator. Any other ideas that might do it?

[2019-02-19 19:50] RevMadamsPlus commented on #392
Mmm .... Look guys I'm no Linux programmer - I feed off the skill of the good guys here and am grateful for there amazing input..... but while I'm here......
I assume you have Surface 3 non pro....
Are you running Ubuntu (not Xubuntu, Lubuntu, etc?)
Did you use the setup.sh to download and run the latest kernel?
I said 'no' to each option as it ran......
I did the above fixes to boot it and immedi

[2019-02-20 02:31] commandermoon opened #398 "Screen tearing when in portrait mode"
Hey Jakeday,

I found an issue with excessive screen tearing when scrolling in portrait mode. Tried multiple apps (PDF viewer, browsers, text heavy, image heavy) and the issue persists. Entire columns of pixels become desynced from the rest of the page and will lag behind any scrolling. Rotation also takes quite long (~3s) to switch. Pull the latest commit, ran setup.sh, and rebooted just before p

[2019-02-20 03:02] commandermoon commented on #398
On an SP6.

[2019-02-20 13:26] kitakar5525 commented on #392
- Distribution: Arch Linux

#### sound issue
I'm curious. I have my Surface 3 sound working out-of-the-box on Arch Linux kernel 4.19.23. Maybe PulseAudio config issue or kernel config issue?

- [Arch Linux PulseAudio configs](https://github.com/kitakar5525/note-linux-on-surface-3/tree/master/etc/pulse)
- [Arch Linux kernel config](https://github.com/kitakar5525/arch-kernel-linux-lts419-surface/blo

[2019-02-20 16:59] selleronom commented on #395
I have the same issue

[2019-02-20 17:53] tmarkov commented on #352
Well, it's more stable for me since I blacklisted mwlwifi, but I still have problems sometimes, like

64 bytes from 8.8.8.8: icmp_seq=2 ttl=122 time=4205.764 ms
64 bytes from 8.8.8.8: icmp_seq=3 ttl=122 time=3204.652 ms
64 bytes from 8.8.8.8: icmp_seq=4 ttl=122 time=2203.656 ms
64 bytes from 8.8.8.8: icmp_seq=5 ttl=122 time=1202.661 ms
64 bytes from 8.8.8.8: icmp_seq=6 ttl=122 time=202.232 ms
64 b

[2019-02-20 18:21] Soundwubz commented on #392
After trying this out and installing the surface-linux kernel, I was able to boot to the kernel with no hitches. Sound and the battery indicator work out of the box with the surface-linux kernel. So, although there is no "official support" from this kernel, I've encountered no issues so far. Since this seems to solve the booting issue, I'm going to close this issue. Thanks very much for the help!

[2019-02-20 18:21] #392 closed

[2019-02-20 18:29] ZHG2017 commented on #360
Hi, may I inquire if this issue has been fixed or not ?

[2019-02-20 18:29] tmarkov commented on #352
That actually survived restart, but then I went to the firmware and disabled wifi, restarted, then re-enabled it, and then it worked fine again.

[2019-02-20 18:45] RussH commented on #389
nope, I get it under X11, but not under Wayland. Just;

[2019-02-20 21:03] nkkollaw commented on #352
Is there any way someone could give instructions on how to do that? I'm on the latest kernel and still experiencing the same problem.

Blacklisting mwlwifi kills internet, here.

[2019-02-20 21:15] tmarkov commented on #352
@nkkollaw You're having the problem where bluetooth mouse fixes the connection, right? It's a different problem than me, and I haven't seen a solution to that other than... sue a bluetooth device.

[2019-02-20 21:49] nkkollaw commented on #352
Ah, yes. But from what @jakeday was saying it was solved with the kernel a few version ago. I guess I misunderstood.

[2019-02-20 22:02] tmarkov opened #399 "Suspend suddenly stopped working (it now wakes up imemdiately)"
I had suspend working on my SB(1) perfectly until yesterday. Suddenly, after a reboot today it stopped working. I have done no changes in configuration, and installed no new software. However, now if I try to suspend my SB, it wakes up immediately after suspend and the network is down (before, there was no problem with the network after wakeup). This prompted me to update with the latest patches,

[2019-02-21 14:20] qzed commented on #360
I think the best solution to the lag is: Use the Intel IGPU for normal desktop usage, and the Nvidia dGPU only for applications that really need it via optirun (or similar). This won't fix down-clocking on the Nvidia dGPU but should fix lags in casual desktop use. Fixing the down-clocking for disconnected AC probably requires a power-management driver, there are some hints on power-management of t

[2019-02-21 14:31] qzed commented on #387
On xorg, I think this should work: https://github.com/jakeday/linux-surface/issues/363#issuecomment-456482684. Haven't managed to do the same on Wayland yet (tried to use evtest/udev to remap keys as described [here](https://wiki.archlinux.org/index.php/map_scancodes_to_keycodes), but that didn't work out so far).

[2019-02-21 16:58] tmarkov commented on #399
Some more debug details:

Here's an error I get when I try to suspend attempt via /sys/power/state directly
[code]

After this the journal had these lines:

[code]

I notice they were not present in the journal I uploaded above. I somehow doubt I have suddenly encountered two separate issues that cause the exact same behavior, but I sometimes see these lines, and sometimes - not.

[journal.txt](ht

[2019-02-21 17:12] kitakar5525 commented on #399
What is the result of `sudo tail $(sudo find /sys -name wakeup) | grep -n1 enabled` ?
I disabled all the wakeup sources except Power Button.

[code]

[2019-02-21 19:21] tmarkov commented on #399
@kitakar5525 Disabling wakeup sources seems fix this for now. I'm still concerned about the fact that I did NOT change any configuration when this started up. I know I my wakeup sources were enabled before and didn't cause me problems. So somehow, the SB started behaving differently on its own.

[2019-02-21 19:23] #399 closed

[2019-02-21 19:44] tmarkov commented on #387
@qzed I just tried https://github.com/jakeday/linux-surface/issues/363#issuecomment-456482684 (on X) but it also remapped touchpad.

`Section "InputClass"
Identifier "ipts 1B96:005E Pen Pen (0)"
Option "ButtonMapping" "1 3 2 4 5 6 7"
EndSection
`

[2019-02-21 20:18] qzed commented on #387
@tmarkov Hmm I thought the `Identifier "ipts 1B96:005E Pen Pen (0)"` line should limit it to the pen, but apparently that doesn't work then. You could try and see if there's any other option to limit this to the pen device.

[2019-02-21 22:37] natask commented on #387
@qzed  thanks. works. didn't know it exposed that attribute.

I have the same issue @tmarkov is facing but for now a script containing `xinput set-button-map {device id} 1 3 2 4 5 6 7` suffices.

You mentioned that the eraser needs another driver. do you happen to know where I can get it for Xorg? it works out the box on Wayland but I don't know which drivers it uses and also whether they can be u

[2019-02-21 22:57] natask commented on #389
strange. I get the following.
⎡ Virtual core pointer                    	id=2	[master pointer  (3)]
⎜   ↳ Virtual core XTEST pointer              	id=4	[slave  pointer  (2)]
⎜   ↳ xwayland-pointer:15                     	id=6	[slave  pointer  (2)]
⎜   ↳ xwayland-relative-pointer:15            	id=7	[slave  pointer  (2)]
⎜   ↳ xwayland-touch:15                       	id=9	[slave  pointer  (2)]
⎜

[2019-02-22 09:22] btearle commented on #360
Yep this is the solution I've been using. The vast majority of the time I don't need to be using the NVIDIA dGPU, so I just keep the Intel IGPU active which causes no issues.

[2019-02-22 19:39] stefanpoensgen commented on #354
i don't think this is related to the linux surface kernel. i even noticed this with the 4.15 kernel in ubuntu 18.04.

[2019-02-22 20:20] kuyanik opened #400 "Surface Laptop"
I observed that the touchpad "tapping" stops working after a while. I have tried to play with libinput settings but no avail.

[2019-02-22 21:11] ZZZXXX0110 commented on #398
I seem to have managed to fix this by enabling Intel GPU's built-in anti-tearing mode by creating a .conf file under /usr/share/X11/xorg.conf.d with following content:
[code]
It's probably still not absolutely prefect but at the tearing in portrait mode is significantly reduced. I have not observed any performance decrease or increased battery consumption with acceleration mode set as SNA.

[2019-02-22 21:13] ZZZXXX0110 commented on #395
Is there any way I could help collecting additional error log to help diagnosis and solving this issue?

[2019-02-22 23:27] qzed commented on #387
@natask I the eraser functionality should work without any issues (both xorg and wayland). I previously thought that the button at the eraser-end of the pen would maybe need another driver (at that time I hadn't really looked into that), but that actually seems to be handled via a bluetooth keyboard device (specifically `Surface Pen Keyboard` in `/proc/bus/input/devices`) once paired correctly.

[2019-02-23 02:22] natask commented on #387
@qzed
I see. I will try to edit the Key attribute and change what the  button on the Top does. I had looked at it using evtest before but I didn't know how to change the keys generated when it is pressed.

I was referring to the second button on side of the old version of the surface pen in my last post. It works on Wayland and is registered as xwayland-eraser:15. My thinking is that if I could fi

[2019-02-23 04:05] lynscott commented on #194
@qzed How did you get the fans/readings working? I'm replicating with a 410 driver, the fans seem to come on but the temp never drops below 64(C). Testing with glxgears but I will try with a more advanced gpu test also. I can verify it is working via nvidia-smi though. I just want to make sure its not under clocking to death or over heating.

![nv410](https://user-images.githubusercontent.com/2938

[2019-02-23 05:11] natask commented on #387
@tmarkov try this.
Section "InputClass"
        Identifier "Surface pen libiput"
        MatchIsTablet "on"
        MatchDevicePath "/dev/input/event*"
	Option "ButtonMapping" "1 3 2 4 5 6 7"
        Driver "libinput"
EndSection

the issue was that the entry was also matching the touchpad. MatchOnTablet solves the problem.